<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" style="--background:white !important">
    <ion-buttons slot="start">
      <ion-button (click)="onback()" fill="clear">
        <ion-icon class="text-primary-default" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="md" class="dynamic-font text-primary-default pl-0 pr-0">
      <h2 class="my-2 mx-0 font-weight-bold">Tạo kiện ký gửi</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" style="--background:white !important;">
  
  <ion-grid [fixed]="true" style="margin: auto">
    <ion-row [formGroup]="formGroup">
      <ion-col size="12">
        <div class="alert alert-warning d-flex" role="alert">
          <div class="alert alert-warning p-0 d-flex" role="alert" style="margin-top: 1em;border: unset !important;">
            <i class="bi bi-exclamation-triangle-fill icon-16 mr-2"></i>
            <div>
              <ion-text class="mb-0 dynamic-font text-dark">
                <b>Lưu ý:</b>
              </ion-text>
              <br>
              <ion-text class="mb-0 dynamic-font text-dark">
                - Có thể tạo nhiều Mã Vận Đơn cùng lúc bằng dấu "," hoặc ":". Ví dụ: mavandon1,mavandon2 hoặc mavandon1;mavandon2
              </ion-text>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col size="12">
        <mat-form-field appearance="outline" class="w-100 mb-2">
          <mat-label>Mã vận đơn (bắt buộc)</mat-label>
          <input (focus)="onfocus(elePackageCode)" #elePackageCode formControlName="packageCode" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Phương thức vận chuyển (không bắt buộc)</mat-label>
          <mat-select #eleMovingMethod formControlName="movingMethod">
            <mat-option [value]="1">Nhanh</mat-option>
            <mat-option [value]="2">Thường</mat-option>
            <mat-option [value]="3">Bộ</mat-option>
            <mat-option [value]="4">Bộ lô</mat-option>
            <mat-option [value]="5">Biển</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Kho (không bắt buộc)</mat-label>
          <mat-select #eleWareHouse formControlName="wareHouse">
            <mat-option [value]="'1'">Đông quản</mat-option>
            <mat-option [value]="'2'">Phật sơn</mat-option>
          </mat-select>
        </mat-form-field>
        <ion-text>
          <h5 class="mx-0 my-0 font-weight-bold dynamic-font text-orange">Dịch vụ</h5>
        </ion-text>
        <div class="row mb-3">
          <div class="col-3">
            <div class="d-flex align-items-center" style="flex-direction: column;">
              <mat-checkbox formControlName="isWoodPackage"></mat-checkbox>
              <ion-text class="dynamic-font text-dark font-weight-bold">
                <span>Đóng gỗ</span>
              </ion-text>
            </div>
          </div>
          <div class="col-3">
            <div class="d-flex align-items-center" style="flex-direction: column;">
              <mat-checkbox formControlName="isAirPackage"></mat-checkbox>
              <ion-text class="dynamic-font text-dark font-weight-bold">
                <span>Túi khí</span>
              </ion-text>
            </div>
          </div>
          <div class="col-3">
            <div *ngIf="!isReview" class="d-flex align-items-center" style="flex-direction: column;">
              <mat-checkbox formControlName="isInsurance"></mat-checkbox>
              <ion-text class="dynamic-font text-dark font-weight-bold">
                <span>Bảo hiểm</span>
              </ion-text>
            </div>
          </div>
          <div class="col-3">
            <div class="d-flex align-items-center" style="flex-direction: column;">
              <mat-checkbox formControlName="isBrand"></mat-checkbox>
              <ion-text class="dynamic-font text-dark font-weight-bold">
                <span>Hàng hiệu</span>
              </ion-text>
            </div>
          </div>
        </div>
        <ng-container *ngIf="formGroup.value.isInsurance">
          <ion-text>
            <h5 class="mx-0 my-0 font-weight-bold dynamic-font text-orange">Kê khai</h5>
          </ion-text>
          <mat-form-field appearance="outline" class="w-100 mt-3">
            <mat-label>Tên sản phẩm</mat-label>
            <input (focus)="onfocus(eleDeclaration)" #eleDeclaration formControlName="declaration" matInput>
          </mat-form-field>  
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Giá</mat-label>
            <input (focus)="onfocus(eleDeclarePrice)" inputmode="numeric" type="text" (keyup)="valueChange($event,'declarePrice')" #eleDeclarePrice formControlName="declarePrice" matInput>
          </mat-form-field>  
        </ng-container>
        <mat-form-field appearance="outline" class="w-100 mt-2">
          <mat-label>Nhập mô tả</mat-label>
          <textarea (focus)="onfocus(eleNote)" formControlName="note" [maxLength]="70" #eleNote matInput></textarea>
        </mat-form-field>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- create package -->
  <ion-modal id="modal-dialog" style="--background:white !important" (willDismiss)="cancelCopy()" [isOpen]="isOpenCopy">
    <ng-template>
      <div class="p-3 w-100 h-100">
        <div class="w-100 mb-3">
          <ion-text class="dynamic-font text-center text-dark">
            <h3 class="mx-0 my-0 font-weight-bold">Tìm thấy mã kiện hàng</h3>
          </ion-text>
        </div>
        <div class="w-100 text-center">
          <ion-text class="dynamic-font text-dark">
            <span>Bạn có muốn tạo kiện hàng mới từ mã </span>
          </ion-text>
          <ion-text style="color: var(--ion-color-mat-primary) !important;" class="dynamic-font">
            <span>{{textCopy}}</span>
          </ion-text>
          <ion-text class="dynamic-font text-dark">
            <span>?</span>
          </ion-text>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-3">
          <ion-button (click)="onCopy()" mode="ios" size="default" class="ion-btn-default me-3">
            <ion-text style="color: white !important;" class="dynamic-font">
              Đồng ý
            </ion-text>
          </ion-button>
          <ion-button (click)="cancelCopy()" mode="ios" size="default" color="medium">
            <ion-text style="color: white !important;" class="dynamic-font">
              Hủy bỏ
            </ion-text>
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
  <!-- create package -->
</ion-content>
<ion-footer *ngIf="!isHideFooter" class="ion-no-border" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;">
  <ng-container *ngIf="!isEdit">
    <ion-toolbar mode="ios" style="--background:white !important">
      <ion-button mode="ios" (click)="save()" class="ion-btn-orange" expand="block">
        <ion-text class="dynamic-font font-weight-bold" style="color: white !important;">
          <span>TẠO KIỆN HÀNG</span>
        </ion-text>
      </ion-button>
    </ion-toolbar>
    <ion-toolbar mode="ios" style="--background:white !important">
      <ion-button mode="ios" (click)="reset()" color="medium" expand="block">
        <ion-text class="dynamic-font font-weight-bold" style="color: white !important;">
          <span>NHẬP LẠI</span>
        </ion-text>
      </ion-button>
    </ion-toolbar>
  </ng-container>
  <ng-container *ngIf="isEdit">
    <ion-toolbar mode="ios" style="--background:white !important">
      <ion-button mode="ios" (click)="update()" color="warning" expand="block">
        <ion-text class="dynamic-font font-weight-bold" style="color: white !important;">
          <span>CẬP NHẬT KIỆN HÀNG</span>
        </ion-text>
      </ion-button>
    </ion-toolbar>
  </ng-container>
</ion-footer>