
<ion-header class="ion-no-border" style="--background:white !important;">
  <ion-toolbar mode="ios" style="--background:white !important">
    <ion-buttons slot="start">
      <ion-button (click)="onback()" fill="clear">
        <ion-icon class="text-primary-default" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="md" class="dynamic-font text-primary-default pl-0 pr-0">
      <h2 class="my-2 mx-0 font-weight-bold">Chi tiết kiện hàng</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="--background:white !important;">
  <div class="w-100">
    <ion-list *ngIf="oData" class="m-0" style="background-color:white !important;">
      <ion-item lines="none" style="--background:white !important">
        <ion-card class="w-100 mx-1 my-2" mode="ios" style="--background:white !important;box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px !important;font-size: unset !important;">
          <ion-card-header style="padding-bottom: 2em;">
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text class="dynamic-font text-dark font-weight-bold">
                  Mã Kiện
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text class="dynamic-font pr-2">
                  {{oData.packageCode}}
                </ion-text>
                <ion-icon [cdkCopyToClipboard]="oData.packageCode" (click)="onCopy()" style="font-size: 2rem;"
                    name="copy-outline"></ion-icon>
              </div>
            </div>
          </ion-card-header>
          <ion-card-content>
            <div class="w-100 h-100">
              <div style="position: relative;margin-top: 5rem;" class="w-100 h-100">
                <div style="border: 4px solid rgb(170, 170, 170);border-left: none;" class="w-100 h-100 pt-4 pb-4 pl-2 pr-2">
                  <!-- line so 1-->
                  <div *ngIf="oData?.cnwhExpectation != null && (oData?.exportedCNWH == null || oData?.exportedCNWH == '') && oData?.status < 2" class="h-100 border-gradient-1-indeterminate"></div>
                  <div *ngIf="oData?.cnwhExpectation != null && oData?.exportedCNWH != null" class="h-100 border-gradient-1-active"></div>
                  <div *ngIf="
                  (oData?.cnwhExpectation == null && oData?.exportedCNWH != null && oData?.status >= 2) 
                  || (oData?.cnwhExpectation != null && oData?.exportedCNWH == null && oData?.status >= 2) 
                  || (oData?.cnwhExpectation == null && oData?.exportedCNWH == null && oData?.status >= 2)" class="h-100 border-gradient-1-active"></div>
                  <!-- line so 1-->
                   
                  <!-- line so 2-->
                  <div *ngIf="oData?.exportedCNWH != null && (oData?.dateExpectation == null || oData?.dateExpectation == '') && oData?.status < 3" class="w-100 border-gradient-2-indeterminate"></div>
                  <div *ngIf="oData?.exportedCNWH != null && oData?.dateExpectation != null" class="w-100 border-gradient-2-active"></div>
                  <div *ngIf="
                  (oData?.exportedCNWH == null && oData?.dateExpectation != null && oData?.status >= 3) 
                  || (oData?.exportedCNWH != null && oData?.dateExpectation == null && oData?.status >= 3) 
                  || (oData?.exportedCNWH == null && oData?.dateExpectation == null && oData?.status >= 3)"  class="w-100 border-gradient-2-active"></div>
                  <!-- line so 2-->

                  <!-- line so 3-->
                  <div *ngIf="oData?.dateExpectation != null && (oData?.inspectedDate == null || oData?.inspectedDate == '') && oData?.status < 4" class="h-100 border-gradient-3-indeterminate"></div>
                  <div *ngIf="oData?.dateExpectation != null && oData?.inspectedDate != null" class="h-100 border-gradient-3-active"></div>
                  <div *ngIf="
                  (oData?.dateExpectation == null && oData?.inspectedDate != null && oData?.status >=4)
                  || (oData?.dateExpectation != null && oData?.inspectedDate == null && oData?.status >=4)
                  || (oData?.dateExpectation == null && oData?.inspectedDate == null && oData?.status >=4)"  class="h-100 border-gradient-3-active"></div>
                  <!-- line so 3-->

                  <div style="flex-direction: column;
                                  left: -0.5em;
                                  position: absolute;
                                  top: -3.1em;" class="d-flex">
                    <div style="flex-direction: column;" class="d-flex">
                      <span class="font-weight-bold" style="font-size: 0.7rem;">
                        Đã kí nhận
                      </span>
                      <ion-text color="medium" class="dynamic-font">
                        <span *ngIf="oData.cnwhExpectation != null" style="font-size: 0.7rem;">
                          {{oData?.cnwhExpectation | formatdate : 'dd/MM/yyyy hh:mm a'}}
                        </span>
                        <span *ngIf="(oData.cnwhExpectation == null || oData.cnwhExpectation == '')" style="font-size: 0.7rem;">
                          (chưa có)
                        </span>
                      </ion-text>
                    </div>
                    <div class="circle-timeline-1"><span class="font-weight-bold">1</span></div>
                  </div>
                  <div style="flex-direction: column;
                                  right: -0.6rem;
                                  position: absolute;
                                  top: -3.1rem;" class="d-flex">
                    <div style="flex-direction: column;text-align: end;" class="d-flex">
                      <span class="font-weight-bold" style="font-size: 0.7rem;">
                        Xuất kho Trung Quốc
                      </span>
                      <ion-text color="medium" class="dynamic-font">
                        <span *ngIf="oData.exportedCNWH != null" style="font-size: 0.7rem;">
                          {{oData?.exportedCNWH | formatdate : 'dd/MM/yyyy hh:mm a'}}
                        </span>
                        <span *ngIf="(oData.exportedCNWH == null || oData.exportedCNWH == '')" style="font-size: 0.7rem;">
                          (chưa có)
                        </span>
                      </ion-text>
                    </div>
                    <div class="d-flex align-items-center justify-content-end">
                      <div class="circle-timeline-2"><span class="font-weight-bold">2</span></div>
                    </div>
                  </div>
                  <div style="flex-direction: column;
                                  right: -0.5rem;
                                  position: absolute;
                                  bottom: -3rem;" class="d-flex">
                    <div style="flex-direction: column;text-align: end;" class="d-flex">
                      <div class="d-flex align-items-center justify-content-end">
                        <div class="circle-timeline-3"><span class="font-weight-bold">3</span></div>
                      </div>
                      <span class="font-weight-bold" style="font-size: 0.7rem;">
                        Đang trên đường về HCM
                      </span>
                      <ion-text color="medium" class="dynamic-font">
                        <span *ngIf="oData?.dateExpectation != null" style="font-size: 0.7rem;">
                          {{oData?.dateExpectation}}
                        </span>
                        <span *ngIf="(oData?.dateExpectation == null || oData?.dateExpectation == '')" style="font-size: 0.7rem;">
                          (chưa có)
                        </span>
                      </ion-text>
                    </div>
                  </div>
                  <div style="flex-direction: column;
                                  left: -0.5rem;
                                  position: absolute;
                                  bottom: -3rem;" class="d-flex">
                    <div style="flex-direction: column;width: 150px;text-align: center;" class="d-flex">
                      <div style="z-index: 1000;" class="circle-timeline-4"><span class="font-weight-bold">4</span></div>
                      <span class="font-weight-bold" style="font-size: 0.7rem;">
                        Hàng bị HQ kiểm
                      </span>
                      <ion-text color="medium" class="dynamic-font">
                        <span *ngIf="oData?.inspectedDate != null" style="font-size: 0.7rem;">
                          {{oData?.inspectedDate | formatdate : 'dd/MM/yyyy hh:mm a'}}
                        </span>
                        <span *ngIf="(oData?.inspectedDate == null || oData?.inspectedDate == '')" style="font-size: 0.7rem;">
                          (chưa có)
                        </span>
                      </ion-text>
                    </div>
                  </div>
                  <ion-text class="dynamic-font" style="font-size: 0.7rem;">
                    <span>{{content1}}</span>
                    <br>
                    <span>{{content2}}</span>
                  </ion-text>
                </div>
              </div>
              <div style="position: relative;" class="w-100 h-100">
                <div style="border: 4px solid rgb(170, 170, 170);border-right: none;border-top: none;padding-top: 4rem;" class="w-100 h-100 pb-4 pl-2 pr-2">
                  <!-- line so 4-->
                  <div *ngIf="oData?.inspectedDate != null && (oData?.clearanceDate == null || oData?.clearanceDate == '') && oData?.status < 5" class="w-100 border-gradient-4-indeterminate"></div>
                  <div *ngIf="oData?.inspectedDate != null && oData?.clearanceDate != null" class="w-100 border-gradient-4-active"></div>
                  <div *ngIf="
                  (oData?.inspectedDate == null && oData?.clearanceDate != null && oData?.status >=5)
                  || (oData?.inspectedDate != null && oData?.clearanceDate == null && oData?.status >=5)
                  || (oData?.inspectedDate == null && oData?.clearanceDate == null && oData?.status >=5)" class="w-100 border-gradient-4-active"></div>
                  <!-- line so 4-->

                  <!-- line so 5-->
                  <div *ngIf="oData?.clearanceDate != null && (oData?.importedSGWH == null || oData?.importedSGWH == '') && oData?.status < 6" class="h-100 border-gradient-5-indeterminate"></div>
                  <div *ngIf="oData?.clearanceDate != null && oData?.importedSGWH != null" class="h-100 border-gradient-5-active"></div>
                  <div *ngIf="
                  (oData?.clearanceDate == null && oData?.importedSGWH != null && oData?.status >=6)
                  || (oData?.clearanceDate != null && oData?.importedSGWH == null && oData?.status >=6)
                  || (oData?.clearanceDate == null && oData?.importedSGWH == null && oData?.status >=6)" class="h-100 border-gradient-5-active"></div>
                  <!-- line so 5-->
                   
                  <!-- line so 6-->
                  <div *ngIf="oData?.importedSGWH != null && (oData?.receivedDate == null || oData?.receivedDate == '') && oData?.status < 7" class="h-100 border-gradient-6-indeterminate"></div>
                  <div *ngIf="oData.importedSGWH != null && oData?.receivedDate != null" class="h-100 border-gradient-6-active"></div>
                  <div *ngIf="
                  (oData?.importedSGWH == null && oData?.receivedDate != null && oData?.status == 7)
                  || (oData?.importedSGWH != null && oData?.receivedDate == null && oData?.status == 7)
                  || (oData?.importedSGWH == null && oData?.receivedDate == null && oData?.status == 7)" class="h-100 border-gradient-6-active"></div>
                  <!-- line so 6-->

                  <div style="flex-direction: column;
                                  left: -0.5rem;
                                  position: absolute;
                                  bottom: -3rem;" class="d-flex">
                    <div style="flex-direction: column;" class="d-flex">
                      <div class="circle-timeline-5"><span class="font-weight-bold">5</span></div>
                      <span class="font-weight-bold" style="font-size: 0.7rem;">
                        Đã thông quan
                      </span>
                      <ion-text color="medium" class="dynamic-font">
                        <span *ngIf="oData?.clearanceDate != null" style="font-size: 0.7rem;">
                          {{oData?.clearanceDate | formatdate : 'dd/MM/yyyy hh:mm a'}}
                        </span>
                        <span *ngIf="(oData?.clearanceDate == null || oData?.clearanceDate == '')" style="font-size: 0.7rem;">
                          (chưa có)
                        </span>
                      </ion-text>
                    </div>
                  </div>
                  <div style="flex-direction: column;
                                  left: 40%;
                                  position: absolute;
                                  bottom: -3rem;" class="d-flex">
                    <div style="flex-direction: column;" class="d-flex">
                      <div class="circle-timeline-6"><span class="font-weight-bold">6</span></div>
                      <span class="font-weight-bold" style="font-size: 0.7rem;">
                        Đã về kho HCM
                      </span>
                      <ion-text color="medium" class="dynamic-font">
                        <span *ngIf="oData.importedSGWH != null" style="font-size: 0.7rem;">
                          {{oData?.importedSGWH | formatdate : 'dd/MM/yyyy hh:mm a'}}
                        </span>
                        <span *ngIf="(oData?.importedSGWH == null || oData?.importedSGWH == '')" style="font-size: 0.7rem;">
                          (chưa có)
                        </span>
                      </ion-text>
                    </div>
                  </div>
                  <div style="flex-direction: column;
                                  right: 0rem;
                                  position: absolute;
                                  bottom: -3rem;" class="d-flex">
                    <div style="flex-direction: column;text-align: end;" class="d-flex">
                      <div class="d-flex align-items-center justify-content-end">
                        <div class="circle-timeline-7"><span class="font-weight-bold">7</span></div>
                      </div>
                      <span class="font-weight-bold" style="font-size: 0.7rem;">
                        Đã nhận hàng
                      </span>
                      <ion-text color="medium" class="dynamic-font">
                        <span *ngIf="oData.receivedDate != null" style="font-size: 0.7rem;">
                          {{oData?.receivedDate | formatdate : 'dd/MM/yyyy hh:mm a'}}
                        </span>
                        <span *ngIf="(oData.receivedDate == null || oData.receivedDate == '')" style="font-size: 0.7rem;">
                          (chưa có)
                        </span>
                      </ion-text>
                    </div>
                  </div>
                  <ion-text class="dynamic-font" style="font-size: 0.7rem;">
                    <span>{{content3}}</span>
                  </ion-text>
                </div>
              </div>
            </div>
            <div class="w-100" style="border: 1px solid #ececec;border-radius: 1em;margin-top: 5rem;">
              <ion-grid fixed>
                <ion-row>
                  <ion-col>
                    <div style="padding-bottom: 1em;" class="d-flex align-items-center">
                      <ion-text class="dynamic-font text-orange">
                        <span style="font-size: 0.8rem;">
                          Hãy gửi yêu cầu khiếu nại hoặc liên hệ hotline, nếu các dự kiến bị chậm trễ hơn 72 tiếng đồng hồ.
                        </span>
                      </ion-text>
                    </div>
                    <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                      <div>
                        <ion-text class="dynamic-font text-dark font-weight-bold">
                          Trạng thái đơn
                        </ion-text>
                      </div>
                      <div class="d-flex align-items-center">
                        <ng-container [ngSwitch]="oData.status">
                          <ion-badge mode="md" *ngSwitchDefault color="medium">
                            <ion-text style="font-size: 1rem;color: white !important;" class="dynamic-font">
                              <span>Chưa xác nhận</span>
                            </ion-text>
                          </ion-badge>
                          <ion-badge mode="md" *ngSwitchCase="2" color="tertiary">
                            <ion-text style="font-size: 1rem;color: white !important;" class="dynamic-font">
                              <span>Hàng về kho TQ</span>
                            </ion-text>
                          </ion-badge>
                          <ion-badge mode="md" *ngSwitchCase="3" color="secondary">
                            <ion-text style="font-size: 1rem;color: white !important;" class="dynamic-font">
                              <span>Đang về HCM</span>
                            </ion-text>
                          </ion-badge>
                          <ion-badge mode="md" *ngSwitchCase="4" style="--background	: #69c6fd !important;">
                            <ion-text style="font-size: 1rem;color: white !important;" class="dynamic-font">
                              <span>Hàng bị kiểm tra</span>
                            </ion-text>
                          </ion-badge>
                          <ion-badge mode="md" *ngSwitchCase="5" style="--background	: orange !important;">
                            <ion-text style="font-size: 1rem;color: white !important;" class="dynamic-font">
                              <span>Đã thông quan</span>
                            </ion-text>
                          </ion-badge>
                          <ion-badge mode="md" *ngSwitchCase="6" color="primary">
                            <ion-text style="font-size: 1rem;color: white !important;" class="dynamic-font">
                              <span>Hàng về tới HCM</span>
                            </ion-text>
                          </ion-badge>
                          <ion-badge mode="md" *ngSwitchCase="7" style="--background	: var(--ion-color-mat-primary) !important;">
                            <ion-text style="font-size: 1rem;color: white !important;" class="dynamic-font">
                              <span>Đã nhận hàng</span>
                            </ion-text>
                          </ion-badge>
                          <ion-badge mode="md" *ngSwitchCase="9" color="dark">
                            <ion-text style="font-size: 1rem;color: white !important;" class="dynamic-font">
                              <span>Đã hủy</span>
                            </ion-text>
                          </ion-badge>
                          <ion-badge mode="md" *ngSwitchCase="11" color="dark">
                            <ion-text style="font-size: 1rem;color: white !important;" class="dynamic-font">
                              <span>Không nhận được hàng</span>
                            </ion-text>
                          </ion-badge>
                        </ng-container>
                      </div>
                    </div>
                    <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                      <div>
                        <ion-text class="dynamic-font text-dark font-weight-bold">
                          Loại vận chuyển
                        </ion-text>
                      </div>
                      <div class="d-flex align-items-center">
                        <ng-container [ngSwitch]="oData.movingMethod">
                          <ion-text *ngSwitchCase="1" class="dynamic-font">
                            Nhanh
                          </ion-text>
                          <ion-text *ngSwitchCase="2" class="dynamic-font">
                            Thường
                          </ion-text>
                          <ion-text *ngSwitchCase="3" class="dynamic-font">
                            Bộ
                          </ion-text>
                          <ion-text *ngSwitchCase="4" class="dynamic-font">
                            Bộ lô
                          </ion-text>
                          <ion-text *ngSwitchCase="5" class="dynamic-font">
                            Biển
                          </ion-text>
                          <ion-text *ngSwitchDefault class="dynamic-font">
                            Chưa thiết lập
                          </ion-text>
                        </ng-container>
                        
                      </div>
                    </div>
                    <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                      <div>
                        <ion-text class="dynamic-font text-dark font-weight-bold">
                          Ngày lên đơn
                        </ion-text>
                      </div>
                      <div class="d-flex align-items-center">
                        <ion-text class="dynamic-font">
                          {{oData.createdDate | date : 'dd/MM/yyyy hh:mm a'}}
                        </ion-text>
                      </div>
                    </div>
                    <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                      <div>
                        <ion-text class="dynamic-font text-dark font-weight-bold">
                          Vận chuyển
                        </ion-text>
                      </div>
                      <div class="d-flex align-items-center">
                        <ion-text class="dynamic-font">
                          {{(oData.weight ? oData.weight : '0')+'kg'}}
                        </ion-text>
                      </div>
                    </div> 
                    <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                      <div>
                        <ion-text class="dynamic-font text-dark font-weight-bold">
                          Mô tả
                        </ion-text>
                      </div>
                      <div class="d-flex align-items-center">
                        <ion-text class="dynamic-font">
                          {{oData?.note}}
                        </ion-text>
                      </div>
                    </div> 
                    <div *ngIf="oData.isWoodPackage || oData.isAirPackage || oData.isInsurance" style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                      <div>
                        <ion-text class="text-orange dynamic-font font-weight-bold">
                          Dịch vụ phụ
                        </ion-text>
                      </div>
                    </div>
                    <ng-container *ngIf="oData.isWoodPackage">
                      <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                        <div>
                          <ion-text class="dynamic-font text-dark font-weight-bold">
                            Đóng gỗ
                          </ion-text>
                        </div>
                        <div class="d-flex align-items-center">
                          <i class="bi bi-check2-circle"></i>
                        </div>
                      </div> 
                      <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                        <div>
                          <ion-text class="dynamic-font text-dark font-weight-bold">
                            Phí đóng gỗ
                          </ion-text>
                        </div>
                        <div class="d-flex align-items-center">
                          <ion-text class="dynamic-font">
                            {{((oData.woodPackagePrice != null ? oData.woodPackagePrice : 0 ) | number)+'đ'}}
                          </ion-text>
                        </div>
                      </div> 
                    </ng-container>
                    <ng-container *ngIf="oData.isAirPackage">
                      <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                        <div>
                          <ion-text class="dynamic-font text-dark font-weight-bold">
                            Bọt khí
                          </ion-text>
                        </div>
                        <div class="d-flex align-items-center">
                          <i class="bi bi-check2-circle"></i>
                        </div>
                      </div> 
                      <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                        <div>
                          <ion-text class="dynamic-font text-dark font-weight-bold">
                            Phí bọt khí
                          </ion-text>
                        </div>
                        <div class="d-flex align-items-center">
                          <ion-text class="dynamic-font">
                            {{((oData.airPackagePrice != null ? oData.airPackagePrice : 0) | number)+'đ'}}
                          </ion-text>
                        </div>
                      </div> 
                    </ng-container>
                    <ng-container *ngIf="oData.isBrand">
                      <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                        <div>
                          <ion-text class="dynamic-font text-dark font-weight-bold">
                            Hàng hiệu
                          </ion-text>
                        </div>
                        <div class="d-flex align-items-center">
                          <i class="bi bi-check2-circle"></i>
                        </div>
                      </div> 
                    </ng-container>
                    <ng-container *ngIf="(oData.weightExchange | tranformDouble) > 0">
                      <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                        <div>
                          <ion-text class="dynamic-font text-dark font-weight-bold">
                            Đo lên
                          </ion-text>
                        </div>
                        <div class="d-flex align-items-center">
                          <ion-text class="dynamic-font">
                            {{'('+ (oData.length | number)+'x'+ (oData.width | number) + 'x' + (oData.height | number) +')'}}
                            &nbsp;
                            {{(oData.weightExchange | number) +'kg'}}
                          </ion-text>
                        </div>
                      </div> 
                    </ng-container>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
            <div class="w-100 pt-3 d-flex align-items-center scroll-hidden overflow-auto">
              <ion-button style="margin-left: auto;" (click)="openPopPackage(oData)" mode="ios" size="default" class="ion-btn-default">
                <ion-icon style="color: white !important;" slot="start" name="create-outline"></ion-icon>
                <ion-text style="color: white !important;" class="dynamic-font">
                  Nhập mô tả
                </ion-text>
              </ion-button>
              <ng-container *ngIf="oData?.status >= 2">
                <div [style]="(oData?.status >= 2 && oData?.status != 9 && (oData?.transID == '' || oData?.transID == null)) ? 'margin-right: auto !important' : ''" class="d-flex align-items-center">
                  <ion-button (click)="checkFirst(oData)" mode="ios" size="default" class="ion-btn-orange">
                    <ion-icon style="color: white !important;" slot="start" name="checkmark-circle-outline"></ion-icon>
                    <ion-text style="color: white !important;" class="dynamic-font">
                      Kiểm tra hàng
                    </ion-text>
                  </ion-button>
                  <div (click)="openPopDescrip()" style="background-color: grey !important;border-radius: 50px;margin-top: -3rem;
                                    left: 2rem;
                                    margin-left: -1rem;
                                    z-index: 1000;" class="d-flex align-items-center justify-content-center">
                    <ion-icon style="font-size: 1.5rem;" class="text-white" name="information-circle-outline"></ion-icon>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="(oData?.transID != '' && oData?.transID != null)">
                <ion-button [style]="(oData?.transID != '' && oData?.transID != null) ? 'margin-right: auto !important' : ''" (click)="openPopViewOrder(oData)" mode="ios" size="default" class="ion-btn-light-primary">
                  <ion-icon style="color: white !important;" slot="start" name="eye-outline"></ion-icon>
                  <ion-text style="color: white !important;" class="dynamic-font">
                    Xem đơn hàng
                  </ion-text>
                </ion-button>
              </ng-container>
              <ng-container *ngIf="oData?.status < 2">
                <ion-button (click)="openPopCancelPackage(oData)" mode="ios" size="default" color="medium">
                  <ion-icon style="color: white !important;" slot="start" name="stop-circle-outline"></ion-icon>
                  <ion-text style="color: white !important;" class="dynamic-font">
                    Hủy đơn
                  </ion-text>
                </ion-button>
                <ion-button style="margin-right: auto;" (click)="openPopDeletePackage(oData)" mode="ios" size="default" color="danger">
                  <ion-icon style="color: white !important;" slot="start" name="trash-outline"></ion-icon>
                  <ion-text style="color: white !important;" class="dynamic-font">
                    Xóa đơn
                  </ion-text>
                </ion-button>
              </ng-container>
              <ng-container *ngIf="oData?.status == 9 && oData?.canceledBy == username">
                <ion-button style="margin-right: auto;" (click)="openPopRestorePackage(oData)" mode="ios" size="default" color="success">
                  <ion-icon style="color: white !important;" slot="start" name="sync-circle-outline"></ion-icon>
                  <ion-text style="color: white !important;" class="dynamic-font">
                    Khôi phục
                  </ion-text>
                </ion-button>
              </ng-container>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
  </div>
  <!-- update note -->
  <ion-modal id="modal-dialog" style="--background:white !important" (willDismiss)="cancelEdit()" [isOpen]="isOpenEditPackage">
    <ng-template>
      <div class="p-3 w-100 h-100">
        <div class="w-100 mb-3">
          <ion-text class="dynamic-font text-center text-dark">
            <h3 class="mx-0 my-0 font-weight-bold">Nhập mô tả kiện hàng</h3>
          </ion-text>
        </div>
        <div class="w-100 text-center">
          <ion-text class="dynamic-font text-dark">
            <span>Quý khách có muốn nhập mô tả cho kiện hàng </span>
          </ion-text>
          <ion-text style="color: var(--ion-color-mat-primary) !important;" class="dynamic-font">
            <span>{{oData?.packageCode}}</span>
          </ion-text>
          <ion-text class="dynamic-font text-dark">
            <span> không?</span>
          </ion-text>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-3">
          <ion-button (click)="editPackage(oData)" mode="ios" size="default" class="ion-btn-default pr-3">
            <ion-text style="color: white !important;" class="dynamic-font">
              Đồng ý
            </ion-text>
          </ion-button>
          <ion-button (click)="cancelEdit()" mode="ios" size="default" color="medium">
            <ion-text style="color: white !important;" class="dynamic-font">
              Hủy bỏ
            </ion-text>
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
  <!-- update note -->

  <!-- CheckPackkage -->
  <ion-modal id="modal-dialog" style="--background:white !important" (willDismiss)="cancelCheck()" [isOpen]="isOpenCheckPackage">
    <ng-template>
      <div class="p-3 w-100 h-100">
        <div class="w-100 mb-3">
          <ion-text>
            <h3 class="mx-0 my-0 font-weight-bold dynamic-font text-center text-dark">Kiểm tra kiện hàng</h3>
          </ion-text>
        </div>
        <div class="w-100 text-center">
          <ion-text class="dynamic-font text-dark">
            <span>Khi kiểm tra hàng được vận chuyển nội địa bên Trung Quốc,Quý khách sẽ mất 1 điểm tra cứu! </span>
          </ion-text>
          <ion-text class="dynamic-font text-dark">
            <span>Quý khách có muốn tiếp tục kiểm tra kiện hàng </span>
          </ion-text>
          <ion-text style="color: var(--ion-color-mat-primary) !important;" class="dynamic-font">
            <span>{{oData?.packageCode}}</span>
          </ion-text>
          <ion-text class="dynamic-font text-dark">
            <span> không?</span>
          </ion-text>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-3">
          <ion-button (click)="continuteCheck(oData)" mode="ios" size="default" class="ion-btn-default pr-3">
            <ion-text style="color: white !important;" class="dynamic-font">
              Đồng ý
            </ion-text>
          </ion-button>
          <ion-button (click)="cancelCheck()" mode="ios" size="default" color="medium">
            <ion-text style="color: white !important;" class="dynamic-font">
              Hủy bỏ
            </ion-text>
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
  <ion-modal id="modal-dialog" style="--background:white !important" (willDismiss)="cancelCheck2()" [isOpen]="isOpenCheckPackage2">
    <ng-template>
      <div class="p-3 w-100 h-100">
        <div class="w-100 mb-3">
          <ion-text class="dynamic-font text-center text-dark">
            <h3 class="mx-0 my-0 font-weight-bold">Kiểm tra kiện hàng</h3>
          </ion-text>
        </div>
        <div class="w-100" text-center>
          <ion-text class="dynamic-font text-dark">
            <span>Quý khách đã hết lượt tra cứu miễn phí, tiếp tục sẽ tốn phí </span>
          </ion-text>
          <ion-text style="color: var(--ion-color-mat-primary) !important;" class="dynamic-font">
            <span>500đ.</span>
          </ion-text>
          <ion-text class="dynamic-font text-dark">
            <span>Quý khách có muốn tiếp tục?</span>
          </ion-text>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-3">
          <ion-button (click)="onCheckPackage(oData)" mode="ios" size="default" class="ion-btn-default pr-3">
            <ion-text style="color: white !important;" class="dynamic-font">
              Đồng ý
            </ion-text>
          </ion-button>
          <ion-button (click)="cancelCheck2()" mode="ios" size="default" color="medium">
            <ion-text style="color: white !important;" class="dynamic-font">
              Hủy bỏ
            </ion-text>
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
  <ion-modal id="modal-dialog" style="--background:white !important" (willDismiss)="cancelQueryPackage()" [isOpen]="isOpenQueryPackage">
    <ng-template>
      <div class="p-3 w-100 h-100">
        <div class="w-100 mb-3">
          <ion-text class="dynamic-font text-center text-dark">
            <h3 class="mx-0 my-0 font-weight-bold">Kiểm tra kiện hàng</h3>
          </ion-text>
        </div>
        <div class="w-100" text-center>
          <ion-text class="dynamic-font text-dark">
            <span>Quý khách đã đăng ký theo sát trạng thái kiện hàng, hãy yên tâm chờ thông báo nhé, hoặc Quý khách có thể bấm đồng ý để vẫn có thể kiểm tra lại!</span>
          </ion-text>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-3">
          <ion-button (click)="onCheckPackage(oData)" mode="ios" size="default" class="ion-btn-default pr-3">
            <ion-text style="color: white !important;" class="dynamic-font">
              Đồng ý
            </ion-text>
          </ion-button>
          <ion-button (click)="cancelQueryPackage()" mode="ios" size="default" color="medium">
            <ion-text style="color: white !important;" class="dynamic-font">
              Hủy bỏ
            </ion-text>
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>

  <ion-modal id="modal-dialog" style="--background:white !important" (willDismiss)="cancelNoQueryPackage()" [isOpen]="isOpenNoQueryPackage">
    <ng-template>
      <div class="p-3 w-100 h-100">
        <div class="w-100 mb-3">
          <ion-text class="dynamic-font text-center text-dark">
            <h3 class="mx-0 my-0 font-weight-bold">Kiểm tra kiện hàng</h3>
          </ion-text>
        </div>
        <div class="w-100" text-center>
          <ion-text class="dynamic-font text-dark">
            <span>Quý khách nhớ đăng ký gửi thông báo các trạng thái kiện hàng để theo dõi sát hơn nhé!</span>
          </ion-text>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-3">
          <ion-button (click)="onCheckPackage(oData)" mode="ios" size="default" class="ion-btn-default pr-3">
            <ion-text style="color: white !important;" class="dynamic-font">
              Đồng ý
            </ion-text>
          </ion-button>
          <ion-button (click)="cancelNoQueryPackage()" mode="ios" size="default" color="medium">
            <ion-text style="color: white !important;" class="dynamic-font">
              Hủy bỏ
            </ion-text>
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>

  <ion-modal id="modal-dialog" style="--background:white !important" (willDismiss)="cancelcheckFirst()" [isOpen]="isOpenCheckFirst">
    <ng-template>
      <div class="p-3 w-100 h-100">
        <div class="w-100 mb-3">
          <ion-text class="dynamic-font text-center text-dark">
            <h3 class="mx-0 my-0 font-weight-bold">Kiểm tra kiện hàng</h3>
          </ion-text>
        </div>
        <div class="w-100" text-center>
          <ion-text class="dynamic-font text-dark">
            <span>Hiện tại trạng thái kiện hàng là </span>
            <ng-container [ngSwitch]="oData?.status">
              <span *ngSwitchCase="4" class="text-primary-default">Hàng về tới HCM</span>
              <span *ngSwitchCase="5" class="text-primary-default">Đã nhận hàng</span>
              <span *ngSwitchCase="9" class="text-primary-default">Đã hủy</span>
              <span *ngSwitchCase="11" class="text-primary-default">Không nhận được hàng</span>
            </ng-container>
          </ion-text>
          <ion-text class="dynamic-font text-dark">
            <span>.Quý khách vẫn muốn xem lại quá trình vận chuyển trọng nội đia Trung Quốc?</span>
          </ion-text>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-3">
          <ion-button (click)="checkQuery(oData)" mode="ios" size="default" class="ion-btn-default pr-3">
            <ion-text style="color: white !important;" class="dynamic-font">
              Đồng ý
            </ion-text>
          </ion-button>
          <ion-button (click)="cancelcheckFirst()" mode="ios" size="default" color="medium">
            <ion-text style="color: white !important;" class="dynamic-font">
              Hủy bỏ
            </ion-text>
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
  <!-- CheckPackkage -->

  <!-- CancelPackkage -->
  <ion-modal id="modal-dialog" style="--background:white !important" (willDismiss)="cancelPopPackage()" [isOpen]="isOpenCancelPackage">
    <ng-template>
      <div class="p-3 w-100 h-100">
        <div class="w-100 mb-3">
          <ion-text class="dynamic-font text-center text-dark">
            <h3 class="mx-0 my-0 font-weight-bold">Hủy kiện hàng</h3>
          </ion-text>
        </div>
        <div class="w-100 text-center">
          <ion-text class="dynamic-font text-dark">
            <span>Quý khách có muốn hủy kiện hàng </span>
          </ion-text>
          <ion-text style="color: var(--ion-color-mat-primary) !important;" class="dynamic-font">
            <span>{{oData?.packageCode}}</span>
          </ion-text>
          <ion-text class="dynamic-font text-dark">
            <span> không?</span>
          </ion-text>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-3">
          <ion-button (click)="cancelPackage(oData)" mode="ios" size="default" class="ion-btn-default pr-3">
            <ion-text style="color: white !important;" class="dynamic-font">
              Đồng ý
            </ion-text>
          </ion-button>
          <ion-button (click)="cancelPopPackage()" mode="ios" size="default" color="medium">
            <ion-text style="color: white !important;" class="dynamic-font">
              Hủy bỏ
            </ion-text>
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
  <!-- CancelPackkage -->

  <!-- RestorePackkage -->
  <ion-modal id="modal-dialog" style="--background:white !important" (willDismiss)="cancelRestorePackage()" [isOpen]="isOpenRestorePackage">
    <ng-template>
      <div class="p-3 w-100 h-100">
        <div class="w-100 mb-3">
          <ion-text class="dynamic-font text-center text-dark">
            <h3 class="mx-0 my-0 font-weight-bold">Khôi phục kiện hàng</h3>
          </ion-text>
        </div>
        <div class="w-100 text-center">
          <ion-text class="dynamic-font text-dark">
            <span>Quý khách có muốn khôi phục kiện hàng </span>
          </ion-text>
          <ion-text style="color: var(--ion-color-mat-primary) !important;" class="dynamic-font">
            <span>{{oData?.packageCode}}</span>
          </ion-text>
          <ion-text class="dynamic-font text-dark">
            <span> không?</span>
          </ion-text>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-3">
          <ion-button (click)="restorePackage(oData)" mode="ios" size="default" class="ion-btn-default pr-3">
            <ion-text style="color: white !important;" class="dynamic-font">
              Đồng ý
            </ion-text>
          </ion-button>
          <ion-button (click)="cancelRestorePackage()" mode="ios" size="default" color="medium">
            <ion-text style="color: white !important;" class="dynamic-font">
              Hủy bỏ
            </ion-text>
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
  <!-- RestorePackkage -->

  <!-- DeletePackkage -->
  <ion-modal id="modal-dialog" style="--background:white !important" (willDismiss)="cancelDeletePackage()" [isOpen]="isOpenDeletePackage">
    <ng-template>
      <div class="p-3 w-100 h-100">
        <div class="w-100 mb-3">
          <ion-text class="dynamic-font text-center text-dark">
            <h3 class="mx-0 my-0 font-weight-bold">Xóa kiện hàng</h3>
          </ion-text>
        </div>
        <div class="w-100 text-center">
          <ion-text class="dynamic-font text-dark">
            <span>Quý khách có muốn xóa kiện hàng </span>
          </ion-text>
          <ion-text style="color: var(--ion-color-mat-primary) !important;" class="dynamic-font">
            <span>{{oData?.packageCode}}</span>
          </ion-text>
          <ion-text class="dynamic-font text-dark">
            <span> không?</span>
          </ion-text>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-3">
          <ion-button (click)="deletePackage(oData)" mode="ios" size="default" class="ion-btn-default pr-3">
            <ion-text style="color: white !important;" class="dynamic-font">
              Đồng ý
            </ion-text>
          </ion-button>
          <ion-button (click)="cancelDeletePackage()" mode="ios" size="default" color="medium">
            <ion-text style="color: white !important;" class="dynamic-font">
              Hủy bỏ
            </ion-text>
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
  <!-- DeletePackkage -->

  <!-- Descript -->
  <ion-modal id="modal-dialog" style="--background:white !important" (willDismiss)="cancelPopDescrip()" [isOpen]="isOpenDescript">
    <ng-template>
      <div class="p-3 w-100 h-100">
        <div class="w-100 mb-3">
          <ion-text class="dynamic-font text-center text-dark">
            <h3 class="mx-0 my-0 font-weight-bold">Kiểm tra kiện hàng</h3>
          </ion-text>
        </div>
        <div class="w-100 text-center">
          <ion-text class="dynamic-font text-dark">
            <span>Đây là chức năng kiểm tra lịch trình hàng trong nội địa Trung Quốc, dữ liệu được cung cấp bởi Baidu.</span>
          </ion-text>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-3">
          <ion-button (click)="cancelPopDescrip()" mode="ios" size="default" color="medium">
            <ion-text style="color: white !important;" class="dynamic-font">
              Đóng
            </ion-text>
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
  <!-- Descript -->
  
  <!-- ViewOrder -->
  <ion-modal id="modal-dialog" style="--background:white !important" (willDismiss)="cancelPopViewOrder()" [isOpen]="isOpenOrder">
    <ng-template>
      <div class="p-3 w-100 h-100">
        <div class="w-100 mb-3">
          <ion-text class="dynamic-font text-center text-dark">
            <h3 class="mx-0 my-0 font-weight-bold">Xem đơn hàng</h3>
          </ion-text>
        </div>
        <div class="w-100 text-center">
          <ion-text class="dynamic-font text-dark">
            <span>Quý khách có muốn xem đơn hàng của kiện hàng </span>
          </ion-text>
          <ion-text style="color: var(--ion-color-mat-primary) !important;" class="dynamic-font">
            <span>{{oData?.packageCode}}</span>
          </ion-text>
          <ion-text class="dynamic-font text-dark">
            <span> không?</span>
          </ion-text>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-3">
          <ion-button (click)="viewOrder(oData)" mode="ios" size="default" class="ion-btn-default pr-3">
            <ion-text style="color: white !important;" class="dynamic-font">
              Đồng ý
            </ion-text>
          </ion-button>
          <ion-button (click)="cancelPopViewOrder()" mode="ios" size="default" color="medium">
            <ion-text style="color: white !important;" class="dynamic-font">
              Hủy bỏ
            </ion-text>
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
  <!-- ViewOrder -->
</ion-content>