<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" class="bg-default">
    <ion-button slot="start" (click)="onback()" fill="clear">
      <ion-icon style="color: white !important" class="text-dark" name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title style="color: white !important;" class="dynamic-font text-dark">Đăng ký tài khoản</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" style="--background:white !important">
  <div class="d-flex align-items-center justify-content-center h-100">
    <ion-grid class="text-center" [fixed]="true" style="margin: auto;">
      <ion-row [formGroup]="formGroup">
        <ion-col size="12">
          <ion-card class="w-100 mx-0" mode="ios" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;margin-top: 0em;--background:white !important">
            <ion-card-header>
              <div style="flex-direction: column;" class="d-flex align-items-center justify-content-center">
                <!-- <img style="width: 15em;
                height: 15em;
                object-fit: cover;
                border-radius: 50%;" [src]="image ? 'data:image/jpeg;base64,'+image?.base64String : '../../../../assets/image/logo-user.png'" alt=""> -->
                <ion-avatar (click)="onOpen()" style="max-width: 120px !important;min-width: 120px;max-height: 120px;min-height: 120px;" >
                  <img [src]="image ? 'data:image/jpeg;base64,'+image?.base64String : '../../../../assets/image/logo-user.png'" />
                </ion-avatar>
                <!-- <ion-text class="mt-2">
                  <span (click)="onOpen()" style="color: var(--ion-color-mat-primary) !important" class="dynamic-font"><u>Chọn ảnh</u></span>
                </ion-text> -->
              </div>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label class="dynamic-font">Họ & tên</mat-label>
            <input #eleFullName formControlName="fullName" matInput>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label class="dynamic-font">Giới tính</mat-label>
            <mat-select #eleGender formControlName="gender">
              <mat-option class="dynamic-font" [value]="true">Nam</mat-option>
              <mat-option class="dynamic-font" [value]="false">Nữ</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label class="dynamic-font">Số điện thoại</mat-label>
            <input #elePhone formControlName="phone" matInput>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label class="dynamic-font">Email</mat-label>
            <input #eleEmail formControlName="email" matInput>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label class="dynamic-font">Địa chỉ</mat-label>
            <input #eleAddress formControlName="address" matInput>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label class="dynamic-font">Tên tài khoản</mat-label>
            <input #eleUserName formControlName="username" matInput>
          </mat-form-field>
          <div class="w-100">
            <mat-form-field class="w-100">
              <mat-label class="dynamic-font">Mật khẩu</mat-label>
              <input #elePassword formControlName="password" matInput [type]="!showPass ? 'password' : 'text'">
              <button class="d-flex align-items-center justify-content-center" mat-icon-button matSuffix (click)="showPass = !showPass">
                <ion-icon [name]="!showPass ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
              </button>
            </mat-form-field>
          </div> 
        </ion-col>
        <!-- <ion-col size="12">
          <span>Bạn đã có tài khoản? </span>
          <span (click)="goSignInPage()" style="color: #ffb400;"><u>Đăng nhập</u></span>
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </div>
  <ion-modal style="--background:white !important" [isOpen]="isOpen" (willDismiss)="onDismiss()" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
      <div class="p-3 w-100 h-100">
        <ion-text class="dynamic-fontr" style="color: var(--ion-color-mat-primary);">
          <h3>Chọn ảnh</h3>
        </ion-text>
        <ion-list [inset]="true" class="m-0" style="background-color:white !important;">
          <ion-item class="p-2" (click)="uploadImage('1')" lines="none" [button]="true" detail="false" style="--background:white !important">
            <!-- <ion-icon class="text-dark me-2" mode="ios" name="camera-outline"></ion-icon> -->
            <img class="pr-2" src="../../../../assets/image/icon-camera.png" alt="">
            <ion-text style="font-weight: bold;" class="text-dark" mode="ios" class="dynamic-font">Chụp ảnh</ion-text>
          </ion-item>
          <ion-item class="p-2" (click)="uploadImage('2')" lines="none" [button]="true" detail="false" style="--background:white !important">
            <!-- <ion-icon class="text-dark me-2" mode="ios" name="image-outline"></ion-icon> -->
            <img class="pr-2" src="../../../../assets/image/icon-picture.png" alt="">
            <ion-text style="font-weight: bold;" class="text-dark" mode="ios" class="dynamic-font">Chọn từ thư viện</ion-text>
          </ion-item>
          <ion-item class="p-2" (click)="onDismiss()" lines="none" [button]="true" detail="false" style="--background:white !important">
            <!-- <ion-icon class="text-dark me-2" mode="ios"  name="close-outline"></ion-icon> -->
            <img class="pr-2" src="../../../../assets/image/icon-close.png" alt="">
            <ion-text style="font-weight: bold;" class="text-dark" mode="ios" class="dynamic-font">Hủy</ion-text>
          </ion-item>
        </ion-list>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>
<ion-footer *ngIf="!isHideFooter" class="ion-no-border" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;">
  <ion-toolbar mode="ios" style="--background:white !important">
    <ion-button color="warning" mode="ios" (click)="onSignUp()" expand="block">
      <ion-text class="dynamic-font" style="color: white !important;">
        <span>ĐĂNG KÝ</span>
      </ion-text>
    </ion-button>
  </ion-toolbar>
</ion-footer>