<ion-app>
  <ion-content>
    <div class="d-flex align-items-center justify-content-center h-100">
      <ion-grid class="text-center" [fixed]="true" style="margin: auto">
        <ion-row>
          <ion-col size="12">
            <ion-card class="w-100 mx-0" mode="ios" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
              <ion-card-header>
                <div style="flex-direction: column;" class="d-flex align-items-center justify-content-center">
                  <img style="width: 25%;border-radius: 5rem;" src="../../../../assets/image/logo-user.png" alt="">
                  <ion-text class="font-weight-bold mt-2" color="primary">
                    <u>Chọn ảnh</u>
                  </ion-text>
                </div>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Họ & tên</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Giới tính</mat-label>
              <mat-select >
                <mat-option [value]="0">Nam</mat-option>
                <mat-option [value]="1">Nữ</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Số điện thoại</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Email</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Địa chỉ</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Tên tài khoản</mat-label>
              <input matInput>
            </mat-form-field>
            <div class="w-100">
              <mat-form-field class="w-100">
                <mat-label>Mật khẩu</mat-label>
                <input matInput [type]="!showPass ? 'password' : 'text'">
                <button class="d-flex align-items-center justify-content-center" mat-icon-button matSuffix (click)="showPass = !showPass">
                  <ion-icon [name]="!showPass ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
                </button>
              </mat-form-field>
            </div> 
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    
    <!-- <ion-card style="border: none;box-shadow: none;text-align: center;" class="mx-0">
      <ion-card-header style="padding-bottom: 0.4rem;padding-top: 0.4rem;">
        <ion-avatar style="display: block;
        margin-left: auto;
        margin-right: auto;">
          <img style="border-radius: 1rem;" src="../../../../assets/image/logo-user.png" alt="">
        </ion-avatar>
      </ion-card-header>
      <ion-card-content>
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col>
              <ion-item style="border: 1px solid #ced4da;border-radius: 1em;" lines="none" class="">
                <input name="userName" style="border: none;" type="text" class="form-control py-0 px-0" placeholder="Họ">
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item style="border: 1px solid #ced4da;border-radius: 1em" lines="none" class="">
                <input name="userName" style="border: none;" type="text" class="form-control py-0 px-0" placeholder="Tên">
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item style="border: 1px solid #ced4da;border-radius: 1em" lines="none">
                <ion-select class="ion-select-sign" style="border: none;background-color: white;" label="Giới tính" name="gender" interface="action-sheet">
                  <ion-select-option [value]="0">Nam</ion-select-option>
                  <ion-select-option [value]="1">Nữ</ion-select-option>
                </ion-select>
              </ion-item> 
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item style="border: 1px solid #ced4da;border-radius: 1em" lines="none" class="">
                <input name="birthDay" style="border: none;" type="date" class="form-control py-0 px-0" placeholder="Ngày sinh">
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item style="border: 1px solid #ced4da;border-radius: 1em" lines="none" class="">
                <input name="phone" style="border: none;" type="text" class="form-control py-0 px-0" placeholder="Số điện thoại">
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item style="border: 1px solid #ced4da;border-radius: 1em" lines="none" class="">
                <input name="email" style="border: none;" type="text" class="form-control py-0 px-0" placeholder="Email">
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item style="border: 1px solid #ced4da;border-radius: 1em" lines="none" class="">
                <input name="userName" style="border: none;" type="text" class="form-control py-0 px-0" placeholder="Tên tài khoản">
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item style="border: 1px solid #ced4da;border-radius: 1em" lines="none" class="">
                <div class="d-flex align-items-center w-100">
                  <input name="passWord" style="border: none;" [type]="showPass ? 'text' : 'password'" class="form-control py-0 px-0" placeholder="Mật khẩu">
                  <i style="font-size: 0.8rem;padding-left: 0.5rem;" slot="end" (click)="showPassword()" [class]="!showPass ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
                </div>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text>
                Bạn đã có tài khoản? 
              </ion-text>
              <ion-text style="color: #ffb400;">
                <u>Đăng nhập</u>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card> -->
  </ion-content>
  <ion-footer *ngIf="!isHideFooter" class="ion-no-border">
    <ion-toolbar style="--background:white">
      <div style="padding-left: 1em;padding-right: 1em;">
        <button (click)="onSignUp()" type="button" class="btn btn-primary btn-lg btn-block" style="border-radius: 1em;background-color: #ffb400;border: none;">
          <ion-text style="font-size: 0.8em;">
            ĐĂNG KÝ
          </ion-text>
        </button>
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-app>