<ion-header class="ion-no-border" style="--background:white !important;">
  <ion-toolbar mode="ios" style="--background:white !important">
    <ion-buttons slot="start">
      <ion-button (click)="onback()" fill="clear">
        <ion-icon class="text-primary-default" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="md" class="dynamic-font text-primary-default pl-0 pr-0">
      <h2 class="my-2 mx-0 font-weight-bold">{{type == 1  ? 'Yêu cầu nạp tiền' : 'Yêu cầu rút tiền'}}</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" style="--background:white !important">
  <div class="w-100" style="margin: auto;max-width: 1000px;">
    <ion-card mode="ios" style="--background:white !important">
      <ion-card-header>
        <img *ngIf="type == 1" style="width: 100px;
            height: 100px;
            display: block;
            margin: auto;" src="../../../../assets/image/money-bag.png" alt="">
        <img *ngIf="type == 2" style="width: 100px;
            height: 100px;
            display: block;
            margin: auto;" src="../../../../assets/image/money-withdrawal.png" alt="">
      </ion-card-header>
      <ion-card-content>
        <div class="alert alert-warning d-flex" role="alert">
          <i class="bi bi-exclamation-triangle-fill icon-16 mr-2"></i>
          <div>
            <ion-text class="mb-0 dynamic-font text-dark">
              <b>Lưu ý:</b>
            </ion-text>
            <br>
            <ion-text class="mb-0 dynamic-font text-dark">
              Với những giao dịch nạp/rút tiền ngoài giờ hành chính. Thời gian hệ thống xử lý có thể chậm hơn bình thường.
              Mong quý khách hàng thông cảm!
            </ion-text>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <div class="w-100" [formGroup]="formGroup">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Hình thức thanh toán</mat-label>
        <mat-select (valueChange)="valueChange($event,'paymentMethod')" #elepaymentMethod
          formControlName="paymentMethod">
          <mat-option [value]="1">Tiền mặt</mat-option>
          <mat-option [value]="2">Chuyển khoản</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Ngân hàng</mat-label>
        <input (focus)="onfocus(eleBankName)" #eleBankName formControlName="bankName" matInput>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Số tài khoản</mat-label>
        <input (focus)="onfocus(eleAccountNumber)" #eleAccountNumber formControlName="accountNumber" matInput>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Chủ tài khoản</mat-label>
        <input (focus)="onfocus(eleAccountName)" #eleAccountName formControlName="accountName" matInput>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Số tiền</mat-label>
        <input (focus)="onfocus(eleAmount)" inputmode="numeric" type="text" (keyup)="valueChange($event,'amount')" #eleAmount formControlName="amount" matInput>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Nội dung</mat-label>
        <input (focus)="onfocus(eleNote)" #eleNote formControlName="note" matInput>
      </mat-form-field>
    </div>
  </div>
</ion-content>
<ion-footer *ngIf="!isHideFooter" class="ion-no-border"
  style="box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;">
  <ion-toolbar mode="ios" style="--background:white !important">
    <ion-button mode="ios" (click)="onWithDraw()" class="ion-btn-default" expand="block">
      <ion-text class="dynamic-font font-weight-bold" style="color: white !important;">
        <span>{{type == 1 ? 'Nạp tiền' : 'Rút tiền'}}</span>
      </ion-text>
    </ion-button>
  </ion-toolbar>
</ion-footer>