<ion-header class="ion-no-border" style="--background:white !important;">
  <ion-toolbar style="--background:var(--ion-color-mat-primary) !important;">
    <ion-icon (click)="onback()" class="pl-3" slot="start" mode="ios" style="color: white !important;font-size: 2rem;" name="chevron-back-outline"></ion-icon>
    <ion-title class="dynamic-font" style="color: white !important;" mode="ios">{{type == 1  ? 'Yêu cầu nạp tiền' : 'Yêu cầu rút tiền'}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" style="--background:white !important">
  <div class="w-100" style="margin: auto;max-width: 1000px;">
    <ion-card mode="ios" style="--background:white !important">
      <ion-card-header>
        <img *ngIf="type == 1" style="width: 100px;
            height: 100px;
            display: block;
            margin: auto;" src="../../../../assets/image/money-bag.png" alt="">
        <img *ngIf="type == 2" style="width: 100px;
            height: 100px;
            display: block;
            margin: auto;" src="../../../../assets/image/money-withdrawal.png" alt="">
      </ion-card-header>
      <ion-card-content>
        <div class="alert alert-warning d-flex" role="alert">
          <i class="bi bi-exclamation-triangle-fill icon-16 mr-2"></i>
          <div>
            <ion-text class="mb-0 dynamic-font">
              <b>Lưu ý:</b>
            </ion-text>
            <br>
            <ion-text class="mb-0 dynamic-font">
              Với những giao dịch nạp/rút tiền ngoài giờ hành chính. Thời gian hệ thống xử lý có thể chậm hơn bình thường.
              Mong quý khách hàng thông cảm!
            </ion-text>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <div class="w-100" [formGroup]="formGroup">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Hình thức thanh toán</mat-label>
        <mat-select (valueChange)="valueChange($event,'paymentMethod')" #elepaymentMethod
          formControlName="paymentMethod">
          <mat-option [value]="1">Tiền mặt</mat-option>
          <mat-option [value]="2">Chuyển khoản</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Ngân hàng</mat-label>
        <input #eleBankName formControlName="bankName" matInput>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Số tài khoản</mat-label>
        <input #eleAccountNumber formControlName="accountNumber" matInput>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Chủ tài khoản</mat-label>
        <input #eleAccountName formControlName="accountName" matInput>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Số tiền</mat-label>
        <input (keydown)="valueChange($event,'amount')" #eleAmount formControlName="amount" matInput>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Nội dung</mat-label>
        <input #eleNote formControlName="note" matInput>
      </mat-form-field>
    </div>
    <!-- <ion-grid class="text-center" [fixed]="true" style="margin: auto">
      <ion-row >
        <ion-col size="12" style="font-size: 1.3rem !important;">
          
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Ngân hàng</mat-label>
            <input #eleBankName formControlName="bankName" matInput>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Số tài khoản</mat-label>
            <input #eleAccountNumber formControlName="accountNumber" matInput>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Chủ tài khoản</mat-label>
            <input #eleAccountName formControlName="accountName" matInput>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Số tiền</mat-label>
            <input (keydown)="valueChange($event,'amount')" #eleAmount formControlName="amount" matInput>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nội dung</mat-label>
            <input #eleNote formControlName="note" matInput>
          </mat-form-field>
        </ion-col>
      </ion-row>
    </ion-grid> -->
  </div>
</ion-content>
<ion-footer *ngIf="!isHideFooter" class="ion-no-border">
  <ion-toolbar style="--background:white">
    <div style="padding-left: 1em;padding-right: 1em;">
      <button (click)="onWithDraw()" style="border-radius: 1em;" class="btn btn-block text-white" mat-flat-button color="primary">
        <ion-text>
          {{type == 1 ? 'Nạp tiền' : 'Rút tiền'}}
        </ion-text>
      </button> 
    </div>
  </ion-toolbar>
</ion-footer>