<ion-header class="ion-no-border" style="--background:white !important;">
  <ion-toolbar style="--background:white !important;">
    <ion-icon (click)="onback()" class="pl-3" slot="start" mode="ios" style="color: var(--ion-color-mat-primary);font-size: 2rem;" name="chevron-back-outline"></ion-icon>
    <ion-title class="dynamic-font" style="color: black !important;" mode="ios">Thông tin tài khoản</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" style="--background:white !important">
  <div class="d-flex align-items-center justify-content-center">
    <ion-grid class="text-center" [fixed]="true" style="margin: auto">
      <ion-row [formGroup]="formGroup">
        <ion-col size="12">
          <ion-card class="w-100 mx-0" mode="ios" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;margin-top: 0em;--background:white !important;">
            <ion-card-header>
              <div style="flex-direction: column;" class="d-flex align-items-center justify-content-center">
                <img style="width: 10rem;
                height: 10rem;
                border-radius: 5rem;" [src]="image ? 'data:image/jpeg;base64,'+image?.base64String : '../../../../assets/image/logo-user.png'" alt="">
                <!-- <ion-text (click)="uploadImage()" class="font-weight-bold mt-2" color="primary">
                  <u>Chọn ảnh</u>
                </ion-text> -->
              </div>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Họ & tên</mat-label>
            <input [disabled]="true" #eleFullName formControlName="fullName" matInput>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Giới tính</mat-label>
            <mat-select [disabled]="true" #eleGender formControlName="gender">
              <mat-option [value]="true">Nam</mat-option>
              <mat-option [value]="false">Nữ</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Số điện thoại</mat-label>
            <input [disabled]="true" #elePhone formControlName="phone" matInput>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input [disabled]="true" #eleEmail formControlName="email" matInput>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Địa chỉ</mat-label>
            <input [disabled]="true" #eleAddress formControlName="address" matInput>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Tên tài khoản</mat-label>
            <input [disabled]="true" #eleUserName formControlName="username" matInput>
          </mat-form-field> 
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<!-- <ion-footer *ngIf="!isHideFooter" class="ion-no-border">
  <ion-toolbar style="--background:white">
    <div style="padding-left: 1em;padding-right: 1em;">
      <button (click)="onUpdate()" style="border-radius: 1em;" class="btn btn-block text-white" mat-flat-button color="primary">
        <ion-text>
          CẬP NHẬT THÔNG TIN
        </ion-text>
      </button> 
    </div>
  </ion-toolbar>
</ion-footer> -->