<ion-header class="ion-no-border" style="--background:white !important;">
  <ion-toolbar style="--background:var(--ion-color-mat-primary) !important;">
    <ion-icon (click)="onback()" class="pl-3" slot="start" mode="ios" style="color: white !important;font-size: 2rem;" name="chevron-back-outline"></ion-icon>
    <ion-title class="dynamic-font" style="color: white !important;" mode="ios">Đổi mật khẩu</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" style="--background:white !important">
  <div class="w-100" style="margin: auto;max-width: 1000px;">
    <ion-card mode="ios" style="--background:white !important">
      <ion-card-header>
        <img style="width: 100px;
            height: 100px;
            display: block;
            margin: auto;" src="../../../../assets/image/reset-password.png" alt="">
      </ion-card-header>
      <ion-card-content>
        <div class="alert alert-warning d-flex" role="alert">
          <i class="bi bi-exclamation-triangle-fill icon-16 mr-2"></i>
          <div>
            <ion-text class="mb-0 dynamic-font">
              <b>Lưu ý:</b>
            </ion-text>
            <br>
            <ion-text class="mb-0 dynamic-font">
              Hãy đặt mật khẩu an toàn cho tài khoản của bạn, mật khẩu an toàn sẽ có từ 8 ký tự trở lên!
            </ion-text>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="w-100" [formGroup]="formGroup">
    <div class="w-100">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Mật khẩu cũ</mat-label>
        <input #eleOldPassword formControlName="oldPassword" matInput [type]="!showPass1 ? 'password' : 'text'">
        <button class="d-flex align-items-center justify-content-center" mat-icon-button matSuffix (click)="showPass1 = !showPass1">
          <ion-icon style="color:black !important" [name]="!showPass1 ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
        </button>
      </mat-form-field>
    </div> 
    <div class="w-100">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Mật khẩu mới</mat-label>
        <input #eleNewPassword formControlName="newPassword" matInput [type]="!showPass2 ? 'password' : 'text'">
        <button class="d-flex align-items-center justify-content-center" mat-icon-button matSuffix (click)="showPass2 = !showPass2">
          <ion-icon style="color:black !important" [name]="!showPass2 ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
        </button>
      </mat-form-field>
    </div> 
    <div class="w-100">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Nhập lại mật khẩu</mat-label>
        <input #eleConfirmPassword formControlName="confirmPassword" matInput [type]="!showPass3 ? 'password' : 'text'">
        <button class="d-flex align-items-center justify-content-center" mat-icon-button matSuffix (click)="showPass3 = !showPass3">
          <ion-icon style="color:black !important" [name]="!showPass3 ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
        </button>
      </mat-form-field>
    </div> 
  </div>
</ion-content>
<ion-footer *ngIf="!isHideFooter" class="ion-no-border">
  <ion-toolbar style="--background:white">
    <div style="padding-left: 1em;padding-right: 1em;">
      <button (click)="onChange()" style="border-radius: 1em;" class="btn btn-block text-white" mat-flat-button color="primary">
        <ion-text>
          ĐỔI MẬT KHẨU
        </ion-text>
      </button> 
    </div>
  </ion-toolbar>
</ion-footer>
