<ion-header class="ion-no-border">
  <ion-toolbar style="--background:white;">
    <ion-button (click)="onback()" mode="ios" fill="clear">
      <ion-icon style="color: #ffb400;" name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title mode="ios">Đổi mật khẩu</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="d-flex align-items-center justify-content-center">
    <ion-grid class="text-center" [fixed]="true" style="margin: auto">
      <ion-row [formGroup]="formGroup">
        <div class="w-100">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Mật khẩu cũ</mat-label>
            <input #eleOldPassword formControlName="oldPassword" matInput [type]="!showPass1 ? 'password' : 'text'">
            <button class="d-flex align-items-center justify-content-center" mat-icon-button matSuffix (click)="showPass1 = !showPass1">
              <ion-icon [name]="!showPass1 ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
            </button>
          </mat-form-field>
        </div> 
        <div class="w-100">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Mật khẩu mới</mat-label>
            <input #eleNewPassword formControlName="newPassword" matInput [type]="!showPass2 ? 'password' : 'text'">
            <button class="d-flex align-items-center justify-content-center" mat-icon-button matSuffix (click)="showPass2 = !showPass2">
              <ion-icon [name]="!showPass2 ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
            </button>
          </mat-form-field>
        </div> 
        <div class="w-100">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nhập lại mật khẩu</mat-label>
            <input #eleConfirmPassword formControlName="confirmPassword" matInput [type]="!showPass3 ? 'password' : 'text'">
            <button class="d-flex align-items-center justify-content-center" mat-icon-button matSuffix (click)="showPass3 = !showPass3">
              <ion-icon [name]="!showPass3 ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
            </button>
          </mat-form-field>
        </div> 
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<ion-footer *ngIf="!isHideFooter" class="ion-no-border">
  <ion-toolbar style="--background:white">
    <div style="padding-left: 1em;padding-right: 1em;">
      <button (click)="onChange()" style="border-radius: 1em;" class="btn btn-block text-white" mat-flat-button color="primary">
        <ion-text>
          ĐỔI MẬT KHẨU
        </ion-text>
      </button> 
    </div>
  </ion-toolbar>
</ion-footer>
