<ion-header class="ion-no-border" style="--background:white !important;">
  <ion-toolbar style="--background:var(--ion-color-mat-primary) !important;">
    <div class="d-flex align-items-center h-100 justify-content-center w-100">
      <div class="w-100" style="margin: auto;max-width: 1000px;">
        <ion-icon (click)="onback()" class="pl-3" slot="start" mode="ios" style="color: white !important;font-size: 2rem;" name="chevron-back-outline"></ion-icon>
        <ion-title class="dynamic-font" style="z-index: -1;color:white !important" mode="ios">Phí vận chuyển</ion-title>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [forceOverscroll]="true" style="--background:white !important">
  <ion-refresher mode="ios" slot="fixed" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content refreshingSpinner="dots"></ion-refresher-content>
  </ion-refresher>
  <div class="w-100 mb-5" style="margin: auto;max-width: 1000px;">
    <ion-card mode="ios" style="--background:white !important">
      <ion-card-header class="text-center">
        <ion-card-title class="dynamic-font" style="font-size: 1.2rem;color:black !important">TUYẾN BAY NHANH</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ng-container *ngIf="lst1 == undefined">
          <ion-skeleton-text style="height: 300px;" [animated]="true"></ion-skeleton-text>
        </ng-container>
        <ng-container *ngIf="lst1">
          <ion-grid fixed>
            <ion-row>
              <ion-col>
                <div style="justify-content: space-between;" class="d-flex align-items-center">
                  <div>
                    <ion-text style="font-size: 1.2em;color: var(--ion-color-mat-primary) !important;" class="font-weight-bold dynamic-font">
                      Cân nặng
                    </ion-text>
                  </div>
                  <div class="d-flex align-items-center">
                    <ion-text style="font-size: 1.2em;color: var(--ion-color-mat-primary) !important;" class="font-weight-bold dynamic-font">
                      Thành tiền
                    </ion-text>
                  </div>
                </div>
                <ng-container *ngFor="let item of lst1">
                  <div style="justify-content: space-between;" class="d-flex align-items-center">
                    <div>
                      <ion-text style="color:black !important" class="dynamic-font">
                        {{item.display}}
                      </ion-text>
                    </div>
                    <div class="d-flex align-items-center">
                      <ion-text style="color:black !important" class="dynamic-font">
                        {{(item.amount | number)+'đ'}}
                      </ion-text>
                    </div>
                  </div>
                </ng-container>
                
                <div style="padding-top: 1em;">
                  <ion-text class="text-danger dynamic-font">(*)</ion-text>&nbsp;<ion-text style="color:black !important" class="dynamic-font">Thời gian hàng về từ 3-6 ngày về SG. Tính từ ngày xuất kho Trung, không tính thứ 7, chủ nhật và ngày lễ.</ion-text>
                  <br>
                  <ion-text class="text-danger dynamic-font">(*)</ion-text>&nbsp;<ion-text style="color:black !important" class="dynamic-font">Hàng bay nhanh cấm hàng có pin, chất lỏng, bột trắng, từ tính và lốc lõi lạnh.</ion-text>
                  <br>
                  <ion-text class="text-danger dynamic-font">(*)</ion-text>&nbsp;<ion-text style="color:black !important" class="dynamic-font">Nếu phát hiện bên trong hàng có những thứ trên sẽ bị phạt 100-200 tệ.</ion-text>
                </div>
                <div class="alert alert-warning d-flex" role="alert" style="margin-top: 1em;">
                  <i class="bi bi-exclamation-triangle-fill icon-16 mr-2"></i>
                  <div>
                      <ion-text class="mb-0 dynamic-font" style="color:black !important">
                        <b>Lưu ý:</b>
                      </ion-text>
                      <br>
                      <ion-text class="mb-0 dynamic-font" style="color:black !important">
                        - Mặt hàng real/fake, mỹ phẩm giá riêng.
                      </ion-text>
                      <br>
                      <ion-text class="mb-0 dynamic-font" style="color:black !important">
                        - Mua bảo hiểm 5% giá trị hàng đền 100% hàng mất, liên hệ để được tư vấn.
                      </ion-text>
                  </div>
              </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-container>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios" style="--background:white !important">
      <ion-card-header class="text-center">
        <ion-card-title class="dynamic-font" style="font-size: 1.2rem;color:black !important">TUYẾN BAY THƯỜNG</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ng-container *ngIf="lst2 == undefined">
          <ion-skeleton-text style="height: 300px;" [animated]="true"></ion-skeleton-text>
        </ng-container>
        <ng-container *ngIf="lst2">
          <ion-grid fixed>
            <ion-row>
              <ion-col>
                <div style="justify-content: space-between;" class="d-flex align-items-center">
                  <div>
                    <ion-text style="font-size: 1.2em;color: var(--ion-color-mat-primary) !important;" class="font-weight-bold dynamic-font">
                      Cân nặng
                    </ion-text>
                  </div>
                  <div class="d-flex align-items-center">
                    <ion-text style="font-size: 1.2em;color: var(--ion-color-mat-primary) !important;" class="font-weight-bold dynamic-font">
                      Thành tiền
                    </ion-text>
                  </div>
                </div>
                <ng-container *ngFor="let item of lst2">
                  <div style="justify-content: space-between;" class="d-flex align-items-center">
                    <div>
                      <ion-text style="color:black !important" class="dynamic-font">
                        {{item.display}}
                      </ion-text>
                    </div>
                    <div class="d-flex align-items-center">
                      <ion-text style="color:black !important" class="dynamic-font">
                        {{(item.amount | number)+'đ'}}
                      </ion-text>
                    </div>
                  </div>
                </ng-container>
                <div style="padding-top: 1em;">
                  <ion-text class="text-danger dynamic-font">(*)</ion-text>&nbsp;<ion-text class="dynamic-font" style="color:black !important">Thời gian hàng về từ 5-10 ngày về SG. Tính từ ngày xuất kho Trung, không tính thứ 7, chủ nhật và ngày lễ.</ion-text>
                </div>
                <div class="alert alert-warning d-flex" role="alert" style="margin-top: 1em;">
                  <i class="bi bi-exclamation-triangle-fill icon-16 mr-2"></i>
                  <div>
                      <ion-text style="color:black !important" class="mb-0 dynamic-font">
                        <b>Lưu ý:</b>
                      </ion-text>
                      <br>
                      <ion-text style="color:black !important" class="mb-0">
                        - Mặt hàng real/fake, mỹ phẩm giá riêng.
                      </ion-text>
                      <br>
                      <ion-text style="color:black !important" class="mb-0">
                        - Mua bảo hiểm 5% giá trị hàng đền 100% hàng mất, liên hệ để được tư vấn.
                      </ion-text>
                  </div>
              </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-container>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios" style="--background:white !important">
      <ion-card-header class="text-center">
        <ion-card-title class="dynamic-font" style="font-size: 1.2rem;color:black !important">TUYẾN BỘ</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ng-container *ngIf="lst3 == undefined">
          <ion-skeleton-text style="height: 300px;" [animated]="true"></ion-skeleton-text>
        </ng-container>
        <ng-container *ngIf="lst3">
          <ion-grid fixed>
            <ion-row>
              <ion-col>
                <div style="justify-content: space-between;" class="d-flex align-items-center">
                  <div>
                    <ion-text style="font-size: 1.2em;color: var(--ion-color-mat-primary) !important;" class="font-weight-bold dynamic-font">
                      Cân nặng
                    </ion-text>
                  </div>
                  <div class="d-flex align-items-center">
                    <ion-text style="font-size: 1.2em;color: var(--ion-color-mat-primary) !important;" class="font-weight-bold dynamic-font">
                      Thành tiền
                    </ion-text>
                  </div>
                </div>
                <ng-container *ngFor="let item of lst3">
                  <div style="justify-content: space-between;" class="d-flex align-items-center">
                    <div>
                      <ion-text style="color:black !important" class="dynamic-font">
                        {{item.display}}
                      </ion-text>
                    </div>
                    <div class="d-flex align-items-center">
                      <ion-text style="color:black !important" class="dynamic-font">
                        {{(item.amount | number)+'đ'}}
                      </ion-text>
                    </div>
                  </div>
                </ng-container>
                <div class="alert alert-warning d-flex" role="alert" style="margin-top: 1em;">
                  <i class="bi bi-exclamation-triangle-fill icon-16 mr-2"></i>
                  <div>
                      <ion-text style="color:black !important" class="mb-0 dynamic-font">
                        <b>Lưu ý:</b>
                      </ion-text>
                      <br>
                      <ion-text style="color:black !important" class="mb-0 dynamic-font">
                        - Mặt hàng real/fake, mỹ phẩm giá riêng.
                      </ion-text>
                      <br>
                      <ion-text style="color:black !important" class="mb-0 dynamic-font">
                        - Mua bảo hiểm 5% giá trị hàng đền 100% hàng mất, liên hệ để được tư vấn.
                      </ion-text>
                  </div>
              </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-container>
        
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios" style="--background:white !important">
      <ion-card-header class="text-center">
        <ion-card-title class="dynamic-font" style="font-size: 1.2rem;color:black !important">TUYẾN LÔ</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ng-container *ngIf="lst4 == undefined">
          <ion-skeleton-text style="height: 300px;" [animated]="true"></ion-skeleton-text>
        </ng-container>
        <ng-container *ngIf="lst4">
          <ion-grid fixed>
            <ion-row>
              <ion-col>
                <div style="justify-content: space-between;" class="d-flex align-items-center">
                  <div>
                    <ion-text style="font-size: 1.2em;color: var(--ion-color-mat-primary) !important;" class="font-weight-bold dynamic-font">
                      Cân nặng
                    </ion-text>
                  </div>
                  <div class="d-flex align-items-center">
                    <ion-text style="font-size: 1.2em;color: var(--ion-color-mat-primary) !important;" class="font-weight-bold dynamic-font">
                      Thành tiền
                    </ion-text>
                  </div>
                </div>
                <ng-container *ngFor="let item of lst4">
                  <div style="justify-content: space-between;" class="d-flex align-items-center">
                    <div>
                      <ion-text style="color:black !important" class="dynamic-font">
                        {{item.display}}
                      </ion-text>
                    </div>
                    <div class="d-flex align-items-center">
                      <ion-text style="color:black !important" class="dynamic-font">
                        {{(item.amount | number)+'đ'}}
                      </ion-text>
                    </div>
                  </div>
                </ng-container>
                <div class="alert alert-warning d-flex" role="alert" style="margin-top: 1em;">
                  <i class="bi bi-exclamation-triangle-fill icon-16 mr-2"></i>
                  <div>
                      <ion-text style="color: black !important;" class="mb-0 dynamic-font">
                        <b>Lưu ý:</b>
                      </ion-text>
                      <br>
                      <ion-text style="color: black !important;" class="mb-0 dynamic-font">
                        - Mặt hàng real/fake, mỹ phẩm giá riêng.
                      </ion-text>
                      <br>
                      <ion-text style="color: black !important;" class="mb-0 dynamic-font">
                        - Mua bảo hiểm 5% giá trị hàng đền 100% hàng mất, liên hệ để được tư vấn.
                      </ion-text>
                  </div>
              </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-container>
        
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<!-- <ion-footer *ngIf="platform == 'ios'" class="ion-no-border">
  <ion-toolbar style="--background:white;">
  </ion-toolbar>
</ion-footer> -->