<ion-header class="ion-no-border">
  <ion-toolbar class="text-center" style="--background:white;">
    <ion-back-button slot="start" style="color: var(--ion-color-mat-primary);" text="" icon="chevron-back-outline"></ion-back-button>
    <ion-title mode="ios">Phí vận chuyển</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card mode="ios">
    <ion-card-header class="text-center">
      <ion-card-title style="font-size: 1.5em;">TUYẾN BAY NHANH</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid fixed>
        <ion-row>
          <ion-col>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text style="font-size: 1.2em;color: var(--ion-color-mat-primary);" class="font-weight-bold">
                  Cân nặng
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text style="font-size: 1.2em;color: var(--ion-color-mat-primary);" class="font-weight-bold">
                  Thành tiền
                </ion-text>
              </div>
            </div>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Từ 0-39kg
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text>
                  63.000đ
                </ion-text>
              </div>
            </div>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Từ 40-99kg
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text>
                  62.000đ
                </ion-text>
              </div>
            </div>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Từ 100-149kg
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text>
                  61.000đ
                </ion-text>
              </div>
            </div>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Từ 150-199kg
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text>
                  60.000đ
                </ion-text>
              </div>
            </div>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Từ 200-299kg
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text>
                  59.000đ
                </ion-text>
              </div>
            </div>
            <div style="padding-top: 1em;">
              <ion-text class="text-danger">(*)</ion-text>&nbsp;<ion-text>Thời gian hàng về từ 3-6 ngày về SG. Tính từ ngày xuất kho Trung, không tính thứ 7, chủ nhật và ngày lễ.</ion-text>
              <br>
              <ion-text class="text-danger">(*)</ion-text>&nbsp;<ion-text>Hàng bay nhanh cấm hàng có pin, chất lỏng, bột trắng, từ tính và lốc lõi lạnh.</ion-text>
              <br>
              <ion-text class="text-danger">(*)</ion-text>&nbsp;<ion-text>Nếu phát hiện bên trong hàng có những thứ trên sẽ bị phạt 100-200 tệ.</ion-text>
            </div>
            <div class="alert alert-warning d-flex" role="alert" style="margin-top: 1em;">
              <i class="bi bi-exclamation-triangle-fill icon-16 mr-2"></i>
              <div>
                  <ion-text class="mb-0">
                    <b>Lưu ý:</b>
                  </ion-text>
                  <br>
                  <ion-text class="mb-0">
                    - Mặt hàng real/fake, mỹ phẩm giá riêng.
                  </ion-text>
                  <br>
                  <ion-text class="mb-0">
                    - Mua bảo hiểm 5% giá trị hàng đền 100% hàng mất, liên hệ để được tư vấn.
                  </ion-text>
              </div>
          </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-card-content>
  </ion-card>
  <ion-card mode="ios">
    <ion-card-header class="text-center">
      <ion-card-title style="font-size: 1.5em;">TUYẾN BAY THƯỜNG</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid fixed>
        <ion-row>
          <ion-col>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text style="font-size: 1.2em;color: var(--ion-color-mat-primary);" class="font-weight-bold">
                  Cân nặng
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text style="font-size: 1.2em;color: var(--ion-color-mat-primary);" class="font-weight-bold">
                  Thành tiền
                </ion-text>
              </div>
            </div>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Từ 0-39kg
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text>
                  48.000đ
                </ion-text>
              </div>
            </div>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Từ 40-99kg
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text>
                  47.000đ
                </ion-text>
              </div>
            </div>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Từ 100-149kg
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text>
                  46.000đ
                </ion-text>
              </div>
            </div>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Từ 150-199kg
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text>
                  45.000đ
                </ion-text>
              </div>
            </div>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Từ 200-299kg
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text>
                  44.000đ
                </ion-text>
              </div>
            </div>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Từ 300-499kg
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text>
                  43.000đ
                </ion-text>
              </div>
            </div>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Từ 300-499kg
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text>
                  58.000đ
                </ion-text>
              </div>
            </div>
            <div style="padding-top: 1em;">
              <ion-text class="text-danger">(*)</ion-text>&nbsp;<ion-text>Thời gian hàng về từ 5-10 ngày về SG. Tính từ ngày xuất kho Trung, không tính thứ 7, chủ nhật và ngày lễ.</ion-text>
            </div>
            <div class="alert alert-warning d-flex" role="alert" style="margin-top: 1em;">
              <i class="bi bi-exclamation-triangle-fill icon-16 mr-2"></i>
              <div>
                  <ion-text class="mb-0">
                    <b>Lưu ý:</b>
                  </ion-text>
                  <br>
                  <ion-text class="mb-0">
                    - Mặt hàng real/fake, mỹ phẩm giá riêng.
                  </ion-text>
                  <br>
                  <ion-text class="mb-0">
                    - Mua bảo hiểm 5% giá trị hàng đền 100% hàng mất, liên hệ để được tư vấn.
                  </ion-text>
              </div>
          </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-card-content>
  </ion-card>
  <ion-card mode="ios">
    <ion-card-header class="text-center">
      <ion-card-title style="font-size: 1.5em;">TUYẾN BỘ</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid fixed>
        <ion-row>
          <ion-col>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text style="font-size: 1.2em;color: var(--ion-color-mat-primary);" class="font-weight-bold">
                  Cân nặng
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text style="font-size: 1.2em;color: var(--ion-color-mat-primary);" class="font-weight-bold">
                  Thành tiền
                </ion-text>
              </div>
            </div>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Từ 0-39kg
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text>
                  33.000đ
                </ion-text>
              </div>
            </div>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Từ 40-99kg
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text>
                  32.000đ
                </ion-text>
              </div>
            </div>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Từ 100-149kg
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text>
                  31.000đ
                </ion-text>
              </div>
            </div>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Từ 150-199kg
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text>
                  30.000đ
                </ion-text>
              </div>
            </div>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Từ 200-299kg
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text>
                  29.000đ
                </ion-text>
              </div>
            </div>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Từ 300-499kg
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text>
                  28.000đ
                </ion-text>
              </div>
            </div>
            <div class="alert alert-warning d-flex" role="alert" style="margin-top: 1em;">
              <i class="bi bi-exclamation-triangle-fill icon-16 mr-2"></i>
              <div>
                  <ion-text class="mb-0">
                    <b>Lưu ý:</b>
                  </ion-text>
                  <br>
                  <ion-text class="mb-0">
                    - Mặt hàng real/fake, mỹ phẩm giá riêng.
                  </ion-text>
                  <br>
                  <ion-text class="mb-0">
                    - Mua bảo hiểm 5% giá trị hàng đền 100% hàng mất, liên hệ để được tư vấn.
                  </ion-text>
              </div>
          </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-card-content>
  </ion-card>
  <ion-card mode="ios">
    <ion-card-header class="text-center">
      <ion-card-title style="font-size: 1.5em;">TUYẾN LÔ</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid fixed>
        <ion-row>
          <ion-col>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text style="font-size: 1.2em;color: var(--ion-color-mat-primary);" class="font-weight-bold">
                  Cân nặng
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text style="font-size: 1.2em;color: var(--ion-color-mat-primary);" class="font-weight-bold">
                  Thành tiền
                </ion-text>
              </div>
            </div>
            <!-- <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Từ 0-39kg
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text>
                  33.000đ
                </ion-text>
              </div>
            </div>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Từ 40-99kg
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text>
                  32.000đ
                </ion-text>
              </div>
            </div>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Từ 100-149kg
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text>
                  31.000đ
                </ion-text>
              </div>
            </div>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Từ 150-199kg
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text>
                  30.000đ
                </ion-text>
              </div>
            </div>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Từ 200-299kg
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text>
                  29.000đ
                </ion-text>
              </div>
            </div>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Từ 300-499kg
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text>
                  28.000đ
                </ion-text>
              </div>
            </div> -->
            <div class="alert alert-warning d-flex" role="alert" style="margin-top: 1em;">
              <i class="bi bi-exclamation-triangle-fill icon-16 mr-2"></i>
              <div>
                  <ion-text class="mb-0">
                    <b>Lưu ý:</b>
                  </ion-text>
                  <br>
                  <ion-text class="mb-0">
                    - Mặt hàng real/fake, mỹ phẩm giá riêng.
                  </ion-text>
                  <br>
                  <ion-text class="mb-0">
                    - Mua bảo hiểm 5% giá trị hàng đền 100% hàng mất, liên hệ để được tư vấn.
                  </ion-text>
              </div>
          </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-card-content>
  </ion-card>
  <ion-card mode="ios">
    <ion-card-header class="text-center">
      <ion-card-title style="font-size: 1.5em;">TUYẾN BIỂN</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid fixed>
        <ion-row>
          <ion-col>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text style="font-size: 1.2em;color: var(--ion-color-mat-primary);" class="font-weight-bold">
                  Cân nặng
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text style="font-size: 1.2em;color: var(--ion-color-mat-primary);" class="font-weight-bold">
                  Thành tiền
                </ion-text>
              </div>
            </div>
            <!-- <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Từ 0-39kg
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text>
                  33.000đ
                </ion-text>
              </div>
            </div>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Từ 40-99kg
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text>
                  32.000đ
                </ion-text>
              </div>
            </div>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Từ 100-149kg
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text>
                  31.000đ
                </ion-text>
              </div>
            </div>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Từ 150-199kg
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text>
                  30.000đ
                </ion-text>
              </div>
            </div>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Từ 200-299kg
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text>
                  29.000đ
                </ion-text>
              </div>
            </div>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Từ 300-499kg
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text>
                  28.000đ
                </ion-text>
              </div>
            </div> -->
            <div class="alert alert-warning d-flex" role="alert" style="margin-top: 1em;">
              <i class="bi bi-exclamation-triangle-fill icon-16 mr-2"></i>
              <div>
                  <ion-text class="mb-0">
                    <b>Lưu ý:</b>
                  </ion-text>
                  <br>
                  <ion-text class="mb-0">
                    - Mặt hàng real/fake, mỹ phẩm giá riêng.
                  </ion-text>
                  <br>
                  <ion-text class="mb-0">
                    - Mua bảo hiểm 5% giá trị hàng đền 100% hàng mất, liên hệ để được tư vấn.
                  </ion-text>
              </div>
          </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-card-content>
  </ion-card>
</ion-content>