<ion-header class="ion-no-border" style="--background:white !important;">
  <ion-toolbar mode="ios" style="--background:white !important">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" fill="clear">
        <ion-icon class="text-primary-default" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="md" class="dynamic-font text-primary-default pl-0 pr-0">
      <h2 class="my-2 mx-0 font-weight-bold">Trạng thái vận chuyển đơn hàng</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="--background:white !important;">
  <div class="w-100">
    <ion-list *ngIf="oData" class="m-0" style="background-color:white !important;">
      <ion-item lines="none" style="--background:white !important">
        <ion-card class="w-100 mx-1 my-2" mode="ios" style="--background:white !important;box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px !important;">
          <ion-card-header>
            <ion-text class="text-center font-weight-bold dynamic-font text-dark">
              <span>THÔNG TIN VẬN CHUYỂN</span>
            </ion-text>
          </ion-card-header>
          <ion-card-content>
            <div style="justify-content: space-between;" class="d-flex align-items-center mb-2">
              <div>
                <ion-text class="dynamic-font font-weight-bold text-dark">
                  Mã đơn
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text class="dynamic-font">
                  {{oData.key}}
                </ion-text>
              </div>
            </div>
            <div style="justify-content: space-between;" class="d-flex align-items-center mb-2">
              <div>
                <ion-text class="dynamic-font font-weight-bold text-dark">
                  Kết quả truy vấn
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-badge *ngIf="oData?.isError" mode="md" style="--background	: orange !important;">
                  <ion-text style="font-size: 1rem;color: white !important;" class="dynamic-font">
                    <span>Thất bại</span>
                  </ion-text>
                </ion-badge>
                <ion-badge *ngIf="!oData?.isError" mode="md" style="--background	: var(--ion-color-mat-primary) !important;">
                  <ion-text style="font-size: 1rem;color: white !important;" class="dynamic-font">
                    <span>Thành công</span>
                  </ion-text>
                </ion-badge>
              </div>
            </div>
            <ng-container *ngIf="!oData?.isError && oData.data">
              <div style="justify-content: space-between;" class="d-flex align-items-center mb-2">
                <div>
                  <ion-text class="dynamic-font font-weight-bold text-dark">
                    Công ty vận chuyển
                  </ion-text>
                </div>
                <div class="d-flex align-items-center">
                  <ion-text *ngIf="oData?.data?.exname != null && oData?.data?.company != null" color="primary">
                    <a [href]="oData?.data?.url">{{oData?.data?.exname +' ('+oData?.data?.company+')'}}</a>
                  </ion-text>
                </div>
              </div>
              <div *ngIf="oData?.data?.ico" class="d-flex align-items-center justify-content-center mt-3 mb-3">
                <img [src]="oData?.data?.ico" alt="">
              </div>
              <div>
                <ion-text class="dynamic-font font-weight-bold text-dark">
                  Hành trình đơn hàng
                </ion-text>
              </div>
              <div *ngIf="oData?.data?.data" class="p-2 d-flex align-items-center justify-content-center mt-1" style="border: 1px solid #ececec;border-radius: 1em;">
                <ion-list lines="none" style="background-color:white !important;">
                  <ng-container *ngFor="let item of oData?.data?.data">
                    <ion-item style="--background:white !important">
                      <ion-icon style="color: var(--ion-color-mat-primary) !important" slot="start" name="checkmark-circle-outline"></ion-icon>
                      <ion-text class="dynamic-font text-dark">
                        <span>{{item?.context}}</span>
                      </ion-text>
                    </ion-item>
                    <ion-item style="--background:white !important">
                      <ion-text class="dynamic-font" color="medium">
                        <span>Ngày: {{item?.time}}</span>
                      </ion-text>
                    </ion-item>
                  </ng-container>
                </ion-list>
              </div>
              
            </ng-container>
            <ng-container *ngIf="oData?.isError && oData.data">
              <div>
                <ion-text class="dynamic-font font-weight-bold text-dark">
                  Lý do
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text class="dynamic-font">
                  {{oData?.data?.reason ? oData?.data?.reason : oData?.message}}
                </ion-text>
              </div>
              <ion-text class="dynamic-font text-orange">
                (*) Hiện tại không thể tra cứu lịch trình của kiện hàng quý khách chọn, quý khách vui lòng xem lại ứng dụng mua hàng hoặc liên hệ lại nhà cung cấp nếu trong 72 tiếng đồng hồ từ lúc có mã vận đơn mà vẫn không có cập nhật dữ liệu của Baidu.
              </ion-text>
            </ng-container>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
  </div>
  
  <!-- change auto -->
  <ion-modal id="modal-dialog" style="--background:white !important" (willDismiss)="cancelPopupAuto()" [isOpen]="isOpenPopupAuto">
    <ng-template>
      <div class="p-3 w-100 h-100">
        <div class="w-100 mb-3">
          <ion-text class="dynamic-font text-center text-dark">
            <h3 class="mx-0 my-0 font-weight-bold">Đăng ký gửi thông báo các trạng thái kiện hàng</h3>
          </ion-text>
        </div>
        <div class="w-100 text-center">
          <ion-text class="dynamic-font text-dark">
            <span>Quý khách có muốn đăng ký gửi thông báo các trạng thái cho kiện hàng </span>
          </ion-text>
          <ion-text style="color: var(--ion-color-mat-primary) !important;" class="dynamic-font">
            <span>{{oPack?.packageCode}}</span>
          </ion-text>
          <ion-text class="dynamic-font text-dark">
            <span> không?</span>
          </ion-text>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-3">
          <ion-button (click)="changeAutoQuery(true)" mode="ios" size="default" class="ion-btn-default pr-3">
            <ion-text style="color: white !important;" class="dynamic-font">
              Đồng ý
            </ion-text>
          </ion-button>
          <ion-button (click)="cancelPopupAuto(true)" mode="ios" size="default" color="medium">
            <ion-text style="color: white !important;" class="dynamic-font">
              Hủy bỏ
            </ion-text>
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
  <!-- change auto -->
</ion-content>
<ion-footer class="ion-no-border"
  style="box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;">
  <ion-toolbar mode="ios" style="--background:white !important">
    <div class="w-100 d-flex align-items-center justify-content-center">
      <ion-button *ngIf="oPack && oPack?.autoQuery" (click)="changeAutoQuery(false)" mode="ios" size="default" class="ion-btn-orange">
        <ion-icon style="color: white !important;" slot="start" name="checkbox-outline"></ion-icon>
        <ion-text style="color: white !important;" class="dynamic-font">
          Hủy đăng ký gửi thông báo các trạng thái kiện hàng
        </ion-text>
      </ion-button>
      <ion-button *ngIf="oPack && !oPack?.autoQuery" (click)="changeAutoQuery(true)" mode="ios" size="default" color="medium">
        <ion-icon style="color: white !important;" slot="start" name="square-outline"></ion-icon>
        <ion-text style="color: white !important;" class="dynamic-font">
          Đăng ký gửi thông báo các trạng thái kiện hàng
        </ion-text>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
