<!-- <ion-header class="ion-no-border" style="--background:white !important;">
  <ng-container *ngIf="selected == 1">
    <ion-toolbar mode="ios" class="bg-default">
      <ion-title style="color: white !important;" class="dynamic-font text-dark">{{headerText}}</ion-title>
    </ion-toolbar>
    <ion-toolbar style="--background:white !important;">
      <ion-segment style="border-bottom: 1px solid #E3E3E3 !important;" [scrollable]="true" [value]="statusHis" mode="md">
        <ion-segment-button (click)=" sortDataHis(0)" [value]="0">
          <ion-text class="text-segment dynamic-font font-weight-bold">
            <span>Tất cả</span>
          </ion-text>
        </ion-segment-button>
        <ion-segment-button (click)=" sortDataHis(1)" [value]="1">
          <ion-text class="text-segment dynamic-font font-weight-bold">
            <span>Thanh toán hóa đơn</span>
          </ion-text>
        </ion-segment-button>
        <ion-segment-button (click)=" sortDataHis(2)" [value]="2">
          <ion-text class="text-segment dynamic-font font-weight-bold">
            <span>Hoàn tiền</span>
          </ion-text>
        </ion-segment-button>
        <ion-segment-button (click)=" sortDataHis(3)" [value]="3">
          <ion-text class="text-segment dynamic-font font-weight-bold">
            <span>Nạp tiền</span>
          </ion-text>
        </ion-segment-button>
        <ion-segment-button (click)=" sortDataHis(4)" [value]="4">
          <ion-text class="text-segment dynamic-font font-weight-bold">
            <span>Rút tiền</span>
          </ion-text>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ng-container>
  <ng-container *ngIf="selected == 2">
    <ion-toolbar mode="ios" class="bg-default">
      <ion-title style="color: white !important;" class="dynamic-font text-dark">{{headerText}}</ion-title>
    </ion-toolbar>
  </ng-container>
  <ng-container *ngIf="selected == 3">
    <ion-toolbar mode="ios" class="bg-default">
      <ion-title style="color: white !important;" class="dynamic-font text-dark">{{headerText}}</ion-title>
    </ion-toolbar>
  </ng-container>
</ion-header> -->
<ion-content style="--background:white !important;">
  <ion-router-outlet></ion-router-outlet>
  <!-- create package -->
  <ion-modal id="modal-dialog" style="--background:white !important" (willDismiss)="cancelCopy()" [isOpen]="isOpenCopy">
    <ng-template>
      <div class="p-3 w-100 h-100">
        <div class="w-100 mb-3">
          <ion-text class="dynamic-font text-center text-dark">
            <h3 class="mx-0 my-0 font-weight-bold">Tìm thấy mã kiện hàng</h3>
          </ion-text>
        </div>
        <div class="w-100 text-center">
          <ion-text class="dynamic-font text-dark">
            <span>Bạn có muốn tạo kiện hàng mới từ mã </span>
          </ion-text>
          <ion-text style="color: var(--ion-color-mat-primary) !important;" class="dynamic-font">
            <span>{{textCopy}}</span>
          </ion-text>
          <ion-text class="dynamic-font text-dark">
            <span>?</span>
          </ion-text>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-3">
          <ion-button (click)="onCopy()" mode="ios" size="default" class="ion-btn-default pr-3">
            <ion-text style="color: white !important;" class="dynamic-font">
              Đồng ý
            </ion-text>
          </ion-button>
          <ion-button (click)="cancelCopy()" mode="ios" size="default" color="medium">
            <ion-text style="color: white !important;" class="dynamic-font">
              Hủy bỏ
            </ion-text>
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
  <!-- create package -->

  <!-- Exit App -->
  <ion-modal id="modal-dialog" style="--background:white !important" (willDismiss)="cancelExit()" [isOpen]="isOpenExit">
    <ng-template>
      <div class="p-3 w-100 h-100">
        <div class="w-100 mb-3">
          <ion-text class="dynamic-font text-center text-dark">
            <h3 class="mx-0 my-0 font-weight-bold">Thoát ứng dụng</h3>
          </ion-text>
        </div>
        <div class="w-100 text-center">
          <ion-text class="dynamic-font text-dark">
            <span>Bạn có muốn đóng ứng dụng không?</span>
          </ion-text>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-3">
          <ion-button (click)="onExit()" mode="ios" size="default" class="ion-btn-default pr-3">
            <ion-text style="color: white !important;" class="dynamic-font">
              Đồng ý
            </ion-text>
          </ion-button>
          <ion-button (click)="cancelExit()" mode="ios" size="default" color="medium">
            <ion-text style="color: white !important;" class="dynamic-font">
              Hủy bỏ
            </ion-text>
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
  <!-- Exit App  -->
</ion-content> 
<ion-footer *ngIf="!isHideFooter" class="ion-no-border mobile-toolbar" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;">
  <ng-container *ngIf="isReview">
    <ion-toolbar style="--background:white !important;">
      <mat-tab-group [selectedIndex]="selected" (selectedTabChange)="selectedTabChange($event)" headerPosition="below" id="tab-main" [animationDuration]="200" [disableRipple]="true">
        <mat-tab label="home">
          <ng-template mat-tab-label>
            <div style="flex-direction: column;" class="w-100 p-3 d-flex align-items-center justify-content-center">
              <ion-icon style="font-size: 20px" name="home-outline"></ion-icon>
              <ion-text class="dynamic-font">
                <span>Trang chủ</span>
              </ion-text>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="setting">
          <ng-template mat-tab-label>
            <div style="flex-direction: column;" class="w-100 p-3 d-flex align-items-center justify-content-center">
              <ion-icon style="font-size: 20px" name="person-outline"></ion-icon>
              <ion-text class="dynamic-font">
                <span>Tài khoản</span>
              </ion-text>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </ion-toolbar>
  </ng-container>
  <ng-container *ngIf="!isReview">
    <ion-toolbar style="--background:white !important;">
      <mat-tab-group [selectedIndex]="selected" (selectedTabChange)="selectedTabChange($event)" headerPosition="below" id="tab-main" [animationDuration]="200" [disableRipple]="true">
        <mat-tab label="home">
          <ng-template mat-tab-label>
            <div style="flex-direction: column;" class="w-100 p-3 d-flex align-items-center justify-content-center">
              <!-- <ion-icon class="mb-1" style="font-size: 20px" name="home-outline"></ion-icon> -->
              <i class="bi bi-house mb-1 icon-menu"></i>
              <ion-text style="font-size: 0.7rem;" class="dynamic-font">
                <span>Trang chủ</span>
              </ion-text>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="package">
          <ng-template mat-tab-label>
            <div style="flex-direction: column;" class="w-100 p-3 d-flex align-items-center justify-content-center">
              <!-- <ion-icon class="mb-1" style="font-size: 20px" name="cube-outline"></ion-icon> -->
               <div class="d-flex align-items-center">
                <i class="bi bi-box-seam mb-1 icon-menu"></i>
                <ng-container *ngIf="totalPackage > 0">
                  <div class="ion-badge-noti d-flex align-items-center justify-content-center">
                    <ion-text class="dynamic-font font-weight-bold">
                      <span *ngIf="totalPackage <=99">{{totalPackage}}</span>
                      <span *ngIf="totalPackage >99">99+</span>
                    </ion-text>
                  </div>
                </ng-container>
               </div>
              <ion-text style="font-size: 0.7rem;" class="dynamic-font">
                <span>Kiện hàng</span>
              </ion-text>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="order">
          <ng-template mat-tab-label>
            <div style="flex-direction: column;" class="w-100 p-3 d-flex align-items-center justify-content-center">
              <!-- <ion-icon class="mb-1" style="font-size: 20px" name="time-outline"></ion-icon> -->
              <div class="d-flex align-items-center">
                <i class="bi bi-receipt-cutoff mb-1 icon-menu"></i>
                <ng-container *ngIf="totalOrder > 0">
                  <div class="ion-badge-noti d-flex align-items-center justify-content-center">
                    <ion-text class="dynamic-font font-weight-bold">
                      <span *ngIf="totalOrder <=99">{{totalOrder}}</span>
                      <span *ngIf="totalOrder >99">99+</span>
                    </ion-text>
                  </div>
                </ng-container>
               </div>
              <ion-text style="font-size: 0.7rem;" class="dynamic-font">
                <span>Đơn hàng</span>
              </ion-text>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="notification">
          <ng-template mat-tab-label>
            <div style="flex-direction: column;" class="w-100 p-3 d-flex align-items-center justify-content-center">
              <!-- <ion-icon class="mb-1" style="font-size: 20px" name="notifications-outline"></ion-icon> -->
              <div class="d-flex align-items-center">
                <i [ngClass]="totalNoti > 0 ? 'animation-bell' : ''" class="bi bi-bell mb-1 icon-menu "></i>
                <ng-container *ngIf="totalNoti > 0">
                  <div class="ion-badge-noti d-flex align-items-center justify-content-center">
                    <ion-text class="dynamic-font font-weight-bold">
                      <span *ngIf="totalNoti <=99">{{totalNoti}}</span>
                      <span *ngIf="totalNoti >99">99+</span>
                    </ion-text>
                  </div>
                </ng-container>
               </div>
              <ion-text style="font-size: 0.7rem;" class="dynamic-font">
                <span>Thông báo</span>
              </ion-text>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="setting">
          <ng-template mat-tab-label>
            <div style="flex-direction: column;" class="w-100 p-3 d-flex align-items-center justify-content-center">
              <!-- <ion-icon class="mb-1" style="font-size: 20px" name="person-outline"></ion-icon> -->
              <i class="bi bi-person-circle mb-1 icon-menu"></i>
              <ion-text style="font-size: 0.7rem;" class="dynamic-font">
                <span>Tài khoản</span>
              </ion-text>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </ion-toolbar>
  </ng-container>
</ion-footer>







