
<!-- <ion-tabs>
  <ion-tab-bar style="border: none;" slot="bottom">
    <ion-tab-button style="--background:white;border-top: 1px solid white;font-size: 0.8rem;" tab="home">
      <i style="font-size: 1.2rem;" class="bi bi-house"></i>
      Trang chủ
    </ion-tab-button>
    <ion-tab-button style="--background:white;border-top: 1px solid white;font-size: 0.8rem;" tab="history">
      <i style="font-size: 1.2rem;" class="bi bi-clock-history"></i>
      Lịch sử GD
    </ion-tab-button>
    <ion-tab-button style="--background:white;;border-top: 1px solid white;font-size: 0.8rem;" tab="notification">
      <i style="font-size: 1.2rem;" class="bi bi-bell"></i>
      Thông báo
    </ion-tab-button>
    <ion-tab-button style="--background:white;;border-top: 1px solid white;font-size: 0.8rem;" tab="setting">
      <i style="font-size: 1.2rem;" class="bi bi-gear"></i>
      Cài đặt
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->
<ion-content [forceOverscroll]="true">
  <ion-router-outlet></ion-router-outlet>
</ion-content>
<ion-footer class="ion-no-border">
  <mat-tab-group headerPosition="below" id="tab-main" [animationDuration]="200" [disableRipple]="true">
    <mat-tab>
      <ng-template mat-tab-label>
        <div (click)="goHomePage()" class="p-3">
          <div style="flex-direction: column;" class="d-flex align-items-center justify-content-center">
            <ion-icon style="font-size: 20px" name="home-outline"></ion-icon>
            <span class="mt-1" style="font-size: 6px">Trang chủ</span>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div (click)="goHistoryPage()"  class="p-3">
          <div style="flex-direction: column;" class="d-flex align-items-center justify-content-center">
            <ion-icon style="font-size: 20px" name="time-outline"></ion-icon>
            <span class="mt-1" style="font-size: 6px">Lịch sử GD</span>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div (click)="goNofiticationPage()" class="p-3">
          <div style="flex-direction: column;" class="d-flex align-items-center justify-content-center">
            <ion-icon style="font-size: 20px" name="notifications-outline"></ion-icon>
            <span class="mt-1" style="font-size: 6px">Thông báo</span>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div (click)="goSettingPage()"  class="p-3">
          <div style="flex-direction: column;" class="d-flex align-items-center justify-content-center">
            <ion-icon style="font-size: 20px" name="person-outline"></ion-icon>
            <span class="mt-1" style="font-size: 6px">Cá nhân</span>
          </div>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</ion-footer>






