<ion-tabs>
  <ion-tab-bar style="border: none;" slot="bottom" mode="ios">
    <ion-tab-button style="background-color: white;" tab="home">
      <i style="font-size: 0.8rem" class="bi bi-house"></i>
      <ion-label style="font-size: 0.5rem">Trang chủ</ion-label>
    </ion-tab-button>
    <ion-tab-button style="background-color: white;" mode="ios">
      <i style="font-size: 0.8rem" class="bi bi-clock-history"></i>
      <ion-label style="font-size: 0.5rem;">Lịch sử GD</ion-label>
    </ion-tab-button>
    <ion-tab-button style="background-color: white;" mode="ios">
      <i style="font-size: 0.8rem" class="bi bi-bell"></i>
      <ion-label style="font-size: 0.5rem;">Thông báo</ion-label>
    </ion-tab-button>
    <ion-tab-button style="background-color: white;" mode="ios">
      <i style="font-size: 0.8rem" class="bi bi-gear"></i>
      <ion-label style="font-size: 0.5rem;">Cài đặt</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>