<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" class="bg-default">
    <ion-button slot="start" (click)="onback()" fill="clear">
      <ion-icon style="color: white !important" class="text-dark" name="chevron-back-outline"></ion-icon>
    </ion-button>
    <!-- <ion-buttons class="pl-3" slot="start">
      <ion-back-button style="--color:white !important;--color-focused:white !important;" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons> -->
    <ion-title style="color: white !important;" class="dynamic-font text-dark">Quy định đền bù</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="--background:white !important">
  <div style="flex-direction: column;" class="d-flex align-items-center justify-content-center h-100">
    <img style="width: 40%;" src="../../../assets/image/empty-box.png" alt="">
    <ion-text class="dynamic-font" style="color:black !important">
      Chưa có quy định
    </ion-text>
  </div>
</ion-content>