<ion-app>
  <!-- <div style="left: 0px;background: rgb(255 255 255 / 50%);" class="container w-100 h-100 d-flex align-items-center justify-content-center">
    <img width="8%" src="../../../assets/image/loader.gif" alt="">
  </div> -->
  <ng-container *ngIf="isload">
    <ion-content class="ion-padding" style="--background:white">
      <div style="left: 0px;z-index: 1000;background-color: white;flex-direction: column;" class="w-100 h-100 d-flex align-items-center justify-content-center">
        <img src="../assets/image/3d-animation2.gif" alt="">
        <div class="text-center mb-3">
          <ion-text class="dynamic-font text-dark">
            <h3 class="my-0 mx-0 mb-2 font-weight-bold ">MỘT CHỮ TÍN - VẠN NIỀM TIN</h3>
          </ion-text>
          <ion-text>
            <span class="dynamic-font" style="color: var(--ion-color-medium-tint) !important;">Nhận ship hàng luôn đặt lợi ích khách hàng lên hàng đầu</span>
          </ion-text>
        </div>
        <ion-spinner style="color: var(--ion-color-mat-primary) !important;" mode="ios" name="crescent"></ion-spinner>
      </div>
    </ion-content>
  </ng-container>
  <div [style]="!isload ? '' : 'display: none;'" class="w-100 h-100" style="background-color:white !important;">
    <div id="loader-icon" style="z-index: 1000;background: rgb(225 225 225 / 50%);position: absolute;visibility: hidden;flex-direction: column " class="d-flex align-items-center justify-content-center w-100 h-100">
      <img style="width: 30%;" src="../assets/image/3D-loader.gif" alt="">
      <ion-spinner style="color: var(--ion-color-mat-primary) !important;" mode="ios" name="crescent"></ion-spinner>
    </div>
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>
