<ion-app>
  <!-- <div style="left: 0px;background: rgb(255 255 255 / 50%);" class="container w-100 h-100 d-flex align-items-center justify-content-center">
    <img width="8%" src="../../../assets/image/loader.gif" alt="">
  </div> -->
  <ng-container *ngIf="isload">
    <ion-content class="ion-padding" style="--background:white">
      <div style="left: 0px;z-index: 1000;background-color: white;flex-direction: column;" class="w-100 h-100 d-flex align-items-center justify-content-center">
        <img style="border-radius: 50px;width: 25%;max-width: 100px;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;" src="../assets/image/logo-icon.png" alt="">
        <div class="text-center mt-3">
          <span style="font-size: 90%;color:black !important" class="font-weight-bold">NHẬN SHIP HÀNG - MỘT CHỮ TÍN VẠN NIỀM TIN</span>
          <br>
          <span style="font-size: 80%;color: var(--ion-color-medium-tint);">Nhận ship hàng luôn đặt lợi ích khách hàng lên hàng đầu</span>
        </div>
        <ion-spinner style="color: black !important;" mode="ios" name="dots"></ion-spinner>
      </div>
    </ion-content>
  </ng-container>
  <div [style]="!isload ? '' : 'display: none;'" class="w-100 h-100">
    <div id="loader-icon" style="z-index: 1000;background: rgb(255 255 255 / 50%);position: absolute;visibility: hidden;" class="d-flex align-items-center justify-content-center w-100 h-100">
      <ion-spinner mode="ios" name="dots"></ion-spinner>
    </div>
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>
