<ion-app>
  <!-- <div style="left: 0px;background: rgb(255 255 255 / 50%);" class="container w-100 h-100 d-flex align-items-center justify-content-center">
    <img width="8%" src="../../../assets/image/loader.gif" alt="">
  </div> -->
  <ng-container *ngIf="isload">
    <ion-content class="ion-padding" style="--background:white">
      <div style="left: 0px;z-index: 1000;background-color: white;flex-direction: column;" class="w-100 h-100 d-flex align-items-center justify-content-center">
        <img style="border-radius: 50%;width: 25%;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;" src="../assets/image/logo-icon.png" alt="">
        <div class="text-center mt-3">
          <ion-text>
            <span class="dynamic-font font-weight-bold text-dark"> MỘT CHỮ TÍN - VẠN NIỀM TIN</span>
          </ion-text>
          <br>
          <ion-text>
            <span class="dynamic-font" style="color: var(--ion-color-medium-tint) !important;">Nhận ship hàng luôn đặt lợi ích khách hàng lên hàng đầu</span>
          </ion-text>
        </div>
        <ion-spinner style="color: black !important;" mode="ios" name="dots"></ion-spinner>
      </div>
    </ion-content>
  </ng-container>
  <div [style]="!isload ? '' : 'display: none;'" class="w-100 h-100" style="background-color:white !important;">
    <div id="loader-icon" style="z-index: 1000;background: rgb(225 225 225 / 50%);position: absolute;visibility: hidden;flex-direction: column " class="d-flex align-items-center justify-content-center w-100 h-100">
      <img style="width: 20%;" src="../assets/image/Animation - 1712382981536.gif" alt="">
      <ion-spinner mode="ios" name="dots"></ion-spinner>
    </div>
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>
