<!-- <ng-container *ngIf="show">
  <div class="marquee p-2 alert-warning">
    <div class="marquee-content">
      <span class="font-weight-bold text-dark">{{message}} </span>
      <span class="font-weight-bold text-dark">Thời gian áp dụng:</span>
      <span class="font-weight-bold text-danger">&nbsp;{{countdown}}</span>
    </div>
  </div>
</ng-container> -->
<ng-container *ngIf="show">
  <div class="marquee p-2 alert-warning">
    <div class="marquee-content">
      <ng-container *ngFor="let noti of notifications ; let last = last">
        <span class="font-weight-bold text-dark">{{ noti.content }}</span>
        <span *ngIf="!last" class="font-weight-bold">&nbsp;|&nbsp;</span>
      </ng-container>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <span class="font-weight-bold text-dark">&nbsp;Thời gian áp dụng: </span>
      <span class="font-weight-bold text-danger">&nbsp;{{ maxCountdown }}</span>
    </div>
  </div>
  
</ng-container>
