<!-- <ng-container *ngIf="show">
  <div class="marquee p-2 alert-warning">
    <div class="marquee-content">
      <span class="font-weight-bold text-dark">{{message}} </span>
      <span class="font-weight-bold text-dark">Thời gian áp dụng:</span>
      <span class="font-weight-bold text-danger">&nbsp;{{countdown}}</span>
    </div>
  </div>
</ng-container> -->
<div class="marquee p-2 alert-warning">
  <div class="marquee-content">
    <ng-container *ngFor="let noti of notifications; let last = last">
      <ng-container *ngIf="noti?.show">
        <span class="font-weight-bold text-dark">{{ noti.content }}</span>
        <span class="font-weight-bold text-dark">&nbsp;(Thời gian áp dụng: </span>
        <span class="font-weight-bold text-danger">&nbsp;{{ noti.countdown }})</span>

        <!-- Thêm dấu phân cách nếu chưa phải item cuối -->
        <span *ngIf="!last" class="separator">&nbsp;•&nbsp;</span>
      </ng-container>
    </ng-container>
  </div>
</div>
