<ion-header class="ion-no-border">
  <ion-toolbar style="--background:white;">
    <ion-title mode="ios">Lịch sử giao dịch</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item lines="none" style="border-bottom: 1px solid #f2f2f2;padding-top: 1em;">
    <ion-card class="w-100" style="margin: 0em;box-shadow: none">
      <ion-card-content style="padding: 0.2em;">
        <div class="d-flex align-items-center">
          <img style="width: 4em;
              margin-right: 1rem;" src="../../../assets/image/money-bag.png" alt="">
          <div class="w-100">
            <ion-text class="font-weight-bold">
              Nạp tiền vào ví
            </ion-text>
            <br>
            <ion-text>
              Ngày: 1/2/2024 10:05:33 PM
            </ion-text>
            <br>
            <ion-text>
              Nạp tiền vào tài khoản cho tran minh tan
            </ion-text>
            <br>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Số dư ví : 20000000
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text class="font-weight-bold">
                  +2,000,000,000
                </ion-text>
              </div>
            </div>          
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-item>
  <ion-item lines="none" style="border-bottom: 1px solid #f2f2f2;padding-top: 1em;">
    <ion-card class="w-100" style="margin: 0em;box-shadow: none">
      <ion-card-content style="padding: 0.2em;">
        <div class="d-flex align-items-center">
          <img style="width: 4em;
              margin-right: 1rem;" src="../../../assets/image/money-withdrawal.png" alt="">
          <div class="w-100">
            <ion-text class="font-weight-bold">
              Rút tiền từ ví
            </ion-text>
            <br>
            <ion-text>
              Ngày: 1/2/2024 10:05:33 PM
            </ion-text>
            <br>
            <ion-text>
              Rút tiền từ ví
            </ion-text>
            <br>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Số dư ví : 20000000
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text class="font-weight-bold">
                  -2,000,000,000
                </ion-text>
              </div>
            </div>          
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-item>
  <ion-item lines="none" style="border-bottom: 1px solid #f2f2f2;padding-top: 1em;">
    <ion-card class="w-100" style="margin: 0em;box-shadow: none">
      <ion-card-content style="padding: 0.2em;">
        <div class="d-flex align-items-center">
          <img style="width: 4em;
              margin-right: 1rem;" src="../../../assets/image/cash.png" alt="">
          <div class="w-100">
            <ion-text class="font-weight-bold">
              Thanh toán đơn hàng
            </ion-text>
            <br>
            <ion-text>
              Ngày: 1/2/2024 10:05:33 PM
            </ion-text>
            <br>
            <ion-text>
              Thanh toán đơn hàng
            </ion-text>
            <br>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Số dư ví : 20000000
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text class="font-weight-bold">
                  -2,000,000,000
                </ion-text>
              </div>
            </div>          
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-item>
  <ion-item lines="none" style="border-bottom: 1px solid #f2f2f2;padding-top: 1em;">
    <ion-card class="w-100" style="margin: 0em;box-shadow: none">
      <ion-card-content style="padding: 0.2em;">
        <div class="d-flex align-items-center">
          <img style="width: 4em;
              margin-right: 1rem;" src="../../../assets/image/money-bag.png" alt="">
          <div class="w-100">
            <ion-text class="font-weight-bold">
              Nạp tiền vào ví
            </ion-text>
            <br>
            <ion-text>
              Ngày: 1/2/2024 10:05:33 PM
            </ion-text>
            <br>
            <ion-text>
              Nạp tiền vào tài khoản cho tran minh tan
            </ion-text>
            <br>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Số dư ví : 20000000
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text class="font-weight-bold">
                  +2,000,000,000
                </ion-text>
              </div>
            </div>          
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-item>
  <ion-item lines="none" style="border-bottom: 1px solid #f2f2f2;padding-top: 1em;">
    <ion-card class="w-100" style="margin: 0em;box-shadow: none">
      <ion-card-content style="padding: 0.2em;">
        <div class="d-flex align-items-center">
          <img style="width: 4em;
              margin-right: 1rem;" src="../../../assets/image/money-withdrawal.png" alt="">
          <div class="w-100">
            <ion-text class="font-weight-bold">
              Rút tiền từ ví
            </ion-text>
            <br>
            <ion-text>
              Ngày: 1/2/2024 10:05:33 PM
            </ion-text>
            <br>
            <ion-text>
              Rút tiền từ ví
            </ion-text>
            <br>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Số dư ví : 20000000
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text class="font-weight-bold">
                  -2,000,000,000
                </ion-text>
              </div>
            </div>          
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-item>
  <ion-item lines="none" style="border-bottom: 1px solid #f2f2f2;padding-top: 1em;">
    <ion-card class="w-100" style="margin: 0em;box-shadow: none">
      <ion-card-content style="padding: 0.2em;">
        <div class="d-flex align-items-center">
          <img style="width: 4em;
              margin-right: 1rem;" src="../../../assets/image/cash.png" alt="">
          <div class="w-100">
            <ion-text class="font-weight-bold">
              Thanh toán đơn hàng
            </ion-text>
            <br>
            <ion-text>
              Ngày: 1/2/2024 10:05:33 PM
            </ion-text>
            <br>
            <ion-text>
              Thanh toán đơn hàng
            </ion-text>
            <br>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Số dư ví : 20000000
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text class="font-weight-bold">
                  -2,000,000,000
                </ion-text>
              </div>
            </div>          
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-item>
  <ion-item lines="none" style="border-bottom: 1px solid #f2f2f2;padding-top: 1em;">
    <ion-card class="w-100" style="margin: 0em;box-shadow: none">
      <ion-card-content style="padding: 0.2em;">
        <div class="d-flex align-items-center">
          <img style="width: 4em;
              margin-right: 1rem;" src="../../../assets/image/money-bag.png" alt="">
          <div class="w-100">
            <ion-text class="font-weight-bold">
              Nạp tiền vào ví
            </ion-text>
            <br>
            <ion-text>
              Ngày: 1/2/2024 10:05:33 PM
            </ion-text>
            <br>
            <ion-text>
              Nạp tiền vào tài khoản cho tran minh tan
            </ion-text>
            <br>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Số dư ví : 20000000
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text class="font-weight-bold">
                  +2,000,000,000
                </ion-text>
              </div>
            </div>          
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-item>
  <ion-item lines="none" style="border-bottom: 1px solid #f2f2f2;padding-top: 1em;">
    <ion-card class="w-100" style="margin: 0em;box-shadow: none">
      <ion-card-content style="padding: 0.2em;">
        <div class="d-flex align-items-center">
          <img style="width: 4em;
              margin-right: 1rem;" src="../../../assets/image/money-withdrawal.png" alt="">
          <div class="w-100">
            <ion-text class="font-weight-bold">
              Rút tiền từ ví
            </ion-text>
            <br>
            <ion-text>
              Ngày: 1/2/2024 10:05:33 PM
            </ion-text>
            <br>
            <ion-text>
              Rút tiền từ ví
            </ion-text>
            <br>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Số dư ví : 20000000
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text class="font-weight-bold">
                  -2,000,000,000
                </ion-text>
              </div>
            </div>          
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-item>
  <ion-item lines="none" style="border-bottom: 1px solid #f2f2f2;padding-top: 1em;">
    <ion-card class="w-100" style="margin: 0em;box-shadow: none">
      <ion-card-content style="padding: 0.2em;">
        <div class="d-flex align-items-center">
          <img style="width: 4em;
              margin-right: 1rem;" src="../../../assets/image/cash.png" alt="">
          <div class="w-100">
            <ion-text class="font-weight-bold">
              Thanh toán đơn hàng
            </ion-text>
            <br>
            <ion-text>
              Ngày: 1/2/2024 10:05:33 PM
            </ion-text>
            <br>
            <ion-text>
              Thanh toán đơn hàng
            </ion-text>
            <br>
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Số dư ví : 20000000
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text class="font-weight-bold">
                  -2,000,000,000
                </ion-text>
              </div>
            </div>          
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-content>


