<ion-header class="ion-no-border" style="--background:white !important;">
  <ion-toolbar mode="ios" class="bg-default">
    <ion-button slot="start" (click)="onback()" fill="clear">
      <ion-icon style="color: white !important;" class="text-dark" name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title class="dynamic-font text-dark">Danh sách kiện hàng</ion-title>
  </ion-toolbar>
  <ion-toolbar  style="--background:linear-gradient(154deg, rgba(139,237,251,1) 0%, rgba(42,186,227,1) 50%, rgba(100,181,246,1) 100%) !important;">
    <ion-searchbar slot="start" class="p-2" placeholder="Tìm kiếm kiện hàng" (ionChange)="ionChange($event)"
      enterkeyhint="search" mode="ios" show-clear-button="always"></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar style="--background:white !important;">
    <ion-segment [scrollable]="true" [value]="status" mode="md">
      <ion-segment-button (click)=" sortData(0)" [value]="0">
        <ion-text class="text-segment dynamic-font text-dark font-weight-bold">
          <span>Tất cả</span>
        </ion-text>
      </ion-segment-button>
      <ion-segment-button (click)=" sortData(1)" [value]="1">
        <ion-text class="text-segment dynamic-font text-dark font-weight-bold">
          <span>Chưa xác nhận</span>
        </ion-text>
      </ion-segment-button>
      <ion-segment-button (click)=" sortData(2)" [value]="2">
        <ion-text class="text-segment dynamic-font text-dark font-weight-bold">
          <span>Hàng về kho TQ</span>
        </ion-text>
      </ion-segment-button>
      <ion-segment-button (click)=" sortData(3)" [value]="3">
        <ion-text class="text-segment dynamic-font text-dark font-weight-bold">
          <span>Đang trên đường về HCM</span>
        </ion-text>
      </ion-segment-button>
      <ion-segment-button (click)=" sortData(4)" [value]="4">
        <ion-text class="text-segment dynamic-font text-dark font-weight-bold">
          <span>Hàng về tới HCM</span>
        </ion-text>
      </ion-segment-button>
      <ion-segment-button (click)=" sortData(5)" [value]="5">
        <ion-text class="text-segment dynamic-font text-dark font-weight-bold">
          <span>Đã nhận hàng</span>
        </ion-text>
      </ion-segment-button>
      <ion-segment-button (click)=" sortData(9)" [value]="9">
        <ion-text class="text-segment dynamic-font text-dark font-weight-bold">
          <span>Đã hủy</span>
        </ion-text>
      </ion-segment-button>
      <ion-segment-button (click)=" sortData(10)" [value]="10">
        <ion-text class="text-segment dynamic-font text-dark font-weight-bold">
          <span>Thất lạc</span>
        </ion-text>
      </ion-segment-button>
      <ion-segment-button (click)=" sortData(11)" [value]="11">
        <ion-text class="text-segment dynamic-font text-dark font-weight-bold">
          <span>Không nhận được hàng</span>
        </ion-text>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content style="--background:white !important">
  <!-- <ng-container *ngIf="isloadpage">
    <div style="background-color: white !important;" class="d-flex align-items-center justify-content-center h-100 w-100">
      <ion-spinner style="color: black !important;" mode="ios" name="dots"></ion-spinner>
    </div>
  </ng-container> -->
  <ng-container *ngIf="isEmpty">
    <div style="flex-direction: column;" class="d-flex align-items-center justify-content-center h-100">
      <img style="width: 40%;" src="../../../assets/image/empty-box.png" alt="">
      <ion-text class="dynamic-font" style="color:black !important">
        Không có kiện hàng
      </ion-text>
    </div>
  </ng-container>
  <div class="w-100 mt-2">
    <ion-list *ngIf="lstData && lstData.length" class="m-0" style="background-color:white !important;">
      <ng-container *ngFor="let item of lstData">
        <ion-item lines="none" style="--background:white !important">
          <ion-card class="mx-1 my-1 mb-4 w-100"
            style="--background:white !important;box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px !important;">
            <ion-card-header class="p-3">
              <div style="justify-content: space-between;" class="d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <ion-text style="font-size: 1rem;" class="dynamic-font text-dark font-weight-bold me-2">
                    Mã kiện hàng
                  </ion-text>
                </div>
                <div class="d-flex align-items-center">
                  <ion-text class="dynamic-font me-2" style="font-size: 1rem;">
                    {{item.packageCode}}
                  </ion-text>
                  <ion-icon [cdkCopyToClipboard]="item.packageCode" (click)="onCopy()" style="font-size: 2rem;"
                    name="copy-outline"></ion-icon>
                </div>
              </div>
            </ion-card-header>
            <ion-card-content class="p-3" >
              <div class="w-100" (click)="viewDetail(item)">
                <div class="d-flex align-items-center">
                  <ng-container *ngIf="item.status == 0 || item.status == 1">
                    <img style="width: 4em;height: 4em;
                      margin-right: 1rem;" src="../../../assets/image/package-wait.png" alt="">
                  </ng-container>
                  <ng-container *ngIf="item.status == 2 || item.status == 3 || item.status == 4">
                    <img style="width: 4em;height: 4em;
                      margin-right: 1rem;" src="../../../assets/image/package-delivery.png" alt="">
                  </ng-container>
                  <ng-container *ngIf="item.status == 5">
                    <img style="width: 4em;height: 4em;
                      margin-right: 1rem;" src="../../../assets/image/package.png" alt="">
                  </ng-container>
                  <ng-container *ngIf="item.status == 9 || item.status == 10 || item.status == 11">
                    <img style="width: 4em;height: 4em;
                      margin-right: 1rem;" src="../../../assets/image/package-cancelled.png" alt="">
                  </ng-container>
                  <div>
                    <ion-text mode="ios">
                      <span class="dynamic-font text-dark font-weight-bold"> Loại vận chuyển:</span>
                      <ng-container [ngSwitch]="item.movingMethod">
                        <span *ngSwitchCase="2">
                          Chậm
                        </span>
                        <span *ngSwitchCase="3">
                          Bộ
                        </span>
                        <span *ngSwitchCase="4">
                          Bộ lô
                        </span>
                        <span *ngSwitchCase="5">
                          Biển
                        </span>
                        <span *ngSwitchDefault>
                          Nhanh
                        </span>
                      </ng-container>
                    </ion-text>
                    <br>
                    <ion-text>
                      <span class="dynamic-font text-dark font-weight-bold">Kho nhận:</span>
                      <ng-container [ngSwitch]="item.wareHouse">
                        <span *ngSwitchCase="'1'">
                          Đông quản
                        </span>
                        <span *ngSwitchCase="'2'">
                          Phật sơn
                        </span>
                      </ng-container>
                    </ion-text>
                    <br>
                    <ion-text>
                      <span class="dynamic-font text-dark font-weight-bold">Ngày tạo: </span>
                      <span>{{item.createdDate | date : 'dd/MM/yyyy hh:mm a'}}</span>
                    </ion-text>
                    <br>
                    <ion-text>
                      <span class="dynamic-font text-dark font-weight-bold">Dịch vụ phụ: </span>
                      <span *ngIf="item.isWoodPackage">Đóng gỗ</span>
                      <span *ngIf="item.isWoodPackage && item.isAirPackage">-</span>
                      <span *ngIf="item.isAirPackage">Bọt khí</span>
                      <span *ngIf="item.isAirPackage && item.isInsurance">-</span>
                      <span *ngIf="item.isInsurance">Bảo hiểm</span>
                      <span *ngIf="!item.isWoodPackage && !item.isAirPackage && !item.isInsurance">Không có</span>
                    </ion-text>
                    <br>
                    <ng-container *ngIf="item?.note">
                      <ion-text class="dynamic-font text-dark font-weight-bold">
                        <span>Mô tả: </span>
                      </ion-text>
                      <ion-text class="dynamic-font">
                        <span>{{item?.note}}</span>
                      </ion-text>
                    </ng-container>
                  </div>
                </div>
                <div class="d-flex justify-content-end mt-2 mb-2">
                  <ng-container [ngSwitch]="item.status">
                    <ion-badge mode="ios" *ngSwitchDefault color="medium">
                      <ion-text style="font-size: 1rem;color: white !important;" class="dynamic-font">
                        <span>Chưa xác nhận</span>
                      </ion-text>
                    </ion-badge>
                    <ion-badge mode="ios" *ngSwitchCase="2" color="tertiary">
                      <ion-text style="font-size: 1rem;color: white !important;" class="dynamic-font">
                        <span>Hàng về kho TQ</span>
                      </ion-text>
                    </ion-badge>
                    <ion-badge mode="ios" *ngSwitchCase="3" color="secondary">
                      <ion-text style="font-size: 1rem;color: white !important;" class="dynamic-font">
                        <span>Đang về HCM</span>
                      </ion-text>
                    </ion-badge>
                    <ion-badge mode="ios" *ngSwitchCase="4" color="primary">
                      <ion-text style="font-size: 1rem;color: white !important;" class="dynamic-font">
                        <span>Hàng về tới HCM</span>
                      </ion-text>
                    </ion-badge>
                    <ion-badge mode="ios" *ngSwitchCase="5" color="success">
                      <ion-text style="font-size: 1rem;color: white !important;" class="dynamic-font">
                        <span>Đã nhận hàng</span>
                      </ion-text>
                    </ion-badge>
                    <ion-badge mode="ios" *ngSwitchCase="9" color="dark">
                      <ion-text style="font-size: 1rem;color: white !important;" class="dynamic-font">
                        <span>Đã hủy</span>
                      </ion-text>
                    </ion-badge>
                    <ion-badge mode="ios" *ngSwitchCase="10" color="warning">
                      <ion-text style="font-size: 1rem;color: white !important;" class="dynamic-font">
                        <span>Thất lạc</span>
                      </ion-text>
                    </ion-badge>
                    <ion-badge mode="ios" *ngSwitchCase="11" color="danger">
                      <ion-text style="font-size: 1rem;color: white !important;" class="dynamic-font">
                        <span>Không nhận được hàng</span>
                      </ion-text>
                    </ion-badge>
                  </ng-container>
                </div>
              </div>
              <div class="w-100 pt-3">
                <swiper-container mode="ios" [slidesPerView]="1" [pagination]="true">
                  <swiper-slide>
                    <div class="d-flex align-items-center justify-content-center text-center">
                      <ion-button (click)="openPopPackage(item)" mode="ios" size="default" class="ion-btn-default mb-5">
                        <ion-icon style="color: white !important;" slot="start" name="create-outline"></ion-icon>
                        <ion-text style="color: white !important;" class="dynamic-font">
                          Nhập mô tả
                        </ion-text>
                      </ion-button>
                    </div>
                  </swiper-slide>
                  <ng-container *ngIf="item?.status < 2">
                    <swiper-slide>
                      <div class="d-flex align-items-center justify-content-center text-center">
                        <ion-button (click)="openPopCheckPackage(item)" mode="ios" class="mb-5" size="default" color="warning">
                          <ion-icon style="color: white !important;" slot="start" name="checkmark-circle-outline"></ion-icon>
                          <ion-text style="color: white !important;" class="dynamic-font">
                            Kiểm tra hàng
                          </ion-text>
                        </ion-button>
                      </div>
                    </swiper-slide>
                    <swiper-slide>
                      <div class="d-flex align-items-center justify-content-center text-center">
                        <ion-button (click)="openPopCancelPackage(item)" mode="ios" class="mb-5" size="default" color="medium">
                          <ion-icon style="color: white !important;" slot="start" name="stop-circle-outline"></ion-icon>
                          <ion-text style="color: white !important;" class="dynamic-font">
                            Hủy đơn
                          </ion-text>
                        </ion-button>
                      </div>
                    </swiper-slide>
                    <swiper-slide>
                      <div class="d-flex align-items-center justify-content-center text-center">
                        <ion-button (click)="openPopDeletePackage(item)" mode="ios" class="mb-5" size="default" color="danger">
                          <ion-icon style="color: white !important;" slot="start" name="trash-outline"></ion-icon>
                          <ion-text style="color: white !important;" class="dynamic-font">
                            Xóa đơn
                          </ion-text>
                        </ion-button>
                      </div>
                    </swiper-slide>
                  </ng-container>
                  <swiper-slide *ngIf="item.status == 9 && item?.canceledBy == username">
                    <div class="d-flex align-items-center justify-content-center text-center">
                      <ion-button (click)="openPopRestorePackage(item)" mode="ios" class="mb-5" size="default" color="success">
                        <ion-icon style="color: white !important;" slot="start" name="sync-circle-outline"></ion-icon>
                        <ion-text style="color: white !important;" class="dynamic-font">
                          Khôi phục
                        </ion-text>
                      </ion-button>
                    </div>
                  </swiper-slide>
                </swiper-container>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-item>
      </ng-container>
    </ion-list>
  </div>
  <!-- update note -->
  <ion-modal id="modal-dialog" style="--background:white !important" (willDismiss)="cancelEdit()" [isOpen]="isOpenEditPackage">
    <ng-template>
      <div class="p-3 w-100 h-100">
        <div class="w-100 mb-3">
          <ion-text class="dynamic-font text-center text-dark">
            <h3 class="mx-0 my-0 font-weight-bold">Nhập mô tả kiện hàng</h3>
          </ion-text>
        </div>
        <div class="w-100 text-center">
          <ion-text class="dynamic-font text-dark">
            <span>Bạn có muốn nhập mô tả cho kiện hàng </span>
          </ion-text>
          <ion-text style="color: var(--ion-color-mat-primary) !important;" class="dynamic-font">
            <span>{{itemSelected?.packageCode}}</span>
          </ion-text>
          <ion-text class="dynamic-font text-dark">
            <span>?</span>
          </ion-text>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-3">
          <ion-button (click)="editPackage(itemSelected)" mode="ios" size="default" class="ion-btn-default me-3">
            <ion-text style="color: white !important;" class="dynamic-font">
              Đồng ý
            </ion-text>
          </ion-button>
          <ion-button (click)="cancelEdit()" mode="ios" size="default" color="medium">
            <ion-text style="color: white !important;" class="dynamic-font">
              Hủy bỏ
            </ion-text>
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
  <!-- update note -->

  <!-- CheckPackkage -->
  <ion-modal id="modal-dialog" style="--background:white !important" (willDismiss)="cancelCheck()" [isOpen]="isOpenCheckPackage">
    <ng-template>
      <div class="p-3 w-100 h-100">
        <div class="w-100 mb-3">
          <ion-text class="dynamic-font text-center text-dark">
            <h3 class="mx-0 my-0 font-weight-bold">Kiểm tra kiện hàng</h3>
          </ion-text>
        </div>
        <div class="w-100 text-center">
          <ion-text class="dynamic-font text-dark">
            <span>Bạn có muốn kiểm tra kiện hàng </span>
          </ion-text>
          <ion-text style="color: var(--ion-color-mat-primary) !important;" class="dynamic-font">
            <span>{{itemSelected?.packageCode}}</span>
          </ion-text>
          <ion-text class="dynamic-font text-dark">
            <span>?</span>
          </ion-text>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-3">
          <ion-button (click)="continuteCheck(itemSelected)" mode="ios" size="default" class="ion-btn-default me-3">
            <ion-text style="color: white !important;" class="dynamic-font">
              Đồng ý
            </ion-text>
          </ion-button>
          <ion-button (click)="cancelCheck()" mode="ios" size="default" color="medium">
            <ion-text style="color: white !important;" class="dynamic-font">
              Hủy bỏ
            </ion-text>
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
  <ion-modal id="modal-dialog" style="--background:white !important" (willDismiss)="cancelCheck2()" [isOpen]="isOpenCheckPackage2">
    <ng-template>
      <div class="p-3 w-100 h-100">
        <div class="w-100 mb-3">
          <ion-text class="dynamic-font text-center text-dark">
            <h3 class="mx-0 my-0 font-weight-bold">Kiểm tra kiện hàng</h3>
          </ion-text>
        </div>
        <div class="w-100" text-center>
          <ion-text class="dynamic-font text-dark">
            <span>Bạn đã hết lượt tra cứu miễn phí, tiếp tục sẽ tốn phí </span>
          </ion-text>
          <ion-text style="color: var(--ion-color-mat-primary) !important;" class="dynamic-font">
            <span>500đ.</span>
          </ion-text>
          <ion-text class="dynamic-font text-dark">
            <span>Bạn có muốn tiếp tục?</span>
          </ion-text>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-3">
          <ion-button (click)="checkPackage(itemSelected)" mode="ios" size="default" class="ion-btn-default me-3">
            <ion-text style="color: white !important;" class="dynamic-font">
              Đồng ý
            </ion-text>
          </ion-button>
          <ion-button (click)="cancelCheck2()" mode="ios" size="default" color="medium">
            <ion-text style="color: white !important;" class="dynamic-font">
              Hủy bỏ
            </ion-text>
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
  <!-- CheckPackkage -->

  <!-- CancelPackkage -->
  <ion-modal id="modal-dialog" style="--background:white !important" (willDismiss)="cancelPopPackage()" [isOpen]="isOpenCancelPackage">
    <ng-template>
      <div class="p-3 w-100 h-100">
        <div class="w-100 mb-3">
          <ion-text class="dynamic-font text-center text-dark">
            <h3 class="mx-0 my-0 font-weight-bold">Hủy kiện hàng</h3>
          </ion-text>
        </div>
        <div class="w-100 text-center">
          <ion-text class="dynamic-font text-dark">
            <span>Bạn có muốn hủy kiện hàng </span>
          </ion-text>
          <ion-text style="color: var(--ion-color-mat-primary) !important;" class="dynamic-font">
            <span>{{itemSelected?.packageCode}}</span>
          </ion-text>
          <ion-text class="dynamic-font text-dark">
            <span>?</span>
          </ion-text>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-3">
          <ion-button (click)="cancelPackage(itemSelected)" mode="ios" size="default" class="ion-btn-default me-3">
            <ion-text style="color: white !important;" class="dynamic-font">
              Đồng ý
            </ion-text>
          </ion-button>
          <ion-button (click)="cancelPopPackage()" mode="ios" size="default" color="medium">
            <ion-text style="color: white !important;" class="dynamic-font">
              Hủy bỏ
            </ion-text>
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
  <!-- CancelPackkage -->

  <!-- RestorePackkage -->
  <ion-modal id="modal-dialog" style="--background:white !important" (willDismiss)="cancelRestorePackage()" [isOpen]="isOpenRestorePackage">
    <ng-template>
      <div class="p-3 w-100 h-100">
        <div class="w-100 mb-3">
          <ion-text class="dynamic-font text-center text-dark">
            <h3 class="mx-0 my-0 font-weight-bold">Khôi phục kiện hàng</h3>
          </ion-text>
        </div>
        <div class="w-100 text-center">
          <ion-text class="dynamic-font text-dark">
            <span>Bạn có muốn khôi phục kiện hàng </span>
          </ion-text>
          <ion-text style="color: var(--ion-color-mat-primary) !important;" class="dynamic-font">
            <span>{{itemSelected?.packageCode}}</span>
          </ion-text>
          <ion-text class="dynamic-font text-dark">
            <span>?</span>
          </ion-text>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-3">
          <ion-button (click)="restorePackage(itemSelected)" mode="ios" size="default" class="ion-btn-default me-3">
            <ion-text style="color: white !important;" class="dynamic-font">
              Đồng ý
            </ion-text>
          </ion-button>
          <ion-button (click)="cancelRestorePackage()" mode="ios" size="default" color="medium">
            <ion-text style="color: white !important;" class="dynamic-font">
              Hủy bỏ
            </ion-text>
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
  <!-- RestorePackkage -->

  <!-- DeletePackkage -->
  <ion-modal id="modal-dialog" style="--background:white !important" (willDismiss)="cancelDeletePackage()" [isOpen]="isOpenDeletePackage">
    <ng-template>
      <div class="p-3 w-100 h-100">
        <div class="w-100 mb-3">
          <ion-text class="dynamic-font text-center text-dark">
            <h3 class="mx-0 my-0 font-weight-bold">Xóa kiện hàng</h3>
          </ion-text>
        </div>
        <div class="w-100 text-center">
          <ion-text class="dynamic-font text-dark">
            <span>Bạn có muốn xóa kiện hàng </span>
          </ion-text>
          <ion-text style="color: var(--ion-color-mat-primary) !important;" class="dynamic-font">
            <span>{{itemSelected?.packageCode}}</span>
          </ion-text>
          <ion-text class="dynamic-font text-dark">
            <span>?</span>
          </ion-text>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-3">
          <ion-button (click)="deletePackage(itemSelected)" mode="ios" size="default" class="ion-btn-default me-3">
            <ion-text style="color: white !important;" class="dynamic-font">
              Đồng ý
            </ion-text>
          </ion-button>
          <ion-button (click)="cancelDeletePackage()" mode="ios" size="default" color="medium">
            <ion-text style="color: white !important;" class="dynamic-font">
              Hủy bỏ
            </ion-text>
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
  <!-- DeletePackkage -->
</ion-content>
<ion-footer *ngIf="!isHideFooter" class="ion-no-border"
  style="box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;">
  <ion-toolbar mode="ios" style="--background:white !important">
    <ion-button mode="ios" (click)="createPackage()" class="ion-btn-default" expand="block">
      <ion-text class="dynamic-font font-weight-bold" style="color: white !important;">
        <span>THÊM KIỆN HÀNG</span>
      </ion-text>
    </ion-button>
  </ion-toolbar>
</ion-footer>