<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" style="--background:white !important">
    <ion-buttons slot="start">
      <ion-button (click)="onback()" fill="clear">
        <ion-icon class="text-primary-default" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="md" class="dynamic-font text-primary-default pl-0 pr-0">
      <h2 class="my-2 mx-0 font-weight-bold">Nạp tiền tự động</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="--background:white !important">
  <div [style]="isShowRecharge ? '' : 'display: none !important;'" class="d-flex align-items-center justify-content-center h-100 w-100">
    <div style="margin: auto;max-width: 850px;">
      <ion-card mode="ios" style="--background:white !important">
        <ion-card-header>
          <div style="height: 470px;">
            <img *ngIf="qr1" [src]="qr1" alt="">
          </div>
        </ion-card-header>
      
        <!-- <ion-card-content>
          <div class="alert alert-warning d-flex" role="alert">
            <i class="bi bi-exclamation-triangle-fill icon-16 mr-2"></i>
            <div>
                <ion-text class="mb-0 dynamic-font text-dark">
                  <b>Lưu ý:</b>
                </ion-text>
                <br>
                <ion-text class="mb-0 dynamic-font text-dark">
                  - Nội dung chuyển khoản VND chỉ ghi tên zalo hoặc tên chủ tài khoản.
                </ion-text>
                <br>
                <ion-text class="mb-0 dynamic-font text-dark">
                  - KHÔNG ghi tệ, RMB, alipay, taobao, wechat, thanh toán hộ, mua hàng, tiền phí bảo hiểm,…
                </ion-text>
            </div>
        </div>
        </ion-card-content> -->
      </ion-card>
      <ion-card mode="ios" style="--background:white !important">
        <ion-card-header>
          <div style="height: 470px;">
            <img *ngIf="qr2" [src]="qr2" alt="">
          </div>
        </ion-card-header>
      
        <!-- <ion-card-content>
          <div class="alert alert-warning d-flex" role="alert">
            <i class="bi bi-exclamation-triangle-fill icon-16 mr-2"></i>
            <div>
                <ion-text class="mb-0 dynamic-font text-dark">
                  <b>Lưu ý:</b>
                </ion-text>
                <br>
                <ion-text class="mb-0 dynamic-font text-dark">
                  - Nội dung chuyển khoản VND chỉ ghi tên zalo hoặc tên chủ tài khoản.
                </ion-text>
                <br>
                <ion-text class="mb-0 dynamic-font text-dark">
                  - KHÔNG ghi tệ, RMB, alipay, taobao, wechat, thanh toán hộ, mua hàng, tiền phí bảo hiểm,…
                </ion-text>
            </div>
        </div>
        </ion-card-content> -->
      </ion-card>
      <ion-grid fixed class="mb-3">
        <ion-row>
          <ion-col>
            <div>
              <ion-text class="text-orange dynamic-font">(*)</ion-text>&nbsp;<ion-text style="color:black !important" class="font-weight-bold dynamic-font">Quý khách vui lòng chuyển đúng cú pháp để hệ thống duyệt tiền tự động.</ion-text>
              <br>
              <ion-text class="text-orange dynamic-font">(*)</ion-text>&nbsp;<ion-text style="color:black !important" class="font-weight-bold dynamic-font">Với những giao dịch nạp tiền chuyển khoản ngoài giờ hành chính. Thời gian hệ thống xử lý có thể chậm hơn bình thường. Mong quý khách hàng thông cảm!</ion-text>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <!-- Rechare-->
  <ion-modal id="modal-dialog" style="--background:white !important" (willDismiss)="cancelRecharge()" [isOpen]="isOpenRecharge">
    <ng-template>
      <div class="p-3 w-100 h-100">
        <div class="w-100 mb-3">
          <ion-text class="dynamic-font text-center text-dark">
            <h3 class="mx-0 my-0 font-weight-bold">Nhập số tiền cần nạp</h3>
          </ion-text>
        </div>
        <div class="w-100">
          <ion-text class="dynamic-font text-dark font-weight-bold">
            <span>Quý khách vui lòng không thay đổi nội dung. Thời gian xử lý tối đa 5 phút, sau thời gian này nếu tài khoản chưa được tự động nạp, vui lòng liên hệ CSKH.</span>
          </ion-text>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-3">
          <ion-button (click)="acceptRecharge()" mode="ios" size="default" class="ion-btn-default pr-3">
            <ion-text style="color: white !important;" class="dynamic-font">
              Đồng ý
            </ion-text>
          </ion-button>
          <ion-button (click)="cancelRecharge(true)" mode="ios" size="default" color="medium">
            <ion-text style="color: white !important;" class="dynamic-font">
              Hủy bỏ
            </ion-text>
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
  <!-- Rechare -->
</ion-content>
<!-- <ion-footer *ngIf="platform == 'ios'" class="ion-no-border" style="--background:white;">
  <ion-toolbar style="--background:white;">
    <div>
      <ion-text class="text-danger">(*)</ion-text>&nbsp;<ion-text class="font-weight-bold">Quý khách vui lòng chuyển đúng cú pháp để hệ thống duyệt tiền tự động.</ion-text>
      <br>
      <ion-text class="text-danger">(*)</ion-text>&nbsp;<ion-text class="font-weight-bold">Với những giao dịch nạp tiền chuyển khoản ngoài giờ hành chính. Thời gian hệ thống xử lý có thể chậm hơn bình thường. Mong quý khách hàng thông cảm!</ion-text>
    </div>
  </ion-toolbar>
</ion-footer> -->