<ion-header class="ion-no-border">
  <ion-toolbar style="--background:white;">
    <ion-title mode="ios">Thông báo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" style="border-bottom: 1px solid #f2f2f2;padding-top: 1em;">
    <ion-card class="w-100" style="margin: 0em;box-shadow: none">
      <ion-card-content style="padding: 0.2em;">
        <div class="d-flex align-items-center">
          <img style="width: 4em;
              margin-right: 1rem;" src="../../../assets/image/money-bag.png" alt="">
          <div class="w-100">
            <ion-text class="font-weight-bold">
              Yêu cầu nạp tiền
            </ion-text>
            <br>
            <ion-text>
              Nạp tiền thành công.Tài khoản của bạn được cộng thêm +200000000
            </ion-text>
            <br>
            <ion-text>
              Ngày: 1/2/2024 10:05:33 PM
            </ion-text>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-item>
  <ion-item lines="none" style="border-bottom: 1px solid #f2f2f2;padding-top: 1em;">
    <ion-card class="w-100" style="margin: 0em;box-shadow: none">
      <ion-card-content style="padding: 0.2em;">
        <div class="d-flex align-items-center">
          <img style="width: 4em;
              margin-right: 1rem;" src="../../../assets/image/money-withdrawal.png" alt="">
          <div class="w-100">
            <ion-text class="font-weight-bold">
              Yêu cầu rút tiền
            </ion-text>
            <br>
            <ion-text>
              Rút tiền thành công.Tài khoản của bạn  -200000000
            </ion-text>
            <br>
            <ion-text>
              Ngày: 1/2/2024 10:05:33 PM
            </ion-text>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-item>
  <ion-item lines="none" style="border-bottom: 1px solid #f2f2f2;padding-top: 1em;">
    <ion-card class="w-100" style="margin: 0em;box-shadow: none">
      <ion-card-content style="padding: 0.2em;">
        <div class="d-flex align-items-center">
          <img style="width: 4em;
              margin-right: 1rem;" src="../../../assets/image/cash.png" alt="">
          <div class="w-100">
            <ion-text class="font-weight-bold">
              Thanh toán đơn hàng
            </ion-text>
            <br>
            <ion-text>
              Thanh toán đơn hàng thành công. Tài khoản của bạn -200000000000
            </ion-text>
            <br>
            <ion-text>
              Ngày: 1/2/2024 10:05:33 PM
            </ion-text>
            <br>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-content>
