/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

// css for all screen
html {
    font-size: 100%;
    @media (max-width: 289px) {
        font-size: 45%;
    }
    @media (min-width: 290px) {
        font-size: 50%;
    }
    @media (min-width: 300px) {
        font-size: 52.5%;
    }
    @media (min-width: 320px) {
        font-size: 55.5%;
    }
    @media (min-width: 325px) {
        font-size: 56.5%;
    }
    @media (min-width: 326px) {
        font-size: 57%;
    }
    @media (min-width: 330px) {
        font-size: 59%;
    }
    @media (min-width: 360px) {
        font-size: 62.5%;
    }
    @media (min-width: 411px) {
        font-size: 70%;
    }
    @media (min-width: 500px) {
        font-size: 85%;
    }
    @media (min-width: 720px) {
        font-size: 100%;
    }
    @media (min-width: 1000px) {
        font-size: 110%;
    }
  }
  html.ios {
    @media (max-width: 359px) and (min-width: 320px) {
        font-size: 59%;
    }
  }


.form-control{
    //font-size: 0.8em;
    caret-color: #ffb400;
}

input:focus{
    outline: none !important;
    box-shadow: none !important;
    border-color: #ced4da !important;
}

ion-segment{
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
}

ion-segment-button {
    --color-checked: #ffc107;
}

.tab-selected{
    color: #ffc107 !important;
    border-top: 1px solid #ffc107 !important;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.mySlides {
    display: none;
} 

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn-app-home{
    border-radius: 0.8em;
    background-color: #ffb400;
    border: none;
    width: 4rem;
    height: 4rem;
}

.btn-accent{
    outline: none !important;
    box-shadow: none !important;
    background-color: #ffc107;
}

.btn-app-home:active,
.btn-app-home:hover,
.btn-app-home:focus{
    background-color: #ffb400 !important;
}

.no-data{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: " ";
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 2.9em;
    width: 0.2em;
    height: 100%;
    z-index: 400;
}

ul.timeline > li {
    margin: 3em 0;
    padding-left: 3em;
}

ul.timeline > .no-active:before {
    content: " ";
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #ffb400;
    left: 2.3em;
    width: 1.5em;
    height: 1.5em;
    z-index: 400;
}
ul.timeline > .active:before {
    content: " ";
    background: #ffb400;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #ffb400;
    left: 2.3em;
    width: 1.5em;
    height: 1.5em;
    z-index: 400;
}

.mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 1em !important;
}

.text-segment{
    font-size: 0.8em;
}

#tab-main{
    .mdc-tab{
        min-width: unset !important;
        padding: unset !important;
    }
    .mat-ripple.mat-mdc-tab-ripple{
        background-color: white !important;
    }
}

.badge-wait{
    background-color: var(--ion-color-warning-tint);
}

.badge-success{
    background-color: var(--ion-color-success);
}

.badge-cancel{
    background-color: var(--ion-color-danger);
}

.badge-grey{
    background-color: var(--ion-color-medium);
}