/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

// css for all screen
html{
    //font-family: 'Comic Sans MS' !important;
    //font-size: 16px !important;
    font-family: Tahoma, sans-serif !important;
    @media (min-width: 320px) {
        font-size: 10px !important;
        .icon-menu{
            font-size: 19px !important;
        }
    }

    @media (min-width: 360px) {
        font-size: 10px !important;
        .icon-menu{
            font-size: 19px !important;
        }
    }

    @media (min-width: 375px) {
        font-size: 11px !important;
        .icon-menu{
            font-size: 21px !important;
        }
    }

    @media (min-width: 390px) {
        font-size: 12px !important;
        .icon-menu{
            font-size: 21.5px !important;
        }
    }

    @media (min-width: 393px) {
        font-size: 12px !important;
        .icon-menu{
            font-size: 21.5px !important;
        }
    }

    @media (min-width: 400px) {
        font-size: 13px !important;
        .icon-menu{
            font-size: 22px !important;
        }
    }

    @media (min-width: 411px) {
        font-size: 13px !important;
        .icon-menu{
            font-size: 22px !important;
        }
    }

    @media (min-width: 428px) {
        font-size: 13.5px !important;
        .icon-menu{
            font-size: 22px !important;
        }
    }

    @media (min-width: 430px) {
        font-size: 14px !important;
        .icon-menu{
            font-size: 22.5px !important;
        }
    }

    @media (min-width: 448px) {
        font-size: 14.8px !important;
        .icon-menu{
            font-size: 22.5px !important;
        }
    }

    @media (min-width: 500px) {
        font-size: 15px !important;
        .icon-menu{
            font-size: 23px !important;
        }
    }

    @media (min-width: 720px) {
        font-size: 15.5px !important;
        .icon-menu{
            font-size: 24px !important;
        }
    }

    @media (min-width: 1000px) {
        font-size: 16px !important;
        .icon-menu{
            font-size: 25px !important;
        }
    }
}

// html.ios {
//     font-size: 14px !important;
//     font-family: Tahoma, sans-serif !important;
// }

.dynamic-font {
    font-family: Tahoma, sans-serif !important;
}

.text-orange{
    color: orange !important;
}

.text-dark{
    color: black !important;
}

.text-primary-default{
    color: var(--ion-color-mat-primary) !important;
}

.ion-btn-default{
    --background: var(--ion-color-mat-primary) !important;
    --background-activated: var(--ion-color-mat-accent) !important;
}

.ion-btn-orange{
    --background: orange !important;
    --background-activated: rgb(255, 214, 137) !important;
}


// .form-control {
//     //font-size: 0.8em;
//     caret-color: #ffb400;
// }

input:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #ced4da !important;
}

ion-segment {
    --background: white !important;
    --offset-bottom: auto !important;
    --overflow: hidden;
    overflow: auto;
    color: var(--ion-color-medium-tint) !important;

    &::-webkit-scrollbar {
        display: none;
    }
}

ion-segment-button {
    --color-checked: var(--ion-color-mat-primary) !important;
    --color: var(--ion-color-medium-tint) !important;
    //font-size: 1rem !important;
    font-family: Tahoma, sans-serif !important;
    text-transform: none !important;
    font-size: unset !important;
    min-height: unset !important;
    height: 3rem !important;
}

// ion-segment-button#custom::part(indicator-background) {
//     background: var(--ion-color-mat-primary)  !important;
//   }

// ion-segment-button#custom::part(indicator) {
//     padding: 1px !important;
// }

.tab-selected {
    color: var(--ion-color-mat-primary) !important;
    border-top: 1px solid white !important;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.mySlides {
    display: none;
}

.dot {
    height: 0.8rem;
    width: 0.8rem;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: var(--ion-color-mat-primary) !important;
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn-app-home {
    border-radius: 0.8em;
    background-color: var(--ion-color-mat-primary);
    border: none;
    width: 4rem;
    height: 4rem;
}

.btn-accent {
    outline: none !important;
    box-shadow: none !important;
    background-color: var(--ion-color-mat-primary);
}

.btn-app-home:active,
.btn-app-home:hover,
.btn-app-home:focus {
    background-color: var(--ion-color-mat-primary) !important;
}

.no-data {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: " ";
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 2.9em;
    width: 0.2em;
    height: 100%;
    z-index: 400;
}

ul.timeline>li {
    margin: 3em 0;
    padding-left: 3em;
}

ul.timeline>.no-active:before {
    content: " ";
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 2px solid var(--ion-color-mat-primary);
    left: 2.3em;
    width: 1.5em;
    height: 1.5em;
    z-index: 400;
}

ul.timeline>.active:before {
    content: " ";
    background: var(--ion-color-mat-primary);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 2px solid var(--ion-color-mat-primary);
    left: 2.3em;
    width: 1.5em;
    height: 1.5em;
    z-index: 400;
}

.mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 1em !important;
}

#tab-main {
    .mdc-tab {
        min-width: unset !important;
        padding: unset !important;
    }

    .mat-ripple.mat-mdc-tab-ripple {
        background-color: white !important;
    }
}

.no-border {
    border: none !important;
}

.mat-mdc-tab-label-container {
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

.mat-mdc-tab-label-container .mat-mdc-tab-list {
    //max-width: 850px;
}

.mat-mdc-tab .mdc-tab-indicator__content--underline {
    border-color: white !important;
}

.mat-mdc-dialog-surface.mdc-dialog__surface{
    border-radius: 30px !important;
}

.btn-orange.mat-mdc-unelevated-button:not(:disabled) {
    background-color: orange !important;
}

.btn-gray.mat-mdc-unelevated-button:not(:disabled) {
    background-color: gray !important;
}

// .btn-sussgest.mat-mdc-unelevated-button:not(:disabled){
//     background-color: rgb(0, 212, 0) !important;
// }

.mobile-toolbar ion-toolbar {
    --padding-top: 0 !important;
    --padding-bottom: 0 !important
}

.d-none{
    display: none !important;
}

ion-searchbar#custom-search {
    //--background: grey !important;
    --background: rgb(231, 231, 231) !important;
    --icon-color: gray;
    --clear-button-color: orange !important;
    --border-radius: 10px !important;
    --placeholder-color: gray !important;
    font-size: var(--ion-dynamic-font) !important;
    --color: black !important;
    // --background: white !important;
    // --color: grey !important;
    // --placeholder-color: grey !important;
    // --icon-color: grey;
    // --clear-button-color: orange !important;
    // font-size: var(--ion-dynamic-font) !important;
    // --border-radius:10px !important;
}

.block {
    width: 100%;
    height: 300px;
}

ion-modal {
    --height: auto;
}

ion-modal#modal-dialog {
    --width: 300px;
    --min-width: 250px;
    --height: fit-content;
    --border-radius: 20px;
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

ion-toast::part(icon) {
    font-size: 2rem !important;
}

.ion-padding {
    --padding-start: 1rem !important;
    --padding-end: 1rem !important;
    --padding-top: 1rem !important;
    --padding-bottom: 1rem !important;
}

.bg-default{
    --background:var(--ion-color-mat-primary) !important;
}

.bg-white{
    --background:white !important;
}

.bg-none{
    --background:none !important;
}

.bg-toast-default{
    --background:var(--ion-color-mat-primary) !important;
}

.bg-toast-orange{
    --background:orange !important;
}

.bg-toast-white{
    --background:white !important;
    //--box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.bg-default-2{
    background:var(--ion-color-mat-primary) !important;
}

.padding-statusbar-ios{
    padding-top: var(--ion-safe-area-top, 0) !important;
}

.text-white{
    color: white !important;
}

.carousel-indicators .active{
    background-color: var(--ion-color-mat-primary) !important;
}

.scroll-hidden::-webkit-scrollbar {
    display: none;
}

ion-fab {
    margin-bottom: var(--ion-safe-area-bottom, 0);
}

.ion-badge-noti{
    border-radius: 50px;
    position: absolute;
    top: 0.2rem;
    right: 1rem;
    color: #fff;
    background-color: orange;
    width: 1.3rem;
    height: 1.3rem;
    text-align: center;
    font-size: 0.8rem !important;
}

.animation-bell{
    -webkit-animation: ring 4s .7s ease-in-out infinite;
        -webkit-transform-origin: 50% 4px;
        -moz-animation: ring 4s .7s ease-in-out infinite;
        -moz-transform-origin: 50% 4px;
        animation: ring 4s .7s ease-in-out infinite;
        transform-origin: 50% 4px;
}

@-webkit-keyframes ring {
    0% { -webkit-transform: rotateZ(0); }
    1% { -webkit-transform: rotateZ(30deg); }
    3% { -webkit-transform: rotateZ(-28deg); }
    5% { -webkit-transform: rotateZ(34deg); }
    7% { -webkit-transform: rotateZ(-32deg); }
    9% { -webkit-transform: rotateZ(30deg); }
    11% { -webkit-transform: rotateZ(-28deg); }
    13% { -webkit-transform: rotateZ(26deg); }
    15% { -webkit-transform: rotateZ(-24deg); }
    17% { -webkit-transform: rotateZ(22deg); }
    19% { -webkit-transform: rotateZ(-20deg); }
    21% { -webkit-transform: rotateZ(18deg); }
    23% { -webkit-transform: rotateZ(-16deg); }
    25% { -webkit-transform: rotateZ(14deg); }
    27% { -webkit-transform: rotateZ(-12deg); }
    29% { -webkit-transform: rotateZ(10deg); }
    31% { -webkit-transform: rotateZ(-8deg); }
    33% { -webkit-transform: rotateZ(6deg); }
    35% { -webkit-transform: rotateZ(-4deg); }
    37% { -webkit-transform: rotateZ(2deg); }
    39% { -webkit-transform: rotateZ(-1deg); }
    41% { -webkit-transform: rotateZ(1deg); }
  
    43% { -webkit-transform: rotateZ(0); }
    100% { -webkit-transform: rotateZ(0); }
  }
  
  @-moz-keyframes ring {
    0% { -moz-transform: rotate(0); }
    1% { -moz-transform: rotate(30deg); }
    3% { -moz-transform: rotate(-28deg); }
    5% { -moz-transform: rotate(34deg); }
    7% { -moz-transform: rotate(-32deg); }
    9% { -moz-transform: rotate(30deg); }
    11% { -moz-transform: rotate(-28deg); }
    13% { -moz-transform: rotate(26deg); }
    15% { -moz-transform: rotate(-24deg); }
    17% { -moz-transform: rotate(22deg); }
    19% { -moz-transform: rotate(-20deg); }
    21% { -moz-transform: rotate(18deg); }
    23% { -moz-transform: rotate(-16deg); }
    25% { -moz-transform: rotate(14deg); }
    27% { -moz-transform: rotate(-12deg); }
    29% { -moz-transform: rotate(10deg); }
    31% { -moz-transform: rotate(-8deg); }
    33% { -moz-transform: rotate(6deg); }
    35% { -moz-transform: rotate(-4deg); }
    37% { -moz-transform: rotate(2deg); }
    39% { -moz-transform: rotate(-1deg); }
    41% { -moz-transform: rotate(1deg); }
  
    43% { -moz-transform: rotate(0); }
    100% { -moz-transform: rotate(0); }
  }
  
  @keyframes ring {
    0% { transform: rotate(0); }
    1% { transform: rotate(30deg); }
    3% { transform: rotate(-28deg); }
    5% { transform: rotate(34deg); }
    7% { transform: rotate(-32deg); }
    9% { transform: rotate(30deg); }
    11% { transform: rotate(-28deg); }
    13% { transform: rotate(26deg); }
    15% { transform: rotate(-24deg); }
    17% { transform: rotate(22deg); }
    19% { transform: rotate(-20deg); }
    21% { transform: rotate(18deg); }
    23% { transform: rotate(-16deg); }
    25% { transform: rotate(14deg); }
    27% { transform: rotate(-12deg); }
    29% { transform: rotate(10deg); }
    31% { transform: rotate(-8deg); }
    33% { transform: rotate(6deg); }
    35% { transform: rotate(-4deg); }
    37% { transform: rotate(2deg); }
    39% { transform: rotate(-1deg); }
    41% { transform: rotate(1deg); }
  
    43% { transform: rotate(0); }
    100% { transform: rotate(0); }
  }

  .mdc-checkbox__background{
    border-radius: 4px !important;
    //border-color: orange !important;
    //background-color: orange !important;
  }

  .mat-mdc-checkbox.mat-accent {
    --mdc-checkbox-selected-checkmark-color: white !important;
  }
  .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background{
    border-color: orange !important;
    background-color: orange !important;
  }

