<ion-header class="ion-no-border" style="--background:white !important;">
  <!-- <ion-toolbar mode="ios" class="bg-default">
    <ion-button slot="start" (click)="onback()" fill="clear">
      <ion-icon style="color: white !important;" class="text-dark" name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title style="color: white !important;" class="dynamic-font text-dark font-weight-bold">Chi tiết đơn hàng</ion-title>
  </ion-toolbar> -->
  <ion-toolbar mode="ios" style="--background:white !important">
    <ion-buttons slot="start">
      <ion-button (click)="onback()" fill="clear">
        <ion-icon class="text-primary-default" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="md" class="dynamic-font text-primary-default pl-0 pr-0">
      <h2 class="my-2 mx-0 font-weight-bold">Chi tiết đơn hàng</h2>
      <!-- <h2 class="my-2 mx-0 font-weight-bold">{{'Chi tiết đơn hàng('+lstPackage?.length+')'}}</h2> -->
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="--background:white !important;">
  <div class="w-100">
    <ion-list *ngIf="oData" class="m-0" style="background-color:white !important;">
      <ion-item lines="none" style="--background:white !important">
        <ion-card class="w-100 mx-1 my-2" mode="ios" style="--background:white !important;box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px !important;font-size: unset !important;">
          <ion-card-header style="padding-bottom: 0em;">
            <div style="justify-content: space-between;" class="d-flex align-items-center">
              <div>
                <ion-text class="dynamic-font font-weight-bold text-dark">
                  Mã đơn hàng
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text class="dynamic-font pr-2">
                  {{oData.shippingOrderCode}}
                </ion-text>
                <ion-icon [cdkCopyToClipboard]="oData.shippingOrderCode" (click)="onCopy()" style="font-size: 2rem;" name="copy-outline"></ion-icon>
              </div>
            </div>
          </ion-card-header>
          <ion-card-content>
            <ng-container *ngIf="lstPackage && lstPackage.length">
              <div style="padding-top: 1em;">
                <ion-text style="color: var(--ion-color-mat-primary);" class="dynamic-font font-weight-bold">
                  {{'DANH SÁCH KIỆN ('+lstPackage?.length+' kiện)'}}
                </ion-text>
              </div>
              <ng-container *ngFor="let item of lstPackage">
                <div class="w-100" style="border: 1px solid #ececec;border-radius: 1em;margin-top: 1em;">
                  <ion-grid fixed>
                    <ion-row>
                      <ion-col>
                        <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                          <div>
                            <ion-text class="dynamic-font font-weight-bold text-dark">
                              Mã Kiện
                            </ion-text>
                          </div>
                          <div class="d-flex align-items-center">
                            <ion-text class="dynamic-font pr-2">
                              {{item.packageCode}}
                            </ion-text>
                            <ion-icon [cdkCopyToClipboard]="item.packageCode" (click)="onCopy()" style="font-size: 2rem;"
                                name="copy-outline"></ion-icon>
                          </div>
                        </div>
                        <div class="w-100" (click)="viewDetailPackage(item)">
                          <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                            <div>
                              <ion-text class="dynamic-font text-dark font-weight-bold">
                                Mô tả
                              </ion-text>
                            </div>
                            <div class="d-flex align-items-center">
                              <ion-text class="dynamic-font">
                                {{item?.note}}
                              </ion-text>
                            </div>
                          </div> 
                          <!-- <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                            <div>
                              <ion-text class="dynamic-font font-weight-bold text-dark">
                                Vận chuyển
                              </ion-text>
                            </div>
                            <div class="d-flex align-items-center">
                              <ion-text class="dynamic-font">
                                {{(item.weight ? item.weight : '0')+'kg'}}
                              </ion-text>
                            </div>
                          </div>  -->
                          <ng-container *ngIf="item.weight">
                            <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                              <div>
                                <ion-text class="dynamic-font text-dark font-weight-bold">
                                  Cân nặng
                                </ion-text>
                              </div>
                              <div class="d-flex align-items-center">
                                <ion-text class="dynamic-font">
                                  {{((item.weight != null ? item.weight : 0 ) | number)+'kg'}}
                                </ion-text>
                              </div>
                            </div> 
                          </ng-container>
                          <ng-container *ngIf="(item.weightExchange | tranformDouble) > 0">
                            <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                              <div>
                                <ion-text class="dynamic-font text-dark font-weight-bold">
                                  Đo lên
                                </ion-text>
                              </div>
                              <div class="d-flex align-items-center">
                                <ion-text class="dynamic-font">
                                  {{'('+ (item.length | number)+'x'+ (item.width | number) + 'x' + (item.height | number) +')'}}
                                  &nbsp;
                                  {{(item.weightExchange | number) +'kg'}}
                                </ion-text>
                              </div>
                            </div> 
                          </ng-container>
                        </div>
                        <!-- <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                          <div>
                            <ion-text class="dynamic-font font-weight-bold text-dark">
                              Loại vận chuyển
                            </ion-text>
                          </div>
                          <div class="d-flex align-items-center">
                            <ng-container [ngSwitch]="item.movingMethod">
                              <ion-text *ngSwitchCase="1" class="dynamic-font">
                                Nhanh
                              </ion-text>
                              <ion-text *ngSwitchCase="2" class="dynamic-font">
                                Thường
                              </ion-text>
                              <ion-text *ngSwitchCase="3" class="dynamic-font">
                                Bộ
                              </ion-text>
                              <ion-text *ngSwitchCase="4" class="dynamic-font">
                                Bộ lô
                              </ion-text>
                              <ion-text *ngSwitchCase="5" class="dynamic-font">
                                Biển
                              </ion-text>
                              <ion-text *ngSwitchDefault>
                                Chưa thiết lập
                              </ion-text>
                            </ng-container>
                            
                          </div>
                        </div> -->
                        <!-- <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                          <div>
                            <ion-text class="dynamic-font font-weight-bold text-dark">
                              Trạng thái đơn
                            </ion-text>
                          </div>
                          <div class="d-flex align-items-center">
                            <ng-container [ngSwitch]="item?.status">
                              <ion-badge mode="md" *ngSwitchDefault color="medium">
                                <ion-text style="font-size: 1rem;color: white !important;" class="dynamic-font">
                                  <span>Chưa xác nhận</span>
                                </ion-text>
                              </ion-badge>
                              <ion-badge mode="md" *ngSwitchCase="2" color="tertiary">
                                <ion-text style="font-size: 1rem;color: white !important;" class="dynamic-font">
                                  <span>Hàng về kho TQ</span>
                                </ion-text>
                              </ion-badge>
                              <ion-badge mode="md" *ngSwitchCase="3" color="secondary">
                                <ion-text style="font-size: 1rem;color: white !important;" class="dynamic-font">
                                  <span>Đang về HCM</span>
                                </ion-text>
                              </ion-badge>
                              <ion-badge mode="md" *ngSwitchCase="4" style="--background	: black !important;">
                                <ion-text style="font-size: 1rem;color: white !important;" class="dynamic-font">
                                  <span>Hàng bị kiểm tra</span>
                                </ion-text>
                              </ion-badge>
                              <ion-badge mode="md" *ngSwitchCase="5" style="--background	: orange !important;">
                                <ion-text style="font-size: 1rem;color: white !important;" class="dynamic-font">
                                  <span>Đã thông quan</span>
                                </ion-text>
                              </ion-badge>
                              <ion-badge mode="md" *ngSwitchCase="6" color="primary">
                                <ion-text style="font-size: 1rem;color: white !important;" class="dynamic-font">
                                  <span>Hàng về tới HCM</span>
                                </ion-text>
                              </ion-badge>
                              <ion-badge mode="md" *ngSwitchCase="7" style="--background	: var(--ion-color-mat-primary) !important;">
                                <ion-text style="font-size: 1rem;color: white !important;" class="dynamic-font">
                                  <span>Đã nhận hàng</span>
                                </ion-text>
                              </ion-badge>
                              <ion-badge mode="md" *ngSwitchCase="9" color="dark">
                                <ion-text style="font-size: 1rem;color: white !important;" class="dynamic-font">
                                  <span>Đã hủy</span>
                                </ion-text>
                              </ion-badge>
                              <ion-badge mode="md" *ngSwitchCase="11" color="dark">
                                <ion-text style="font-size: 1rem;color: white !important;" class="dynamic-font">
                                  <span>Không nhận được hàng</span>
                                </ion-text>
                              </ion-badge>
                            </ng-container>
                          </div>
                        </div> -->
                        <!-- <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                          <div>
                            <ion-text class="dynamic-font font-weight-bold text-dark">
                              Kho nhận
                            </ion-text>
                          </div>
                          <div class="d-flex align-items-center">
                            <ng-container [ngSwitch]="item.wareHouse">
                              <ion-text *ngSwitchCase="'1'" class="dynamic-font">
                                Đông quản
                              </ion-text>
                              <ion-text *ngSwitchCase="'2'" class="dynamic-font">
                                Phật sơn
                              </ion-text>
                            </ng-container>
                          </div>
                        </div> -->
                        
                        <!-- <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                          <div>
                            <ion-text class="dynamic-font font-weight-bold text-dark">
                              Ngày lên đơn
                            </ion-text>
                          </div>
                          <div class="d-flex align-items-center">
                            <ion-text class="dynamic-font">
                              {{item.createdDate | date : 'dd/MM/yyyy hh:mm a'}}
                            </ion-text>
                          </div>
                        </div> -->
                        
                        
                        <!-- <div *ngIf="item.isWoodPackage || item.isAirPackage || item.isInsurance" style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                          <div>
                            <ion-text class="text-orange dynamic-font font-weight-bold">
                              Dịch vụ phụ
                            </ion-text>
                          </div>
                        </div> -->
                        <!-- <ng-container *ngIf="item.isWoodPackage">
                          <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                            <div>
                              <ion-text class="dynamic-font font-weight-bold text-dark">
                                Đóng gỗ
                              </ion-text>
                            </div>
                            <div class="d-flex align-items-center">
                              <i class="bi bi-check2-circle"></i>
                            </div>
                          </div> 
                          <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                            <div>
                              <ion-text class="dynamic-font font-weight-bold text-dark">
                                Phí đóng gỗ
                              </ion-text>
                            </div>
                            <div class="d-flex align-items-center">
                              <ion-text class="dynamic-font">
                                {{((item.woodPackagePrice != null ? item.woodPackagePrice : 0 ) | number)+'đ'}}
                              </ion-text>
                            </div>
                          </div> 
                        </ng-container> -->
                        <!-- <ng-container *ngIf="item.isAirPackage">
                          <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                            <div>
                              <ion-text class="dynamic-font font-weight-bold text-dark">
                                Bọt khí
                              </ion-text>
                            </div>
                            <div class="d-flex align-items-center">
                              <i class="bi bi-check2-circle"></i>
                            </div>
                          </div> 
                          <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                            <div>
                              <ion-text class="dynamic-font font-weight-bold text-dark">
                                Phí bọt khí
                              </ion-text>
                            </div>
                            <div class="d-flex align-items-center">
                              <ion-text class="dynamic-font">
                                {{((item.airPackagePrice != null ? item.airPackagePrice : 0) | number)+'đ'}}
                              </ion-text>
                            </div>
                          </div> 
                        </ng-container> -->
                        <!-- <ng-container *ngIf="item.isInsurance">
                          <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                            <div>
                              <ion-text class="dynamic-font font-weight-bold text-dark">
                                Bảo hiểm
                              </ion-text>
                            </div>
                            <div class="d-flex align-items-center">
                              <i class="bi bi-check2-circle"></i>
                            </div>
                          </div> 
                          <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                            <div>
                              <ion-text class="dynamic-font font-weight-bold text-dark">
                                Phí bảo hiểm
                              </ion-text>
                            </div>
                            <div class="d-flex align-items-center">
                              <ion-text class="dynamic-font">
                                {{((item.isInsurancePrice != null ? item.isInsurancePrice : 0) | number)+'đ'}}
                              </ion-text>
                            </div>
                          </div> 
                        </ng-container> -->
                        <!-- <ng-container *ngIf="item.isBrand">
                          <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                            <div>
                              <ion-text class="dynamic-font font-weight-bold text-dark">
                                Hàng hiệu
                              </ion-text>
                            </div>
                            <div class="d-flex align-items-center">
                              <i class="bi bi-check2-circle"></i>
                            </div>
                          </div> 
                        </ng-container> -->
                        
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
                <hr style="background-color: #ececec !important;height: 2px;">
              </ng-container>
            </ng-container>
            <ion-grid style="padding-top: 1em;" class="p-0" fixed>
              <ion-row>
                <ion-col class="p-0">
                  <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                    <div>
                      <ion-text style="color: var(--ion-color-mat-primary);" class="dynamic-font font-weight-bold">
                        Trạng thái đơn
                      </ion-text>
                    </div>
                    <div class="d-flex align-items-center">
                      <ng-container [ngSwitch]="oData.status">
                        <ion-badge mode="md" *ngSwitchCase="1" color="warning">
                          <ion-text style="font-size: 1rem;color: white !important;" class="dynamic-font">
                            <span>Chờ thanh toán</span>
                          </ion-text>
                        </ion-badge>
                        <ion-badge mode="md" *ngSwitchCase="2" style="--background:var(--ion-color-mat-primary) !important">
                          <ion-text style="font-size: 1rem;color: white !important;" class="dynamic-font">
                            <span>Đã thanh toán</span>
                          </ion-text>
                        </ion-badge>
                        <ion-badge mode="md" *ngSwitchCase="3" style="--background	: orange !important;">
                          <ion-text style="font-size: 1rem;color: white !important;" class="dynamic-font">
                            <span>Đã nhận hàng</span>
                          </ion-text>
                        </ion-badge>
                        <ion-badge mode="md" *ngSwitchCase="9" color="medium">
                          <ion-text style="font-size: 1rem;color: white !important;" class="dynamic-font">
                            <span>Đã hủy</span>
                          </ion-text>
                        </ion-badge>
                      </ng-container>
                    </div>
                  </div>
                  <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                    <div>
                      <ion-text style="color: var(--ion-color-mat-primary);" class="dynamic-font font-weight-bold">
                        Loại vận chuyển
                      </ion-text>
                    </div>
                    <div class="d-flex align-items-center">
                      <ion-text class="dynamic-font">
                        {{oData?.shippingMethodName}}
                      </ion-text>
                    </div>
                  </div>
                  <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                    <div>
                      <ion-text style="color: var(--ion-color-mat-primary);" class="dynamic-font font-weight-bold">
                        Ngày lên đơn
                      </ion-text>
                    </div>
                    <div class="d-flex align-items-center">
                      <ion-text class="dynamic-font">
                        {{oData?.createdDate | formatdate : 'dd/MM/yyyy hh:mm a'}}
                      </ion-text>
                    </div>
                  </div>
                  <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                    <div>
                      <ion-text style="color: var(--ion-color-mat-primary);" class="dynamic-font font-weight-bold">
                        Cân nặng
                      </ion-text>
                    </div>
                    <div class="d-flex align-items-center">
                      <ion-text class="dynamic-font">
                        {{(oData.weight | number) +'kg'}}
                      </ion-text>
                    </div>
                  </div>
                  <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                    <div>
                      <ion-text style="color: var(--ion-color-mat-primary);" class="dynamic-font font-weight-bold">
                        Phí vận chuyển
                      </ion-text>
                    </div>
                    <div class="d-flex align-items-center">
                      <ion-text class="dynamic-font">
                        {{((oData.weightPrice ? oData.weightPrice : 0 ) | number)+'đ'}}
                      </ion-text>
                    </div>
                  </div>
                  <ng-container *ngIf="oData?.woodPackagePrice && oData?.woodPackagePrice != '0'">
                    <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                      <div>
                        <ion-text style="color: var(--ion-color-mat-primary);" class="dynamic-font font-weight-bold">
                          Phí đóng gỗ
                        </ion-text>
                      </div>
                      <div class="d-flex align-items-center">
                        <ion-text class="dynamic-font">
                          {{((oData.woodPackagePrice ? oData.woodPackagePrice : 0 ) | number)+'đ'}}
                        </ion-text>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="oData?.airPackagePrice && oData?.airPackagePrice != '0'">
                    <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                      <div>
                        <ion-text style="color: var(--ion-color-mat-primary);" class="dynamic-font font-weight-bold">
                          Phí bọt khí
                        </ion-text>
                      </div>
                      <div class="d-flex align-items-center">
                        <ion-text class="dynamic-font">
                          {{((oData.airPackagePrice ? oData.airPackagePrice : 0) | number)+'đ'}}
                        </ion-text>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="oData?.insurancePrice && oData?.insurancePrice != '0'">
                    <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                      <div>
                        <ion-text style="color: var(--ion-color-mat-primary);" class="dynamic-font font-weight-bold">
                          Phí bảo hiểm
                        </ion-text>
                      </div>
                      <div class="d-flex align-items-center">
                        <ion-text class="dynamic-font">
                          {{((oData.insurancePrice ? oData.insurancePrice : 0) | number)+'đ'}}
                        </ion-text>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="oData.surCharge">
                    <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                      <div>
                        <ion-text style="color: var(--ion-color-mat-primary);" class="dynamic-font font-weight-bold">
                          Phí thu hộ
                        </ion-text>
                      </div>
                      <div class="d-flex align-items-center">
                        <ion-text class="dynamic-font">
                          {{((oData.surCharge ? oData.surCharge : 0) | number)+'đ'}}
                        </ion-text>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="oData.moreCharge">
                    <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                      <div>
                        <ion-text style="color: var(--ion-color-mat-primary);" class="dynamic-font font-weight-bold">
                          Phụ phí
                        </ion-text>
                      </div>
                      <div class="d-flex align-items-center">
                        <ion-text class="dynamic-font">
                          {{((oData.moreCharge ? oData.moreCharge : 0) | number)+'đ'}}
                        </ion-text>
                      </div>
                    </div>
                  </ng-container>
                  <!-- <ng-container *ngIf="oData.isWoodPackage">
                    <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                      <div>
                        <ion-text class="dynamic-font font-weight-bold text-dark">
                          Phí đóng gỗ
                        </ion-text>
                      </div>
                      <div class="d-flex align-items-center">
                        <ion-text class="dynamic-font">
                          {{((oData.woodPackagePrice ? oData.woodPackagePrice : 0 ) | number)+'đ'}}
                        </ion-text>
                      </div>
                    </div> 
                  </ng-container> -->
                  <!-- <ng-container *ngIf="oData.isAirPackage">
                    <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                      <div>
                        <ion-text class="dynamic-font font-weight-bold text-dark">
                          Phí bọt khí
                        </ion-text>
                      </div>
                      <div class="d-flex align-items-center">
                        <ion-text class="dynamic-font">
                          {{((oData.airPackagePrice ? oData.airPackagePrice : 0) | number)+'đ'}}
                        </ion-text>
                      </div>
                    </div> 
                  </ng-container> -->
                  <!-- <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                    <div>
                      <ion-text class="dynamic-font font-weight-bold text-dark">
                        Phụ phí
                      </ion-text>
                    </div>
                    <div class="d-flex align-items-center">
                      <ion-text class="dynamic-font">
                        {{((oData.surCharge ? oData.surCharge : 0 ) | number)+'đ'}}
                      </ion-text>
                    </div>
                  </div> -->
                  <!-- <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                    <div>
                      <ion-text class="dynamic-font font-weight-bold text-dark">
                        Tổng cộng
                      </ion-text>
                    </div>
                    <div class="d-flex align-items-center">
                      <ion-text class="font-weight-bold" class="dynamic-font">
                        {{(oData.totalPrice | number)+'đ'}}
                      </ion-text>
                    </div>
                  </div> -->
                </ion-col>
              </ion-row>
            </ion-grid>
            <div style="margin-bottom: 5rem;" class="w-100 h-100">
              <div style="position: relative;margin-top: 5rem;" class="w-100 h-100">
                <div style="border: 4px solid rgb(170, 170, 170);border-left: none;" class="w-100 h-100 pt-4 pb-4 pl-2 pr-2">
                  <!-- line so 1-->
                  <div *ngIf="oDataPackage?.status == 1" class="h-100 border-gradient-1-indeterminate"></div>
                  <div *ngIf="oDataPackage?.status > 1" class="h-100 border-gradient-1-active"></div>
                  <!-- line so 1-->
                   
                  <!-- line so 2-->
                  <div *ngIf="oDataPackage?.status == 2" class="w-100 border-gradient-2-indeterminate"></div>
                  <div *ngIf="oDataPackage?.status > 2" class="w-100 border-gradient-2-active"></div>
                  <!-- line so 2-->

                  <!-- line so 3-->
                  <div *ngIf="oDataPackage?.status == 3" class="h-100 border-gradient-3-indeterminate"></div>
                  <div *ngIf="oDataPackage?.status > 3" class="h-100 border-gradient-3-active"></div>
                  <!-- line so 3-->

                  <div style="flex-direction: column;
                                  left: -0.5em;
                                  position: absolute;
                                  top: -3.1em;" class="d-flex">
                    <div style="flex-direction: column;" class="d-flex">
                      <span class="font-weight-bold" style="font-size: 0.7rem;">
                        Đã kí nhận
                      </span>
                      <ion-text color="medium" class="dynamic-font">
                        <span *ngIf="oDataPackage.cnwhExpectation != null" style="font-size: 0.7rem;">
                          {{oDataPackage?.cnwhExpectation | formatdate : 'dd/MM/yyyy hh:mm a'}}
                        </span>
                        <span *ngIf="(oDataPackage.cnwhExpectation == null || oDataPackage.cnwhExpectation == '')" style="font-size: 0.7rem;">
                          (chưa có)
                        </span>
                      </ion-text>
                    </div>
                    <div class="circle-timeline-1"><span class="font-weight-bold">1</span></div>
                  </div>
                  <!-- arrow so 1-->
                  <div style="flex-direction: column;
                                  left: 50%;
                                  position: absolute;
                                  top: -0.6em;
                                  font-size: 1.2rem;
                                  z-index: 1000;
                                  transform: rotate(45deg);" class="d-flex">
                    <i style="color: rgb(170, 170, 170);" *ngIf="oDataPackage?.status == 1" class="bi bi-send-fill"></i>
                    <i *ngIf="oDataPackage?.status > 1" class="bi bi-send-fill icon-line-1"></i>
                  </div>
                  <!-- arrow so 1-->
                  <div style="flex-direction: column;
                                  right: -0.6rem;
                                  position: absolute;
                                  top: -3.1rem;" class="d-flex">
                    <div style="flex-direction: column;text-align: end;" class="d-flex">
                      <span class="font-weight-bold" style="font-size: 0.7rem;">
                        Xuất kho Trung Quốc
                      </span>
                      <ion-text color="medium" class="dynamic-font">
                        <span *ngIf="oDataPackage.exportedCNWH != null" style="font-size: 0.7rem;">
                          {{oDataPackage?.exportedCNWH | formatdate : 'dd/MM/yyyy hh:mm a'}}
                        </span>
                        <span *ngIf="(oDataPackage.exportedCNWH == null || oDataPackage.exportedCNWH == '')" style="font-size: 0.7rem;">
                          (chưa có)
                        </span>
                      </ion-text>
                    </div>
                    <div class="d-flex align-items-center justify-content-end">
                      <div class="circle-timeline-2"><span class="font-weight-bold">2</span></div>
                    </div>
                  </div>
                  <!-- arrow so 2-->
                  <div style="flex-direction: column;
                                  right: -0.4rem;
                                  position: absolute;
                                  top: 40%;
                                  transform: rotate(135deg);
                                  z-index: 1000;
                                  font-size: 1.2rem;" class="d-flex">
                    <i style="color: rgb(170, 170, 170);" *ngIf="oDataPackage?.status == 2" class="bi bi-send-fill"></i>
                    <i *ngIf="oDataPackage?.status > 2" class="bi bi-send-fill icon-line-2"></i>
                  </div>
                  <!-- arrow so 2-->
                  <div style="flex-direction: column;
                                  right: -0.5rem;
                                  position: absolute;
                                  bottom: -3rem;" class="d-flex">
                    <div style="flex-direction: column;text-align: end;" class="d-flex">
                      <div class="d-flex align-items-center justify-content-end">
                        <div class="circle-timeline-3"><span class="font-weight-bold">3</span></div>
                      </div>
                      <span class="font-weight-bold" style="font-size: 0.7rem;">
                        Đang trên đường về HCM
                      </span>
                      <ion-text color="medium" class="dynamic-font">
                        <span *ngIf="oDataPackage?.dateExpectation != null" style="font-size: 0.7rem;">
                          {{oDataPackage?.dateExpectation}}
                        </span>
                        <span *ngIf="(oDataPackage?.dateExpectation == null || oDataPackage?.dateExpectation == '')" style="font-size: 0.7rem;">
                          (chưa có)
                        </span>
                      </ion-text>
                    </div>
                  </div>
                  <!-- arrow so 3-->
                  <div style="flex-direction: column;
                                  right: 50%;
                                  position: absolute;
                                  bottom: -0.6rem;
                                  font-size: 1.2rem;
                                  transform: rotate(225deg);
                                  z-index: 1000;" class="d-flex">
                    <i style="color: rgb(170, 170, 170);" *ngIf="oDataPackage?.status == 3" class="bi bi-send-fill"></i>
                    <i *ngIf="oDataPackage?.status > 3" class="bi bi-send-fill icon-line-3"></i>
                  </div>
                  <!-- arrow so 3-->
                  <div style="flex-direction: column;
                                  left: -0.5rem;
                                  position: absolute;
                                  bottom: -3rem;" class="d-flex">
                    <div style="flex-direction: column;width: 150px;text-align: center;" class="d-flex">
                      <div style="z-index: 1000;" class="circle-timeline-4"><span class="font-weight-bold">4</span></div>
                      <span class="font-weight-bold" style="font-size: 0.7rem;">
                        Hàng bị HQ kiểm
                      </span>
                      <ion-text color="medium" class="dynamic-font">
                        <span *ngIf="oDataPackage?.inspectedDate != null" style="font-size: 0.7rem;">
                          {{oDataPackage?.inspectedDate | formatdate : 'dd/MM/yyyy hh:mm a'}}
                        </span>
                        <span *ngIf="(oDataPackage?.inspectedDate == null || oDataPackage?.inspectedDate == '')" style="font-size: 0.7rem;">
                          (chưa có)
                        </span>
                      </ion-text>
                    </div>
                  </div>
                  <!-- arrow so 4-->
                  <div style="flex-direction: column;
                                  left: -0.5rem;
                                  position: absolute;
                                  bottom: -60%;
                                  transform: rotate(135deg);
                                  font-size: 1.2rem;
                                  z-index: 1000;
                                  " class="d-flex">
                    <i style="color: rgb(170, 170, 170);" *ngIf="oDataPackage?.status == 4" class="bi bi-send-fill"></i>
                    <i *ngIf="oDataPackage?.status > 4" class="bi bi-send-fill icon-line-4"></i>
                  </div>
                  <!-- arrow so 4-->
                  <ion-text class="dynamic-font" style="font-size: 0.7rem;">
                    <span>{{content1}}</span>
                    <br>
                    <span>{{content2}}</span>
                  </ion-text>
                </div>
              </div>
              <div style="position: relative;" class="w-100 h-100">
                <div style="border: 4px solid rgb(170, 170, 170);border-right: none;border-top: none;padding-top: 4rem;" class="w-100 h-100 pb-4 pl-2 pr-2">
                  <!-- line so 4-->
                  <div *ngIf="oDataPackage?.status == 4" class="w-100 border-gradient-4-indeterminate"></div>
                  <div *ngIf="oDataPackage?.status > 4" class="w-100 border-gradient-4-active"></div>
                  <!-- line so 4-->

                  <!-- line so 5-->
                  <div *ngIf="oDataPackage?.status == 5" class="h-100 border-gradient-5-indeterminate"></div>
                  <div *ngIf="oDataPackage?.status > 5" class="h-100 border-gradient-5-active"></div>
                  <!-- line so 5-->
                   
                  <!-- line so 6-->
                  <div *ngIf="oDataPackage?.status == 6" class="h-100 border-gradient-6-indeterminate"></div>
                  <div *ngIf="oDataPackage?.status > 6" class="h-100 border-gradient-6-active"></div>
                  <!-- line so 6-->

                  <div style="flex-direction: column;
                                  left: -0.5rem;
                                  position: absolute;
                                  bottom: -3rem;" class="d-flex">
                    <div style="flex-direction: column;" class="d-flex">
                      <div class="circle-timeline-5"><span class="font-weight-bold">5</span></div>
                      <span class="font-weight-bold" style="font-size: 0.7rem;">
                        Đã thông quan
                      </span>
                      <ion-text color="medium" class="dynamic-font">
                        <span *ngIf="oDataPackage?.clearanceDate != null" style="font-size: 0.7rem;">
                          {{oDataPackage?.clearanceDate | formatdate : 'dd/MM/yyyy hh:mm a'}}
                        </span>
                        <span *ngIf="(oDataPackage?.clearanceDate == null || oDataPackage?.clearanceDate == '')" style="font-size: 0.7rem;">
                          (chưa có)
                        </span>
                      </ion-text>
                    </div>
                  </div>
                  <div style="flex-direction: column;
                                  left: 20%;
                                  position: absolute;
                                  bottom: -0.7rem;
                                  font-size: 1.2rem;
                                  z-index: 1000;
                                  transform: rotate(45deg);" class="d-flex">
                    <i style="color: rgb(170, 170, 170);" *ngIf="oDataPackage?.status == 5" class="bi bi-send-fill"></i>
                    <i *ngIf="oDataPackage?.status > 5" class="bi bi-send-fill icon-line-5"></i>
                  </div>
                  <div style="flex-direction: column;
                                  left: 40%;
                                  position: absolute;
                                  bottom: -3rem;" class="d-flex">
                    <div style="flex-direction: column;" class="d-flex">
                      <div class="circle-timeline-6"><span class="font-weight-bold">6</span></div>
                      <span class="font-weight-bold" style="font-size: 0.7rem;">
                        Đã về kho HCM
                      </span>
                      <ion-text color="medium" class="dynamic-font">
                        <span *ngIf="oDataPackage.importedSGWH != null" style="font-size: 0.7rem;">
                          {{oDataPackage?.importedSGWH | formatdate : 'dd/MM/yyyy hh:mm a'}}
                        </span>
                        <span *ngIf="(oDataPackage?.importedSGWH == null || oDataPackage?.importedSGWH == '')" style="font-size: 0.7rem;">
                          (chưa có)
                        </span>
                      </ion-text>
                    </div>
                  </div>
                  <div style="flex-direction: column;
                                  left: 70%;
                                  position: absolute;
                                  bottom: -0.7rem;
                                  font-size: 1.2rem;
                                  z-index: 1000;
                                  transform: rotate(45deg);" class="d-flex">
                    <i style="color: rgb(170, 170, 170);" *ngIf="oDataPackage?.status == 6" class="bi bi-send-fill"></i>
                    <i *ngIf="oDataPackage?.status > 6" class="bi bi-send-fill icon-line-6"></i>
                  </div>
                  <div style="flex-direction: column;
                                  right: 0rem;
                                  position: absolute;
                                  bottom: -3rem;" class="d-flex">
                    <div style="flex-direction: column;text-align: end;" class="d-flex">
                      <div class="d-flex align-items-center justify-content-end">
                        <div class="circle-timeline-7"><span class="font-weight-bold">7</span></div>
                      </div>
                      <span class="font-weight-bold" style="font-size: 0.7rem;">
                        Đã nhận hàng
                      </span>
                      <ion-text color="medium" class="dynamic-font">
                        <span *ngIf="oData.receivedDate != null" style="font-size: 0.7rem;">
                          {{oDataPackage?.receivedDate | formatdate : 'dd/MM/yyyy hh:mm a'}}
                        </span>
                        <span *ngIf="(oDataPackage.receivedDate == null || oDataPackage.receivedDate == '')" style="font-size: 0.7rem;">
                          (chưa có)
                        </span>
                      </ion-text>
                    </div>
                  </div>
                  <ion-text class="dynamic-font" style="font-size: 0.7rem;">
                    <span>{{content3}}</span>
                  </ion-text>
                </div>
              </div>
            </div>
            <!-- <div style="padding-top: 1em;">
              <ion-text style="color: var(--ion-color-mat-primary);" class="dynamic-font font-weight-bold">
                CHI TIẾT ĐƠN
              </ion-text>
            </div> -->
            
            <ng-container *ngIf="lstLog && lstLog.length">
              <div style="padding-top: 1em;">
                <ion-text style="color: var(--ion-color-mat-primary);" class="dynamic-font font-weight-bold">
                  NHẬT KÝ
                </ion-text>
              </div>
              <ion-list lines="none" style="background-color:white !important;">
                <ng-container *ngFor="let item2 of lstLog">
                  <ion-item *ngIf="item2?.context != '' && item2?.context != null" style="--background:white !important;padding-top: 1em;">
                    <ion-icon style="color: orange !important" slot="start" name="bookmark-outline"></ion-icon>
                    <ion-text class="dynamic-font" color="medium">
                      {{(item2.createdOn | formatdate : 'dd/MM/yyyy hh:mm a') + ' - '+item2?.context}}
                    </ion-text>
                  </ion-item>
                </ng-container>
              </ion-list>
            </ng-container>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
  </div>
  <!-- payment -->
  <ion-modal id="modal-dialog" style="--background:white !important" (willDismiss)="cancelPayment()" [isOpen]="isOpenPayment">
    <ng-template>
      <div class="p-3 w-100 h-100">
        <div class="w-100 mb-3">
          <ion-text class="dynamic-font text-center text-dark">
            <h3 class="mx-0 my-0 font-weight-bold">Thanh toán đơn hàng</h3>
          </ion-text>
        </div>
        <div class="w-100 text-center">
          <ion-text class="dynamic-font text-dark">
            <span>Quý khách có muốn thanh toán cho đơn hàng </span>
          </ion-text>
          <ion-text style="color: var(--ion-color-mat-primary) !important;" class="dynamic-font">
            <span>{{oData?.shippingOrderCode}}</span>
          </ion-text>
          <ion-text class="dynamic-font text-dark">
            <span> không? </span>
          </ion-text>
          <ion-text class="dynamic-font text-dark">
            <span>Tổng thanh toán cho đơn hàng là </span>
          </ion-text>
          <ion-text class="dynamic-font text-orange font-weight-bold">
            <span>{{(oData.totalPrice | number)+'đ'}}</span>
          </ion-text>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-3">
          <ion-button (click)="onPayment(oData)" mode="ios" size="default" class="ion-btn-default pr-3">
            <ion-text style="color: white !important;" class="dynamic-font">
              Đồng ý
            </ion-text>
          </ion-button>
          <ion-button (click)="cancelPayment()" mode="ios" size="default" color="medium">
            <ion-text style="color: white !important;" class="dynamic-font">
              Hủy bỏ
            </ion-text>
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
  <!-- payment -->
</ion-content>
<ion-footer *ngIf="oData?.status == 1" class="ion-no-border"
  style="box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;">
  <ion-toolbar mode="ios" style="--background:white !important">
    <div class="w-100 d-flex align-items-center justify-content-center">
      <ion-button (click)="openPayment(oData)" mode="ios" size="default" class="ion-btn-default w-100">
        <i style="font-size: 1.5rem;" class="bi bi-shield-fill-check mr-2"></i>
        <ion-text style="color: white !important;" class="dynamic-font font-weight-bold">
          {{'Thanh toán'+':'+' '+(oData.totalPrice | number)+'đ'}}
        </ion-text>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>