<ion-header class="ion-no-border">
  <ion-toolbar class="text-center" style="--background:white;">
    <ion-back-button slot="start" style="color: #ffb400;font-size: 1.2em;" text="Quay lại" icon="chevron-back-outline"></ion-back-button>
    <ion-title>Chi tiết đơn hàng</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header style="padding-bottom: 0em;">
      <div style="justify-content: space-between;" class="d-flex align-items-center">
        <div>
          <ion-text style="font-size: 1.2em;" class="font-weight-bold">
            Mã vận đơn
          </ion-text>
        </div>
        <div class="d-flex align-items-center">
          <ion-text style="font-size: 1.2em;">
            12345679999
          </ion-text>
          &nbsp;&nbsp;
          <ion-icon style="font-size: 1.5em;" name="copy-outline"></ion-icon>
        </div>
      </div>
    </ion-card-header>
    <ion-card-content>
      <div style="padding-top: 1em;">
        <ion-text color="primary">
          DANH SÁCH KIỆN
        </ion-text>
      </div>
      <div class="w-100" style="border: 1px solid #ececec;border-radius: 1em;margin-top: 1em;">
        <div class="container">
          <div class="row">
            <div class="col-md-6 offset-md-3">
              <ul class="timeline">
                <li>
                  <ion-text class="font-weight-bold">
                    XUẤT KHO TRUNG QUỐC
                  </ion-text>
                  <br>
                  <ion-text color="medium">
                    Ngày 20/12/2023
                  </ion-text>
                </li>
                <li>
                  <ion-text class="font-weight-bold">
                    ĐANG TRÊN ĐƯỜNG VỀ HCM
                  </ion-text>
                  <br>
                  <ion-text color="medium">
                    Ngày 20/12/2023
                  </ion-text>
                </li>
                <li>
                  <ion-text class="font-weight-bold">
                    ĐÃ VỀ KHO HCM
                  </ion-text>
                  <br>
                  <ion-text color="medium">
                    Ngày 20/12/2023
                  </ion-text>
                </li>
                <li class="d-flex align-items-center">
                  <ion-text class="font-weight-bold">
                    ĐÃ NHẬN HÀNG
                  </ion-text>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <ion-grid fixed>
          <ion-row>
            <ion-col>
              <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                <div>
                  <ion-text>
                    Mã kiện
                  </ion-text>
                </div>
                <div class="d-flex align-items-center">
                  <ion-text>
                    123123
                  </ion-text>
                </div>
              </div>
              <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                <div>
                  <ion-text>
                    Loại vận chuyển
                  </ion-text>
                </div>
                <div class="d-flex align-items-center">
                  <ion-text>
                    Chậm
                  </ion-text>
                </div>
              </div>
              <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                <div>
                  <ion-text>
                    Trạng thái đơn
                  </ion-text>
                </div>
                <div class="d-flex align-items-center">
                  <ion-text>
                    Hàng về tới hcm
                  </ion-text>
                </div>
              </div>
              <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                <div>
                  <ion-text>
                    Khách hàng
                  </ion-text>
                </div>
                <div class="d-flex align-items-center">
                  <ion-text>
                    Trần minh tân
                  </ion-text>
                </div>
              </div>
              <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                <div>
                  <ion-text>
                    Dịch vụ phụ
                  </ion-text>
                </div>
                <div class="d-flex align-items-center">
                  <ion-text>
                    Trần minh tân
                  </ion-text>
                </div>
              </div>
              <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                <div>
                  <ion-text>
                    Cân nặng
                  </ion-text>
                </div>
                <div class="d-flex align-items-center">
                  <ion-text>
                    2kg
                  </ion-text>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="w-100" style="border: 1px solid #ececec;border-radius: 1em;margin-top: 1em;">
        <div class="container">
          <div class="row">
            <div class="col-md-6 offset-md-3">
              <ul class="timeline">
                <li>
                  <ion-text class="font-weight-bold">
                    XUẤT KHO TRUNG QUỐC
                  </ion-text>
                  <br>
                  <ion-text color="medium">
                    Ngày 20/12/2023
                  </ion-text>
                </li>
                <li>
                  <ion-text class="font-weight-bold">
                    ĐANG TRÊN ĐƯỜNG VỀ HCM
                  </ion-text>
                  <br>
                  <ion-text color="medium">
                    Ngày 20/12/2023
                  </ion-text>
                </li>
                <li>
                  <ion-text class="font-weight-bold">
                    ĐÃ VỀ KHO HCM
                  </ion-text>
                  <br>
                  <ion-text color="medium">
                    Ngày 20/12/2023
                  </ion-text>
                </li>
                <li class="d-flex align-items-center">
                  <ion-text class="font-weight-bold">
                    ĐÃ NHẬN HÀNG
                  </ion-text>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <ion-grid fixed>
          <ion-row>
            <ion-col>
              <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                <div>
                  <ion-text>
                    Mã kiện
                  </ion-text>
                </div>
                <div class="d-flex align-items-center">
                  <ion-text>
                    123123
                  </ion-text>
                </div>
              </div>
              <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                <div>
                  <ion-text>
                    Loại vận chuyển
                  </ion-text>
                </div>
                <div class="d-flex align-items-center">
                  <ion-text>
                    Chậm
                  </ion-text>
                </div>
              </div>
              <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                <div>
                  <ion-text>
                    Trạng thái đơn
                  </ion-text>
                </div>
                <div class="d-flex align-items-center">
                  <ion-text>
                    Hàng về tới hcm
                  </ion-text>
                </div>
              </div>
              <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                <div>
                  <ion-text>
                    Khách hàng
                  </ion-text>
                </div>
                <div class="d-flex align-items-center">
                  <ion-text>
                    Trần minh tân
                  </ion-text>
                </div>
              </div>
              <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                <div>
                  <ion-text>
                    Dịch vụ phụ
                  </ion-text>
                </div>
                <div class="d-flex align-items-center">
                  <ion-text>
                    Trần minh tân
                  </ion-text>
                </div>
              </div>
              <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
                <div>
                  <ion-text>
                    Cân nặng
                  </ion-text>
                </div>
                <div class="d-flex align-items-center">
                  <ion-text>
                    2kg
                  </ion-text>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div style="padding-top: 1em;">
        <ion-text color="primary">
          CHI TIẾT ĐƠN
        </ion-text>
      </div>
      <ion-grid fixed>
        <ion-row>
          <ion-col>
            <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Cân nặng
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text>
                  2kg
                </ion-text>
              </div>
            </div>
            <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
              <div>
                <ion-text>
                  Trạng thái
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text>
                  <span class="badge rounded-pill bg-warning text-white">Chờ thanh toán</span>
                </ion-text>
              </div>
            </div>
            <div style="justify-content: space-between;padding-bottom: 1em;" class="d-flex align-items-center">
              <div>
                <ion-text class="font-weight-bold">
                  Tổng cộng
                </ion-text>
              </div>
              <div class="d-flex align-items-center">
                <ion-text class="font-weight-bold">
                  0d
                </ion-text>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar style="--background:white">
    <div style="padding-left: 1em;padding-right: 1em;">
      <button type="button" class="btn btn-primary btn-lg btn-block" style="border-radius: 1em;background-color: #ffb400;border: none;">THANH TOÁN</button>
    </div>
  </ion-toolbar>
</ion-footer>