<ion-header class="ion-no-border">
  <ion-toolbar class="text-center" style="--background:white;">
    <ion-back-button slot="start" style="color: #ffb400;font-size: 0.6rem;" text="Quay lại" icon="chevron-back-outline"></ion-back-button>
    <ion-title style="font-size: 0.6rem;">Đơn hàng</ion-title>
    <ion-icon style="font-size: 1.1rem;color: #ffb400;padding-right: 0.4rem;" slot="end" name="search-outline"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content style="height: 100vh;">
  <!-- <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div> -->
  <div style="height: calc(100vh - 43px);flex-direction: column;" class="w-100 d-flex align-items-center justify-content-center text-center">
    <img style="width: 50%;display: block;margin-left: auto;margin-right: auto;" src="../../../assets/image/no-order.png" alt="">
    <ion-label style="font-size: 0.7rem;">Chưa có đơn hàng</ion-label>
  </div>
  <!-- <div class="w-100 d-flex align-items-center justify-content-center text-center">
    <img style="width: 50%;display: block;margin-left: auto;margin-right: auto;" src="../../../assets/image/no-order.png" alt="">
    <ion-label style="font-size: 0.7rem;">Chưa có đơn hàng</ion-label>
  </div> -->
</ion-content>