<ion-header class="ion-no-border">
  <ion-toolbar style="--background:white;">
    <div class="d-flex align-items-center h-100 justify-content-center w-100">
      <ion-button (click)="onback()" mode="ios" fill="clear" mode="ios">
        <ion-icon mode="ios" style="color: #ffb400;" name="chevron-back-outline"></ion-icon>
      </ion-button>
      <ion-searchbar placeholder="Tìm kiếm đơn hàng" (ionChange)="ionChange($event)" enterkeyhint="search" mode="ios" class="p-3" show-clear-button="always"></ion-searchbar>
    </div>
  </ion-toolbar>
  <ion-toolbar style="--background:white;" class="pr-3 pl-3">
    <div style="overflow-x: scroll;">
      <ion-segment [scrollable]="true" [value]="status" mode="ios">
        <ion-segment-button (click)=" sortData(0)" [value]="0">
          <ion-text class="text-segment">
            <span style="font-size: 1em;">Tất cả</span>
          </ion-text>
        </ion-segment-button>
        <ion-segment-button (click)=" sortData(1)" [value]="1">
          <ion-text class="text-segment">
            <span style="font-size: 1em;">Chờ thanh toán</span>
          </ion-text>
        </ion-segment-button>
        <ion-segment-button (click)=" sortData(2)" [value]="2">
          <ion-text class="text-segment">
            <span style="font-size: 1em;">Đã thanh toán</span>
          </ion-text>
        </ion-segment-button>
        <ion-segment-button (click)=" sortData(3)" [value]="3">
          <ion-text class="text-segment">
            <span style="font-size: 1em;">Đã hủy</span>
          </ion-text>
        </ion-segment-button>
        <ion-segment-button (click)=" sortData(4)" [value]="4">
          <ion-text class="text-segment">
            <span style="font-size: 1em;">Khác</span>
          </ion-text>
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngIf="isloadpage">
    <div class="d-flex align-items-center justify-content-center h-100 w-100">
      <ion-spinner mode="ios" name="dots"></ion-spinner>
    </div>
  </ng-container>
  <ng-container *ngIf="isEmpty">
    <div style="flex-direction: column;" class="d-flex align-items-center justify-content-center h-100">
      <img style="width: 40%;" src="../../../assets/image/empty-box.png" alt="">
      <ion-text>
        Không có kiện hàng
      </ion-text>
    </div>
  </ng-container>
  <ng-container *ngIf="!isconnected">
    <div style="flex-direction: column;" class="d-flex align-items-center justify-content-center h-100">
      <img style="width: 40%;" src="../../../assets/image/connection.png" alt="">
      <ion-text>
        Mất kết nối internet
      </ion-text>
    </div>
  </ng-container>
  <ng-container *ngIf="lstData && lstData.length">
    <ion-list>
      <ng-container *ngFor="let item of lstData; trackBy: trackByFn">
        <ion-item (click)="viewDetail(item)" lines="none" style="border-bottom: 1px solid #f2f2f2;padding-top: 1em;">
          <ion-card class="w-100" style="margin: 0em;box-shadow: none" mode="ios">
            <ion-card-header style="padding: 0.2em;">
              <div style="justify-content: space-between;" class="d-flex align-items-center">
                <div>
                  <ion-text style="font-size: 1.2em;" class="font-weight-bold me-2">
                    Mã đơn hàng
                  </ion-text>
                </div>
                <div class="d-flex align-items-center">
                  <ion-text class="me-2" style="font-size: 1.2em;">
                    {{item.shippingOrderCode}}
                  </ion-text>
                  <ion-icon [cdkCopyToClipboard]="item.shippingOrderCode" (click)="onCopy()" style="font-size: 1.5rem;" name="copy-outline"></ion-icon>
                </div>
              </div>
            </ion-card-header>
            <ion-card-content style="padding: 0.2em;">
              <div class="d-flex align-items-center">
                <ng-container *ngIf="item.status == 1">
                  <img  style="width: 4em;height: 4em;
                  margin-right: 1rem;" src="../../../assets/image/wait-order.png" alt="">
                </ng-container>
                <ng-container *ngIf="item.status == 2">
                  <img  style="width: 4em;height: 4em;
                  margin-right: 1rem;" src="../../../assets/image/done-order.png" alt="">
                </ng-container>
                <ng-container *ngIf="item.status == 3">
                  <img  style="width: 4em;height: 4em;
                  margin-right: 1rem;" src="../../../assets/image/ship-cancel.png" alt="">
                </ng-container>
                <ng-container *ngIf="item.status == 4">
                  <img  style="width: 4em;height: 4em;
                  margin-right: 1rem;" src="../../../assets/image/ship-other.png" alt="">
                </ng-container>
                <div>
                  <ion-text mode="ios">
                    <span> Vận chuyển:</span>
                    <span>{{item.shippingMethodName}}</span>
                  </ion-text>
                  <br>
                  <ion-text>
                    <span>Ngày tạo: </span>
                    <span>{{item.createdDate | date : 'dd/MM/yyyy hh:mm a'}}</span>
                  </ion-text>
                  <br>
                  <ion-text>
                    <span>Người tạo: </span>
                    <span>{{item.lastName}}</span>
                  </ion-text>
                  <br>
                  <ion-text>
                    <span>Dịch vụ phụ: </span>
                    <span *ngIf="item.isWoodPackage">Đóng gỗ</span>
                    <span *ngIf="item.isWoodPackage && item.isAirPackage">-</span>
                    <span *ngIf="item.isAirPackage">Bọt khí</span>
                    <span *ngIf="item.isAirPackage && item.isInsurance">-</span>
                    <span *ngIf="item.isInsurance">Bảo hiểm</span>
                    <span *ngIf="!item.isWoodPackage && !item.isAirPackage && !item.isInsurance">Không có</span>
                  </ion-text>
                  <ion-text>
                  </ion-text>
                </div>
              </div>
              <div class="d-flex justify-content-end mb-2">
                <ng-container [ngSwitch]="item.status">
                  <span *ngSwitchCase="1" class="badge badge-pill badge-grey">Chờ thanh toán</span>
                  <span *ngSwitchCase="2" class="badge badge-pill badge-success">Đã thanh toán</span>
                  <span *ngSwitchCase="3" class="badge badge-pill badge-cancel">Đã hủy</span>
                  <span *ngSwitchCase="4" class="badge badge-pill badge-grey">Khác</span>    
                </ng-container>
              </div>
              <div class="d-flex justify-content-end">
                <ion-text class="font-weight-bold">
                  Tổng tiền:
                </ion-text>
                &nbsp;
                <ion-text class="font-weight-bold">
                  {{item.totalPrice | number}}
                </ion-text>
              </div>
              <!-- <div class="text-center d-flex justify-content-end pt-3 pb-3">
                <button (click)="viewDetail(item)" style="background-color: #ffc107;border: none !important;border-radius: 1em;" type="button" class="btn btn-primary btn-sm text-white">
                  <div class="d-flex align-items-center justify-content-center">
                    <i class="bi bi-eye me-2"></i>
                    <span>Xem chi tiết</span>
                  </div>
                </button>
                <ng-container *ngIf="item.status == 1">
                  <button style="border-radius: 1em;background-color: var(--ion-color-success);border: none;" (click)="onPayment(item)" type="button" class="btn btn-secondary btn-sm text-white ml-3">
                    <div class="d-flex align-items-center justify-content-center">
                      <i class="bi bi-credit-card me-2"></i>
                      <span>Thanh toán</span>
                    </div>
                  </button>
                </ng-container>
              </div>  -->
            </ion-card-content>
          </ion-card>
        </ion-item>
      </ng-container>
    </ion-list>
    <ion-infinite-scroll *ngIf="isload" (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>
</ion-content>