<ion-content style="--background:white !important;">
  <!-- Home Page -->
  <!-- <div class="w-100 p-2 d-flex align-items-center justify-content-between pb-2 ">
    <div class="padding-statusbar-ios">
      <ion-text>
        <h3 class="mx-0 my-0 font-weight-bold dynamic-font text-primary-default">Trakuaidi</h3>
      </ion-text>
    </div>
    <div class="padding-statusbar-ios">
      <img style="width: 2rem;height: 2rem;" src="../../../assets/image/customer-service-headset.png" alt="">
    </div>
  </div> -->
  <ng-container *ngIf="isReview">
    <div class="w-100">
      <div class="w-100 padding-statusbar-ios">
        <swiper-container #swiper mode="ios" [slidesPerView]="1" [loop]="true" [pagination]="true">
          <swiper-slide>
            <div>
              <img class="w-100" style="box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;" src="../../assets/image/anh-slide-1.jpg"
              alt="">
            </div>
          </swiper-slide>
          <swiper-slide>
            <div>
              <img class="w-100" style="box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;" src="../../assets/image/anh-slide-1.jpg"
              alt="">
            </div>
          </swiper-slide>
          <swiper-slide>
            <div>
              <img class="w-100" style="box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;" src="../../assets/image/anh-slide-1.jpg"
              alt="">
            </div>
          </swiper-slide>
          <swiper-slide>
            <div>
              <img class="w-100" style="box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;" src="../../assets/image/anh-slide-1.jpg"
              alt="">
            </div>
          </swiper-slide>
        </swiper-container>
      </div>
      <div class="pl-3 w-100">
        <ion-text class="dynamic-font text-dark">
          <h4 class="mx-0 my-0 font-weight-bold ">Truy cập nhanh</h4>
        </ion-text>
      </div>
      <div class="w-100 p-3">
        <ion-card mode="ios" class="m-1"
          style="--background:white !important;box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;">
          <ion-card-content class="p-2">
            <ion-list style="background-color:white !important;">
              <ion-item style="--background:white !important" lines="none">
                <img slot="start" style="width: 10rem;" src="../../../assets/image/payment.jpg">
                <div style="flex-direction: column;" class="w-100 text-center d-flex align-items-center">
                  <ion-text class="dynamic-font text-dark">
                    Đang chờ
                  </ion-text>
                  <div style="white-space: nowrap;
                                  overflow: hidden;
                                  text-overflow: ellipsis;">
                    <ion-text *ngIf="ship1 != undefined" class="dynamic-font text-dark">
                      <span class="font-weight-bold">{{0 | number}}</span>
                    </ion-text>
                    <ion-skeleton-text style="width: 80px;" *ngIf="ship1 == undefined" [animated]="true"></ion-skeleton-text>
                  </div>
                </div>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="w-100 p-3">
        <ion-card mode="ios" class="m-1"
          style="--background:white !important;box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;">
          <ion-card-content class="p-2">
            <ion-list style="background-color:white !important;">
              <ion-item style="--background:white !important" lines="none">
                <img slot="start" style="width: 10rem;" src="../../../assets/image/plan-delivery.jpg">
                <div style="flex-direction: column;" class="w-100 text-center d-flex align-items-center">
                  <ion-text class="dynamic-font text-dark">
                    Kiện đang vận chuyển
                  </ion-text>
                  <div style="white-space: nowrap;
                                  overflow: hidden;
                                  text-overflow: ellipsis;">
                    <ion-text *ngIf="pack3 != undefined" class="dynamic-font text-dark">
                      <span class="font-weight-bold">{{0 | number}}</span>
                    </ion-text>
                    <ion-skeleton-text style="width: 80px;" *ngIf="pack3 == undefined" [animated]="true"></ion-skeleton-text>
                  </div>
                </div>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="w-100 p-3">
        <ion-card mode="ios" class="m-1"
          style="--background:white !important;box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;">
          <ion-card-content class="p-2">
            <ion-list style="background-color:white !important;">
              <ion-item style="--background:white !important" lines="none">
                <img slot="start" style="width: 10rem;" src="../../../assets/image/payment-done.jpg">
                <div style="flex-direction: column;" class="w-100 text-center d-flex align-items-center">
                  <ion-text class="dynamic-font text-dark">
                    Đã nhận
                  </ion-text>
                  <div style="white-space: nowrap;
                                  overflow: hidden;
                                  text-overflow: ellipsis;">
                    <ion-text *ngIf="0 != undefined" class="dynamic-font text-dark">
                      <span class="font-weight-bold">{{0 | number}}</span>
                    </ion-text>
                    <ion-skeleton-text style="width: 80px;" *ngIf="ship2 == undefined" [animated]="true"></ion-skeleton-text>
                  </div>
                </div>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="w-100 p-3">
        <ion-card mode="ios" class="m-1"
          style="--background:white !important;box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;">
          <ion-card-content class="p-2">
            <ion-list style="background-color:white !important;">
              <ion-item style="--background:white !important" lines="none">
                <img slot="start" style="width: 10rem;" src="../../../../assets/image/delivery-done.jpg">
                <div style="flex-direction: column;" class="w-100 text-center d-flex align-items-center">
                  <ion-text class="dynamic-font text-dark">
                    Đã nhận hàng
                  </ion-text>
                  <div style="white-space: nowrap;
                                  overflow: hidden;
                                  text-overflow: ellipsis;">
                    <ion-text *ngIf="pack5 != undefined" class="dynamic-font text-dark">
                      <span class="font-weight-bold">{{0 | number}}</span>
                    </ion-text>
                    <ion-skeleton-text style="width: 80px;" *ngIf="pack5 == undefined" [animated]="true"></ion-skeleton-text>
                  </div>
                </div>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!isReview">
    <div class="w-100">
      <div class="w-100 padding-statusbar-ios">
        <swiper-container #swiper mode="ios" [slidesPerView]="1" [loop]="true" [pagination]="true">
          <ng-container *ngIf="lstImg && lstImg.length == 0">
            <div class="w-100">
              <ion-skeleton-text class="w-100" style="height: 200px;" [animated]="true"></ion-skeleton-text>
            </div>
          </ng-container>
          <ng-container *ngIf="lstImg && lstImg.length > 0">
            <swiper-slide *ngFor="let item of lstImg">
              <div>
                <img class="w-100" style="box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;" [src]="'data:image/jpeg;base64,'+item?.imageSrc"
                alt="">
              </div>
            </swiper-slide>
          </ng-container>
          <!-- <swiper-slide>
            <div>
              <img class="w-100" style="box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;" src="../../assets/image/anh-slide-1.jpg"
              alt="">
            </div>
          </swiper-slide>
          <swiper-slide>
            <div>
              <img class="w-100" style="box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;" src="../../assets/image/anh-slide-1.jpg"
              alt="">
            </div>
          </swiper-slide>
          <swiper-slide>
            <div>
              <img class="w-100" style="box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;" src="../../assets/image/anh-slide-1.jpg"
              alt="">
            </div>
          </swiper-slide>
          <swiper-slide>
            <div>
              <img class="w-100" style="box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;" src="../../assets/image/anh-slide-1.jpg"
              alt="">
            </div>
          </swiper-slide> -->
        </swiper-container>
      </div>
      <div class="pl-3 pt-3 w-100">
        <ion-text>
          <h4 class="mx-0 my-0 font-weight-bold dynamic-font text-dark">Dịch vụ</h4>
        </ion-text>
      </div>
      <div class="w-100 p-3">
        <div class="row">
          <div class="col-3">
            <div style="flex-direction: column;" class="d-flex align-items-center justify-content-center text-center">
              <img style="width: 3rem;height:3rem;" (click)="goRechargePage()" src="../../../assets/image/qr-code.png" />
              <ion-text class="dynamic-font text-dark">
                <span>Nạp tiền</span>
              </ion-text>
            </div>
          </div>
          <div class="col-3">
            <div style="flex-direction: column;" class="d-flex align-items-center justify-content-center text-center">
              <img style="width: 3rem;height:3rem;" (click)="goHistoryPage()" src="../../../assets/image/icon-trasaction.png" />
              <ion-text class="dynamic-font text-dark">
                <span>Lịch sử GD</span>
              </ion-text>
            </div>
          </div>
          <div class="col-3">
            <div style="flex-direction: column;" class="d-flex align-items-center justify-content-center text-center">
              <img (click)="goRegulationsPage()" style="width: 3rem;height:3rem;" src="../../../assets/image/icon-financial.png" />
              <ion-text class="dynamic-font text-dark">
                <span>Quy định đền bù</span>
              </ion-text>
            </div>
          </div>
          <div class="col-3">
            <div style="flex-direction: column;" class="d-flex align-items-center justify-content-center text-center">
              <img style="width: 3rem;height:3rem;"  (click)="goServicechargePage()" src="../../../assets/image/icon-airport.png" />
              <ion-text class="dynamic-font text-dark">
                <span>Phí vận chuyển</span>
              </ion-text>
            </div>
          </div>
        </div>
      </div>
      <div class="pl-3 w-100">
        <ion-text class="dynamic-font text-dark">
          <h4 class="mx-0 my-0 font-weight-bold ">Truy cập nhanh</h4>
        </ion-text>
      </div>
      <div class="w-100 p-3">
        <ion-card (click)="goOrderPage(1)" mode="ios" class="m-1"
          style="--background:white !important;box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;">
          <ion-card-content class="p-2">
            <ion-list style="background-color:white !important;">
              <ion-item style="--background:white !important" lines="none">
                <img slot="start" style="width: 10rem;" src="../../../assets/image/payment.jpg">
                <div style="flex-direction: column;" class="w-100 text-center d-flex align-items-center">
                  <ion-text class="dynamic-font text-dark">
                    Đang chờ thanh toán
                  </ion-text>
                  <div style="white-space: nowrap;
                                  overflow: hidden;
                                  text-overflow: ellipsis;">
                    <ion-text *ngIf="ship1 != undefined" class="dynamic-font text-dark">
                      <span class="font-weight-bold">{{ship1 | number}}</span>
                    </ion-text>
                    <ion-skeleton-text style="width: 80px;" *ngIf="ship1 == undefined" [animated]="true"></ion-skeleton-text>
                  </div>
                </div>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="w-100 p-3">
        <ion-card (click)="goPackagePage(3)" mode="ios" class="m-1"
          style="--background:white !important;box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;">
          <ion-card-content class="p-2">
            <ion-list style="background-color:white !important;">
              <ion-item style="--background:white !important" lines="none">
                <img slot="start" style="width: 10rem;" src="../../../assets/image/plan-delivery.jpg">
                <div style="flex-direction: column;" class="w-100 text-center d-flex align-items-center">
                  <ion-text class="dynamic-font text-dark">
                    Kiện đang vận chuyển
                  </ion-text>
                  <div style="white-space: nowrap;
                                  overflow: hidden;
                                  text-overflow: ellipsis;">
                    <ion-text *ngIf="pack3 != undefined" class="dynamic-font text-dark">
                      <span class="font-weight-bold">{{pack3 | number}}</span>
                    </ion-text>
                    <ion-skeleton-text style="width: 80px;" *ngIf="pack3 == undefined" [animated]="true"></ion-skeleton-text>
                  </div>
                </div>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="w-100 p-3">
        <ion-card (click)="goOrderPage(2)" mode="ios" class="m-1"
          style="--background:white !important;box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;">
          <ion-card-content class="p-2">
            <ion-list style="background-color:white !important;">
              <ion-item style="--background:white !important" lines="none">
                <img slot="start" style="width: 10rem;" src="../../../assets/image/payment-done.jpg">
                <div style="flex-direction: column;" class="w-100 text-center d-flex align-items-center">
                  <ion-text class="dynamic-font text-dark">
                    Đã thanh toán
                  </ion-text>
                  <div style="white-space: nowrap;
                                  overflow: hidden;
                                  text-overflow: ellipsis;">
                    <ion-text *ngIf="ship2 != undefined" class="dynamic-font text-dark">
                      <span class="font-weight-bold">{{ship2 | number}}</span>
                    </ion-text>
                    <ion-skeleton-text style="width: 80px;" *ngIf="ship2 == undefined" [animated]="true"></ion-skeleton-text>
                  </div>
                </div>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="w-100 p-3">
        <ion-card (click)="goPackagePage(5)" mode="ios" class="m-1"
          style="--background:white !important;box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;">
          <ion-card-content class="p-2">
            <ion-list style="background-color:white !important;">
              <ion-item style="--background:white !important" lines="none">
                <img slot="start" style="width: 10rem;" src="../../../../assets/image/delivery-done.jpg">
                <div style="flex-direction: column;" class="w-100 text-center d-flex align-items-center">
                  <ion-text class="dynamic-font text-dark">
                    Đã nhận hàng
                  </ion-text>
                  <div style="white-space: nowrap;
                                  overflow: hidden;
                                  text-overflow: ellipsis;">
                    <ion-text *ngIf="pack5 != undefined" class="dynamic-font text-dark">
                      <span class="font-weight-bold">{{pack5 | number}}</span>
                    </ion-text>
                    <ion-skeleton-text style="width: 80px;" *ngIf="pack5 == undefined" [animated]="true"></ion-skeleton-text>
                  </div>
                </div>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </ng-container>
  <!-- Home Page -->
</ion-content>